
/*This is the biggest and very first container.*/
textarea {
  resize: vertical;
  min-height: 20px;
}
.mobile-callback-wrapper {
  display: none;
}

.main {
 background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(assets/bg-main.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

.payment--form .order--form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 415px;
  margin-bottom: 0;
}

.check-list--item-actions {

    padding-top: 0;
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    padding-bottom: 15px;

}

.body {
  background: rgba(255,255,255,0.8);
}
/*This is the first container that contains all other elements in the first block.*/

.block-1 {
  margin-left: auto;
  margin-right: auto;
  width: 1010px;
  height: 415px;
  position: relative;
  text-align: center;
}

.title {
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height: 40px;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: white;
  font-weight: 700 !important;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 70px;
}

/* This is icons container. Those that go on the seconds line */
.icons-container {
  width: 915px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: 49px;

}

.icon-1,
.icon-2,
.icon-3,
.icon-5 {
  margin-right: 33px;
  height: 20px;
  display: flex;
}

.icon-4 {
  margin-right: 27px;
  height: 20px;
  display: flex;
}

.icon-6 {
  height: 20px;
  display: flex;
}

.icon-parsels,
.icon-goods,
.icon-purchase,
.icon-flower,
.icon-gifts,
.icon-docs {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  display: flex;
}

.icon-name {
  margin: auto;
  width: 75%;
  height: 20px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

 /*Contain short number, button "call courier" and text "callback"*/
.contact-ways--container {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 120%;
  /* padding-right: 1%; */
  padding-top: 48px;
}

.button-holder{
  width: 252px;
  height: 45px;
  display: flex;

}

.button {
  font-family: 'Montserrat', sans-serif;
  color: #01a39c;
  background:white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  height: 47px;
  width: 252px;
  padding-top: 3px;
  padding-right: 2px;
}

.back-call--container {
  width: 205px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-left: 35px;
  position: relative;
}

.mobile-callback-wrapper {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 20; 
  display: none;
}

.icon-phone {

  width: 13%;
  height: 100%;
  display: flex;
  color: #01a39c;
  margin-right: 17px;
  padding-top: 0px;
}

.number {

  width: 42%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color:white;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-top: 0px;
}

.desktop-back-call-text {

  width: 67px;
  height: auto;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #00ca80;
  text-align: left;
  text-align-last: justify;
  margin-left: 110px;
  padding-top: 3px;
  position: absolute;
}

.mobile-back-call-text {
  display: none;
}

 /*infomation block /
 Блок инфо. "Доставим от 1 часа и т. д." */

.info-container {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 15%;
  display: flex;
  padding-top: 95px;

}

.info-1 {
  margin-right: 0;
  height: 45px;
  width: 290px;
  align-items: center;
  justify-content: center;
  margin-left: 17px;
  margin-bottom: 30px;
}

.info-2 {
  margin-left: auto;
  width: 269px;
  height: 59px;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-bottom: 15px;
}

.colored-word {
  color: #00ca80;
  font-weight: 900;
}

.info-3 {
  margin-left: 0;
  height: 45px;
  width: 281px;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 0;
}


.info-2--container {
  width: 280px;
  height: 40%;
  align-items: center;
  display: flex;
}

.info-2--subpart {
  width: 180px;
  height: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 13px;
  color: white;
  padding-top: 8px;
  display: inline;
}

.info-2--icon {
  width: 65px;
  height: 17px;
  padding: 1% 2% 1%;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  position: relative;
  display: inline;
  margin-left: 10px;
  margin-top: 7px;
}

.info-2--icon img {
  max-width: 70px;
}

.info-1--part--1 {
  margin-left: auto;
  margin-right: 20px;
  height: 25px;
  font-family: 'Montserrat', "Open Sans";
  font-weight: 900;
  font-size: 24px;
  color: white;
  text-align: center;
}

.info-3--part--1 {
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  font-family: 'Montserrat', "Open Sans";
  font-weight: 900;
  font-size: 24px;
  color: white;
  text-align: center;
  padding-right: 5px;
}

.info-2--part--1 {
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: white;
  text-align: left;
}


.info-1--part--2,
.info-3--part--2 {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 20px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 13px;
  color: white;
  padding-top: 7px;
}

/*Here starts the hidden contact form (that one that shows up when you click to note "callback")in the first block */
.contact-form {
  position: relative;
  width: 257px;
  height: 146px;
  list-style: none;
  background: white;
  padding: 20px;
  /* z-index: 9999; */
  left: 25px;
  top: 0px;
  bottom: 0px;
  -webkit-appearance: none;
}

#wrap-contact-form {
  position: relative;
  width: 0px;
  height: 0px;
  /* left: 195px; */
  /* top: 95px; */
}

.field {
  position: relative;
  margin-bottom: 18px;
  width: 95%;
  height: 31px;
  border-radius: 4px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #DCDCDC;
  font-size: 100%;
  padding-left: 10px;
}

.submit-button {
  background: #00a693;
  color: white;
  position: relative;
  width: 101%;
  height: 39px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding: 1% 18% 0%;
  border-radius: 9px;
  font-size: 15px;
}

/*This is a main block of second section.*/

.block-2 {
  max-width: 100%;
  height: 350px;
  display: flex;
}

/*Here starts a first sublock of second section (subblock on the left side)*/

.route-block {
  width: 50%;
  height: 100%;
  background-color: #f8f9fa;
}

.route-container {
  width: 261px;
  height: 249px;
  margin-left:45%;
  margin-top: 44px;
}

.route-title {
  width: 100%;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: black;
}

.scratch {
    width: 100%;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 13px;
    color: black;
}


.pitstop-1--container,
.pitstop-2--container,
.pitstop-3--container,
.pitstop-4--container,
.pitstop-5--container {
  margin-top: 22px;
  width: 260px;
  height: 27px;
  display: flex;
}

.sentence {
  margin-top: 5px;
  margin-left: 25px;
  width: 238px;
  height: 27px;
  font-family: 'Montserrat', sans-serif;
  color: black !important;
  font-weight: 400;
  font-size: 14px;
  flex: 1;
  line-height: 1.5;

}

.stripe {
  margin-top: 15px;
  height: 20px;
  width: 14px;
}

.route-icons--container {
  margin-right: 5px;
  width: 20px;
  height: 16px;
  position: absolute;
}

.icon {
  margin-right: 5px;
  width: 14px;
  height: 14px;
  position: absolute;
  margin-top: 8px;
}


.icon{
    margin-right: 5px;
    width: 14px;
    height: 14px;
    position: absolute;
    margin-top: 8px;
}

/*Here starts second subblock (form in the second section (that one that has a button "get a proposal" on the right side of block) */

.form-block,
.feedback-block {
  width: 50%;
  height: 100%;
  background-color: #f0f3f5;
  flex: 1;
}

.form-container {
  width: 363px;
  height: 263px;
  flex: 1;
  margin-left:60px;
  margin-top: 44px;
}

.form-title,
.feedback-title {
  width: 314px;
  height: 54px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: black;
  line-height: 1.5;
}

.message {
  width: 350px;
  height: 40px;
  margin-top: 22px;
  margin-bottom: 22px;
  color: #777879;
  font-size: 14px;
  line-height: 2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.form-field--1 {
  position: relative;
  margin-bottom: 10px;
  width: 328px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid grey;
  padding-left: 10px;
}

.form-field--2 {
  position: relative;
  margin-bottom: 10px;
  width: 328px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid grey;
  padding-left: 10px;
}

.form-button {
  font-size: 16px;
  font-weight: 800;
  width: 270px;
  height: 44px;
  background: #00a693;
  color: white;
  position: relative;
  font-family: 'Montserrat' sans-serif;
  border-radius: 5px;
}
/*Here starts second block that replaces form block*/
.feedback-block {
    width: 50%;
    height: 100%;
    background-color: #f0f3f5;
}

.feedback-container {
    width: 363px;
    height: 263px;
    margin-left:60px;
    margin-top: 44px;
}

.feedback-message {
  margin-top: 5px;
  margin-left: 0px;
  width: 231px;
  height: 27px;
  font-family: 'Montserrat' sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.tick-container {
    margin-right: 20px;
    width: 100px;
    height: 100px;

}
/*Here starts third block*/

.order-form--title {
  margin: auto;
  width: 350px;
  height: 46px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black;
  font-size: 35px;
  text-align: center;
  padding-bottom: 10px;
}

.order-form--start {

  margin-bottom: 10px;
  background: url(assets/icn-start.svg) no-repeat scroll 99% 1px;
  background-size: 4%;
  background-position: 99% center;

}

.subject-of--order--form {
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-form--finish {
  background: url(assets/icn-end.svg) no-repeat scroll 99% 1px;
  background-size: 4%;
  background-position: 99% center;
}

.subject-of--order--form-clone {
    border-radius: 5px;

}

.clone-container {
    height: auto;
    display: none;
}

.add-item {
  margin-left: 81%;
 text-align: right;
}

.add-item-container {

  -webkit-appearance: none;

}

.x {
  width: 10px;
  height: 10px;
  margin-left: 290px;
  color: gray;
  font-family: Times;
}

.x:before {
  position: relative;
  content: "\d7";
  font-size: 30px;
  color: gray;
  font-weight: normal italic;
  bottom: 34px;
  left: 269px;
  width: 5px;
  height: 5px;
}

.add-info {
 text-align: left;
}

.additional-field {
  width: 585px;
  padding: 11px 0px;
  line-height: 1.4;
  margin-top: 10px;
  display: none;
}

textarea {
  width: 100%;
  padding: 11px 15px;
  line-height: 1.4;
  border-radius: 5px;
  -webkit-appearance: none;
}

.additional-field-cross-container {
  justify-content: center;
  display: flex;
  margin-bottom: 0;
  align-items: center;
  position: relative;
}

.cross {
  width: 25px;
  height: 100%;
  margin-right: 0px;
  font-family: Times;
  position: absolute;
  right: 4px;
  top: 7px;
  align-items: center;
  justify-content: right;
  display: flex;
}

.cross:before {
  content: "\d7";
  font-size: 35px;
  color: lightgray;
  width: 15px;
  height: 25px;
  margin: 5px;
}

.cross-container {
  justify-content: flex-end;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  position: relative;
}

.input-cross {
  width: 24px;
  height: 100%;
  margin-right: 0px;
  font-family: Times;
  position: absolute;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 3px;
}

.input-cross:before {
  content: "\d7";
  font-size: 35px;
  line-height: 1;
  color: lightgray;
  max-height: 25px;     
}

.due-date {
position: relative;
display: flex;
color: #00a693;
margin-bottom: 10px;
margin-top: 15px;
}

 .due-date input[type=radio],
  input[type=checkbox] {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.date-delivery {
  margin-left: 190px;
}

.due-date input[type=radio] + label:before,
 input[type=checkbox] + label:before {
  content: '';
  background: #fff;
  border: .1em solid rgba(156, 155, 155, 0.75);
  background-color: rgba(255, 255, 255, .8);
  display: block;
  box-sizing: border-box;
  float: left;
  width: 15px;
  height: 15px;
  margin-left: -2em;
  margin-top: -0.1em;
  cursor: pointer;
  text-align: center;
  transition: all .1s ease-out;
}

.due-date input[type=radio] + label:before {
  border-radius: 100%;
}

input[type=radio]:checked + label:before {
  background-color: #00a693;
  box-shadow: inset 0 0 0 .30em white;
}

.order-form--button {
  font-size: 16px;
  font-weight: 800;
  width: 289px;
  height: 46px;
  background: #00a693;
  color: white;
  position: relative;
  font-family: 'Montserrat' sans-serif;
  border-radius: 5px;
  margin-top: 15px;
}

.courier-title {
  text-align: left;
  margin: 0 0 15px;
  font-family: Muller-Bold, sans-serif;
  font-size: 16px;
}

/*Here starts partners section*/

 .block-4 {
   max-width: 100%;
   height: auto;
   background-color: #f2fafa;
 }

 .partners-container {
   width: 2000px;
   height: 100%;
   margin: auto;
 }

 .partners-title {
  margin: auto;
  width: auto;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: black;
  font-size: 35px;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 0;
  text-align: center;
 }

 .logos-container {
   width: 1490px;
   height: 210px;
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   align-items: center;
   justify-content: center;
   margin-bottom: 45px;
  }

 .logos {
   width: 90px !important;
   height: 90px !important;
   padding: 4px;
   position: relative;
   justify-content: justify;
 }

 .block-5 {
   width: 100%;
   height: auto;
   background-color: white;
 }

 .ceo-container {
   width: 877px;
   height: 481px;
   margin: auto;
   margin-top: 75px;
 }

 .ceo-container h2 {
   margin-left: 100px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 900;
   color: black;
   font-size: 24px;
   width: auto;
   font-size: 18px;
 }

 .ceo-container p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
 }

 .ceo-container h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.5;
 }

 .ceo-container ul {
  list-style:none;
  padding: 0;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.ceo-container li {
  padding: 1px;
  margin-bottom: 10px;
}

.ceo-container li:before {
  content: '';
  display: inline-block;
  height:7px;
  width: 7px;
  vertical-align: middle;
  border-radius:50%;
  background-color: #00a693;
  margin-right:5px;
}

/* Here are styles for mobile recall form*/

.mobile-recall--title {
  font-size: 28px;
  margin: 0 0 26px;
  font-family: 'Montserrat', sans-serif;
}
