.about--us {
  .title {
    text-align: center;
    margin-top: 70px;
  }
  .sub--title {
    font-size: 28px;
    font-family: Muller-Bold, sans-serif;
    text-align: center;
  }
  @media screen and (max-width: 829px) {
    .sub--title {
      font-size: 22px;
    }
    .title {
      font-size: 26px;
    }
  }
}

.about--services, .about--team {
  max-width: 1046px;
  .sub--title {
    color: #ff5a5e;
    margin-top: 33px;
    margin-bottom: 10px;
  }
  .description {
    color: #2b2b3b;
    font-size: 16px;
    text-align: center;
  }
  .services--wrap {
    margin: 45px auto 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .services--item {
      color: #6a737b;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 130px;
      margin-bottom: 30px;
      object {
        margin-bottom: 20px;
        pointer-events: none;
      }
    }
    @media screen and (max-width: 829px) {
      margin-bottom: 40px;
      justify-content: space-around;
    }
  }
}

.about--information {
  position: relative;
  .information--wrap {
    display: flex;
    .information--text {
      flex: 1;
      color: #2b2b3b;
      font-size: 16px;
      font-family: Arial, sans-serif;
      line-height: 1.6;
      padding-right: 80px;
      ul {
        padding-left: 15px;
        li {
          padding: 5px 0;
        }
      }
    }
    .information--prev {
      flex: 1;
      object {
        width: 100%;
      }
    }
    @media screen and (max-width: 1200px) {
      .information--text {
        padding-right: 0;
      }
      .information--prev {
        flex: initial;
        object{
          width: 100%;
          position: absolute;
          left: 0;
          opacity: .2;
          height: 275px;
        }
      }
    }
  }
}

.about--advantages {
  .advantages--wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 80px auto 60px;
    .advantages--item {
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 40px 40px;
      .advantages--title {
        margin-top: 20px;
        font-family: Muller-Bold, sans-serif;
        font-size: 14px;
        text-align: center;
        color: #2b2b2b;
      }
    }
    @media screen and (max-width: 1380px) {
      .advantages--item {
        margin: 10px 20px 40px;
      }
    }
  }
}

.about--slogan {
  margin-bottom: 80px;
  max-width: 1046px;
  .sub--title {
    color: #ff5a5e;
    margin: auto;
  }
}

.about--team {
  .team--wrap {
    margin: 40px auto 90px;
  }
  .team--prev{
    background: #fff url("./../../static/img/about-names.jpg") no-repeat center;
    background-size: contain;
    width: 100%;
    z-index: 2;
    height: 375px;
    img{
      display: none;
    }
    @media screen and (max-width: 1024px){
      background: #fff;
      height:auto;
      img{
        display: block;
      }
    }
  }
  .team--description{
    padding: 30px 70px;
    margin-top: -2px;
    line-height: 1.3;
    color: #6A737B;
    z-index: 1;
    text-align: center;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.15);
    @media screen and (max-width: 829px) {
      padding: 20px 15px;
    }
  }
}