body, html {
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
  //-webkit-overflow-scrolling : touch !important;
  //overflow: auto !important;
}

body {
  padding-top: 107px;
  @media screen and (max-width: 1024px) {
    padding-top: 61px;
  }
}

.main--opacity{
  opacity: .3;
  pointer-events: none;
  transition: all .5s;
  a, button{
    pointer-events: none !important;
  }
}

header {
  position: relative;
}

main {
  margin: 0 auto;
  position: relative;
  z-index: 3;
  flex: 1 0 auto;
  transition: all .5s;
  box-sizing: border-box;
  width: 100%;
  section, .another--pharmacy-wrap {
    padding: 0 30px;
    max-width: 1440px;
  }
}
.med-stationery{
  padding: 0 60px;
}

section, .another--pharmacy-wrap {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  .title {
    font-family: Muller-Bold, sans-serif;
    font-size: 2.5rem;
    color: #2b2b2b;
    margin: 97px 0 12px;
    @media screen and (max-width: 829px) {
      font-size: 1.5rem;
      margin-top: 20px;
    }
  }
  .title-kans {
    @media screen and (max-width: 1329px) {
      font-size: 2.5rem;
      text-align: center;
    }
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  &:active, &:focus {
    outline: none;
  }
}

.tabulation {
  margin-top: 45px;
  margin-bottom: 46px;
  .tab-counts {
    display: flex;
    align-items: center;
    max-width: 630px;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    .tab-arrow {
      opacity: .6;
      transition: all .5s;
      &:hover {
        transition: all .5s;
        opacity: 1;
      }
    }
    a {
      font-size: 1.2rem;
      color: #6a737b;
      transition: all .5s;
      margin: 0 20px;
      &.active {
        color: #00a699;
        pointer-events: none;
      }
      &:hover {
        color: #000;
        transition: all .5s;
      }
    }
  }
}

h2{
  &.not--work-time{
    text-align: center;
    margin: 70px auto 100px;
    font-family: Muller-Bold, sans-serif;
    color: #2b2b2b;
  }
}

form {
  .checkbox-wrap {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form--item {
      align-items: center;
      margin-bottom: 0;
      label {
        margin-bottom: 0;
        font-size: 14px;
        display: flex;
        align-items: center;
        cursor: pointer;
        flex-wrap: wrap;
        white-space: nowrap;
        line-height: 1.6;
        svg {
          margin-right: 7px;
          .checkbox--arrow {
            fill-opacity: 0;
            transition: all .2s;
          }
        }
        @media screen and (max-width: 456px) {
          a {
            margin-left: 22px;
          }
        }
      }
      input[type="checkbox"] {
        display: none;
        &:checked + label {
          svg {
            .checkbox--arrow {
              fill-opacity: 1;
              transition: all .2s;
            }
          }
        }
      }
    }
    a {
      color: #00a699;
      text-decoration: underline;
      font-size: inherit;
    }
  }
  .order--radio {
    margin-bottom: 7px;
    input[type='radio'] {
      display: none;
    }
    input[type='radio']:checked {
      + label {
        &:after {
          content: ' ';
          display: inline-block;
          width: 8px;
          height: 8px;
          background: #00A699;
          border-radius: 50%;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 5px;
        }
      }
    }
    label {
      display: flex;
      cursor: pointer;
      position: relative;
      color: #6a737b;
      font-size: 14px;
      align-items: center;
      margin-bottom: 16px;
      &:before {
        content: ' ';
        width: 16px;
        height: 16px;
        display: inline-block;
        border: 1px solid #EEF1F8;
        border-radius: 50%;
        margin-right: 7px;
      }
    }
  }
  .error-input{
    border: 1px solid #e5164e !important;
  }
  .error-message{
    ul{
      padding-left: 0;
      margin-top: 5px;
      margin-bottom: 0;
    }
    li{
      list-style: none;
      font-size: 11px;
      color: #e5164e;
    }
  }
}

object{
  max-width: 100%;
  pointer-events: none;
}

.count-button {
  cursor: pointer;
  user-select: none;
  opacity: .5;
  transition: all .5s;
  width: 10px;
  height:10px;
  &.count-up {
    padding: 5px 0;
    background: url(../img/icons/icon-plus.svg) no-repeat center;
  }
  &.count-down {
    padding: 10px 0;
    background: url(../img/icons/icon-minus.svg) no-repeat center;
  }
  &:hover {
    transition: all .5s;
    opacity: 1;
  }
}

.order--actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  .order--btn {
    margin: 20px 0 0;
    text-align: center;
    width: 100%;
    padding: 13px 25px 12px;
    border-radius: 10px;
    max-width: 180px;
  }
  .order--access {
    color: #fff;
    background: #00a699;
  }
  .order--cancel {
    color: #000;
    text-decoration: underline;
  }
  @media screen and (max-width: 829px) {
    .order--access, .order--cancel {
      max-width: 100%;
    }
  }
  &.inactive{
    .order--access{
      pointer-events: none;
      opacity: .4;
    }
  }
}

button[disabled], .disabled {
  background: transparent !important;
  border: 1px solid #D5D4D5 !important;
  color: #D5D4D5 !important;
  pointer-events: none !important;
}

@media screen and (max-width: 829px) {
  main {
    section, .another--pharmacy-wrap {
      max-width: 420px;
      overflow: hidden;
      padding: 0 15px;
    }
  }
  .comments {
    margin-top: 20px;
  }
}

.filter, .slick-initialized, .menu--filter {
  //visibility: hidden;
}

.error--page{
  max-width: 700px;
  .error--icons{
    display: flex;
    margin-top: 90px;
    align-items: center;
    margin-bottom: 30px;
    &:before, &:after{
      width: 100%;
      height: 160px;
      content: ' ';
    }
    &:before{
      background: url("./../../static/img/icons/icon-hand--left.svg") no-repeat left center;
      background-size: contain;
    }
    &:after{
      background: url("./../../static/img/icons/icon-hand--right.svg") no-repeat right center;
      background-size: contain;
    }
  }
  .error--wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    .error-code{
      font-size: 136px;
      text-align: center;
      font-family: Muller-Bold, sans-serif;
      line-height: .8;
    }
    .error-text{
      line-height: .8;
      font-family: Muller-Bold, sans-serif;
      text-align: center;
      font-size: 72px;
    }
  }
  .error--info{
    margin-top: 55px;
    font-size: 20px;
    font-family: Muller-Bold, sans-serif;
    text-align: center;
    a{
      display: block;
      margin: 30px auto 90px;
      text-align: center;
      color: #00a693;
    }
  }
  @media screen and (max-width: 829px){
    .error--wrap{
      .error-code{
        font-size: 74px;
      }
      .error-text{
        font-size: 40px;
      }
    }
    .error--icons{
      &:before, &:after{
        height: 90px;
      }
    }
    .error--info{
      font-size: 16px;
    }
  }
}

.info--alert {
  color: #e5164e;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: MullerBold, sans-serif;
  font-size: 14px;
  max-width: 680px;
  line-height: 1.38;
  font-weight: 900;
  i {
    margin-left: 10px;
    font-style: normal;
  }
  svg {
    min-width: 24px;
  }
  .info--alert-bold{
    color: #000;
  }
  &.kbk-info--alert{
    align-items: flex-start;
    svg {
      margin-top: 7px;
      min-width: 24px;
    }
    @media screen and (max-width: 829px){
      align-items: flex-start;
    }
  }
}

.flash-notice, .flash-error{
  font-size: 14px;
  font-family: Muller-Medium, sans-serif;
  padding: 10px 30px;
  background: #00a693;
  color: #eee;
  text-align: center;
  margin-bottom: -20px;
  z-index: 9;
}

.text--section{
  p{
    color: #6a737b;
    line-height: 1.4;
  }
  ul{
    color: #6a737b;
    padding-left: 15px;
    li{
      padding: 5px 0;
    }
  }
}

.flash-error{
  background: #e32252;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #efefef inset;
}

.close {
  .cafe-item--wrap {
    opacity: .4;
  }
  .cafe-item--thumb, .prev--thumb {
    position: relative;
    .close--cafe-text {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 100px;
      height: 35px;
      text-align: center;
      color: #000;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: Muller-Bold, sans-serif;
    }
    img {
      opacity: .2;
    }
  }
}
