.bimed--whitelabel, .wl-cafe {
  .slider {
    margin-bottom: 0;
  }
  .header-wrap {
    max-width: 1380px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    @media screen and (max-width: 829px){
      padding: 0;
    }
    .login {
      .menu-link, .menu-profile--list{
        display: none;
      }
      @media screen and (max-width: 1024px) {
        width: auto;
        .menu-link{
          display: block;
        }
      }
    }
    .phone-wrap {
      margin-left: 0;
    }
  }

  .food-footer--wrap {
    .bimed--footer-links {
      max-width: 740px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      a {
        color: #000;
      }
    }
    .bimed--social {
      a {
        margin-left: 20px;
      }
    }
  }
  .footer {
    .footer-item--copyright {
      max-width: 400px;
      .footer-copyright{
        a{
          padding-left: 0;
        }
      }
      a {
        padding-left: 15px;
        line-height: 1.6;
      }
    }

    .food--maker {
      order: 4;
      color: #6a737b;
      a {
        color: #00a694;
        text-decoration: underline;
      }
    }
    .footer-item--invest-icon {
      display: none;
    }
    @media screen and (max-width: 829px) {
      .food--maker {
        margin: 25px auto;
      }
      .footer-item--copyright {
        a {
          padding-left: 0;
        }
      }
    }
  }
  .food-footer {
    @media screen and (max-width: 1024px) {
      display: flex;
      padding: 10px 15px;
      .food-footer--wrap {
        padding: 35px 0 35px;
      }
      .bimed--social {
        display: none;
      }
      .bimed--footer-links {
        justify-content: flex-start;
        flex-wrap: wrap;
        line-height: 1.8;
        .food-footer--item {
          margin-right: 25px;
        }
      }
    }
  }
  .med--cat {
    .home--cat-item--wrap {
      .home--cat-item {
        .prev {
          z-index: 2;
        }
        .home--cat-prev {
          z-index: 3;
        }
      }
    }
  }
}

.med-search {
  max-width: 1000%;
  margin-bottom: -90px;
  padding: 0;
  overflow: visible;
  .search-wrap {
    background: url("./../../static/img/bimed_pattern_bg.svg") repeat-x;
    padding: 50px 15px 90px;
    height: 200px;
  }
  .search-bg{
    background: url("./../../static/img/pattern_kons_bg.svg") repeat-x;
    padding: 50px 15px 90px;
    height: 200px;
  }
  .title {
    margin-top: 0;
    font-family: Muller-Bold, sans-serif;
    text-align: center;
    i {
      font-style: normal;
      color: #ff6166;
    }
  }
  form {
    margin-top: 30px;
    margin-bottom: 80px;
    position: relative;
    input[type='search'] {
      max-width: 870px;
      width: 100%;
      margin: auto;
      border: 2px solid #11A598;
      border-radius: 3px;
      padding: 15px 12px 15px 42px;
      display: block;
      font-size: 16px;
      background: #fff url("./../../static/img/icons/icon-search.svg") no-repeat 12px center;
    }
  }
  .count {
    position: relative;
    display: flex;
    align-items: center;
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield;
      width: 30px;
      float: left;
      display: block;
      border: none;
      margin: 0;
      font-size: 1.3rem;
      color: #00A699;
      text-align: center;
      pointer-events: none;
      &:focus {
        outline: none;
      }
    }
  }
  .search_results {
    box-sizing: border-box;
    padding: 10px 14px;
    max-width: 870px;
    width: 100%;
    border: 1px solid #EAEDF6;
    border-top: none;
    margin: auto;
    position: absolute;
    background: #fff;
    right: 0;
    left: 0;
    z-index: 6;
    .results-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #DDE3E6;
      &.loader{
        object{
          width: 30px;
          margin: auto;
        }
      }
      .prev--name-wrap {
        width: 50%;
      }
      .prev {
        width: 70px;
        height: 44px;
        display: flex;
        img {
          margin: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
      .name {
        flex: 5;
        margin-left: 10px;
        font-size: 16px;
        padding-right: 10px;
        overflow: hidden;
        box-sizing: border-box;
        white-space: pre-wrap;
      }
      .property {
        margin-left: 10px;
        flex: 1;
      }
      .receipt {
        flex: 2;
        text-align: center;
        color: #ff6166;
      }
      .price--count-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
      }
      .prev--name-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        width: 50%;
      }
      .price {
        flex: 1;
        font-size: 16px;
        color: #010101;
        @media screen and (max-width: 829px) {
          padding-right: 20px;
        }
      }
      .count {
        flex: 1;
        margin: 0 15px;
        justify-content: center;
        & input[type=number] {
          color: #000;
          font-size: 18px;
        }
      }
      .bay_it {
        border-radius: 20px;
        text-transform: uppercase;
        width: 90px;
        line-height: 1;
        text-align: center;
        padding: 6px 0 5px 3px;
        font-size: 12px;
        background: #fff;
        -webkit-transition: all .5s;
        pointer-events: auto;
        color: #11a598;
        border: 1px solid #11A598;
        &:hover {
          background: #11A598;
          color: #fff;
          transition: all .5s;
        }
      }
    }
    .results-all {
      color: #00a699;
      text-align: center;
      font-family: Muller-Bold, sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      display: block;
      margin: auto;
      padding: 20px 20px 10px;
    }
    @media screen and (max-width: 829px) {
      .results-item {
        flex-wrap: wrap;
        .prev {
          margin-right: 10px;
        }
        .name {
          width: 100%;
          margin-left: 0;
          margin-right: 10px;
          padding: 0;
          white-space: pre-wrap;
        }
        .property {
          display: none;
        }
        .receipt {
          text-align: left;
          order: 3;
          width: 100px;
          margin-top: 10px;
          flex: initial;
        }
        .price--count-wrap {
          order: 1;
        }
        .prev--name-wrap {
          width: 80%;
        }
        .price--count-wrap {
          width: 20%;
        }
        .price {
          order: 2;
          width: 50px;
          flex: initial;
          text-align: right;
        }
        .count {
          order: 1;
        }
        .bay_it {
          order: 3;
        }
      }
    }
    @media screen and (max-width: 614px) {
      .results-item{
        .name{
          flex: initial;
        }
      }

    }
    @media screen and (max-width: 615px) {
      .results-item {
        .prev--name-wrap {
          width: 70%;
        }
        .price--count-wrap {
          width: 30%;
        }
      }
    }
    @media screen and (max-width: 548px) {
      .results-item {
        padding: 15px 0;
        .prev {
          display: none;
        }
        .name {
          margin-right: 0;
        }
        .receipt {
          margin-top: 0;
        }
        .name, .receipt {
          font-size: 12px;
        }
        .price {
          font-size: 13px;
          width: 40px;
        }
        .count {
          flex: initial;
          margin-left: 5px;
          & input[type=number] {
            font-size: 14px;
            width: 20px;
          }
        }
        .bay_it {
          font-size: 10px;
          width: 60px;
        }
      }
    }
    @media screen and (max-width: 340px) {
      .results-item {
        .prev--name-wrap {
          width: 65%;
        }
        .price--count-wrap {
          width: 35%;
        }
      }
    }
  }
}

.bimed--info {
  padding-bottom: 80px;
  .bimed--info-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    .bimed--info-text {
      flex: 1 0 auto;
      max-width: 49%;
      .title {
        font-family: Muller-Bold, sans-serif;
        color: #ff5a5f;
        font-size: 36px;
        margin-bottom: 25px;
      }
      .title-color{
        color: #386ee0;
      }
      .description {
        color: #6a737b;
        line-height: 1.4;
      }
    }
    .bimed--info-map {
      flex: 1 0 auto;
      max-width: 49%;
      .map-wrap {
        height: 320px;
      }
      .title {
        margin-bottom: 25px;
        font-family: Muller-Bold, sans-serif;
        font-size: 36px;
      }
    }
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      .bimed--info-text, .bimed--info-map {
        max-width: 100%;
        width: 100%;
        .title {
          font-size: 36px;
        }
      }
    }
    @media screen and (max-width: 829px) {
      flex-direction: column;
      .bimed--info-text, .bimed--info-map {
        .title {
          font-size: 21px;
        }
      }
    }
  }
}

.bimed--result-page {
  margin-bottom: 90px;
  .title {
    margin-top: 0;
  }
}
