.bimed--surcharge{
  section{
    .title{
      color: #2b2b2b;
      text-align: center;
      margin: 60px auto 30px;
    }
  }
  .bimed--whitelabel-surcharge{
    margin-bottom: -40px;
    .description{
      max-width: 620px;
      margin: auto;
      text-align: center;
      a{
        color: #00a693;
      }
    }
  }
  .home--hiw{
    .title{
      font-size: 28px;
    }
  }
  .surcharge--delivery{
    .title{
      color: #ff5a5e;
    }
  }
  .surcharge--background{
    margin-bottom: 60px;
  }
  @media screen and (max-width: 829px){
    .home--hiw, .surcharge--delivery, .surcharge--payments, .surcharge--list{
      .title{
        font-size: 18px;
        margin-top: 20px;
      }
    }
    .bimed--whitelabel-surcharge{
      .search-wrap{
        padding-top: 30px;
      }
      .title{
        margin-top: 20px;
      }
    }
  }
}