.bimed--about {
  .surcharge {
    margin-bottom: 80px;
  }
  .bimed--about--info {
    .bimed--info-wrap {
      .bimed--info-text {
        .title {
          color: #2b2b2b;
          text-align: left;
          @media screen and (max-width: 829px) {
            font-size: 28px;
          }
        }
        .description {
          color: #2b2b2b;
        }
      }
      .bimed--info-map {
        .bimed--info-map--title {
          margin-top: 50px;
          font-size: 18px;
          text-align: left;
          display: flex;
          align-items: center;
          object {
            margin-right: 10px;
            width: 18px;
          }
        }
      }
    }
  }
  .surcharge--delivery {
    .title {
      color: #2b2b2b;
    }
  }
}

.bimed--hiw {
  .med-search {
    .search-wrap{
      height: auto;
      @media screen and (max-width: 829px){
        padding-top: 10px;
        .title{
          margin-top: 30px;
        }
      }
    }
  }
  .surcharge{
    margin-bottom: 80px;
  }
  .surcharge--delivery{
    @media screen and (max-width: 829px){
      .title{
        font-size: 18px;
      }
    }
  }
  .surcharge--background{
    margin-top: 50px;
  }
}