.wl-cafe {
  background: #000;
  section {
    padding: 0 30px;
    max-width: 1320px;
  }
  header {
    section {
      padding: 0;
      max-width: 100%;
    }
    .header-wrap {
      max-width: 1260px;
    }
  }
  .logo {
    height: auto;
    overflow: hidden;
    img {
      max-height: 45px;
      object-fit: contain;
      width: 100%;
    }
  }
  .card--background {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
    img {
      opacity: .5;
      display: block;
      margin: auto;
    }
  }
  .cafe-card {
    @media screen and (max-width: 1200px) {
      max-width: 100%;
    }
  }
  .card-prev {
    margin-bottom: 30px;
  }
  .card-prev--wrap {
    margin: 10px 20px;
    .prev--information {
      .cafe-item--title {
        margin-bottom: 30px;

      }
      .information {
        justify-content: flex-start;
        .information--item {
          margin-right: 80px;
          .information--item--description {
            i.delivery {
              border: none;
            }
          }
        }
      }
      @media screen and (max-width: 1200px) {
        .cafe-item--title {
          margin-bottom: 15px;
          .cafe--name {
            color: #fff;
          }
          .cafe-card--statuses {
            align-items: flex-start;
            .cafe--ratings {
              margin-top: 10px;
            }
          }
        }
        .categories {
          li {
            a {
              color: #fff;
            }
          }
          #category--card {
            span {
              color: #fff;
            }
          }
        }
        .information {
          .information--item {
            .information--item--title, .information--item--description {
              color: #fff;
            }
          }
        }
      }
    }
    .prev--thumb {
      display: none;
    }
    @media screen and (max-width: 829px) {
      margin: 10px;
    }
  }
  .card-information {
    background: #fff;
    border-radius: 5px;
    margin: 0;
  }
  #menu--filter-slider {
    .slick-arrow {
      &.slick-next {
        right: -5px;
      }
      &.slick-prev {
        left: -5px;
      }
    }
  }
  .switchers {
    margin-bottom: 0;
    padding-bottom: 0;
    z-index: 1;
    .switchers--wrap {
      padding-bottom: 40px;
      margin-bottom: -1px;
      background: #fff;
    }
    .ui-tabs-panel {
      background: #fff;
      padding: 0 20px 80px;
      min-height: calc(100vh - 800px);
    }
    .tab-content--menu {
      .menu-food--wrap {
        .food-item {
          width: 290px;
          min-width: 260px;
        }
      }
    }
    @media screen and (max-width: 1200px) {
      max-width: 100%;
      .switchers--wrap {
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
  footer {
    z-index: 5;
  }
  .food-footer {
    margin-top: -5px;
  }
  .footer-wrap {
    padding: 30px 20px;
    align-items: flex-start;
    background: #fff;
    @media screen and (max-width: 1200px) {
      align-items: center;
      .food--maker {
        margin-top: 15px;
      }
    }
    .food-footer--wrap {
      padding: 45px 15px 0;
      @media screen and (max-width: 440px){
        width: 100%;
        .cafe--footer-links{
          justify-content: space-around;
          width: 100%;
          .food-footer--item{
            margin-right: 0;
          }
        }
      }
    }
  }
  .food-footer:after {
    bottom: -3px;
  }
  .food-footer {
    .cafe--footer-links {
      justify-content: flex-start;
      line-height: 1.8;
      display: flex;
      .food-footer--item {
        margin-right: 25px;
        a {
          color: #000;
        }
      }
    }
  }
  .nav {
    max-width: 1320px;
    height: auto;
  }
  .order--wl-wrap, .checkout--wl-wrap, .history--wl-wrap {
    .order--wrap, .checkout--wrap, .history--wrap {
      background: #fff;
      margin: 0 auto;
      padding: 60px 30px;
      @media screen and (max-width: 829px) {
        padding: 40px 10px;
        .order--check .check-wrap .check--item .name {
          min-width: 0;
        }
      }
    }
  }

  .confirmation--wrap {
    margin-top: 0;
    .confirmation--wl-wrap {
      padding: 60px 30px;
      background: #fff;
      .payment--form {
        margin-bottom: 0;
      }
      .title {
        margin-top: 0;
      }
    }
  }

  .surcharge-wl-wrap {
    background: #fff;
    max-width: 1260px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    .home--hiw {
      .title {
        margin-top: 0;
      }
    }
  }

  .surcharge {
    padding: 0 30px;
    section {
      @media screen and (max-width: 829px) {
        max-width: 420px;
        overflow: hidden;
        padding: 0 15px;
      }
    }
  }

  .hiw--wrap {
    .hiw--arrow {
      @media screen and (max-width: 1320px) {
        width: 60px;
      }
    }
    @media screen and (max-width: 1024px) {
      .hiw--prev {
        img {
          max-height: 55px;
        }
      }
      .hiw--item {
        p {
          max-width: 130px;
          font-size: 12px;
        }
      }
    }
    @media screen and (max-width: 890px) {
      max-width: 100%;
    }
  }

  .login-reg--page {
    margin-top: 0;
    margin-bottom: 0;
    .login--wrap, .registration--wrap {
      max-width: 100%;
      padding-top: 50px;
      padding-bottom: 80px;
      margin-top: 0;
      min-height: calc(100vh - 460px);
      form, .fb--wrap {
        max-width: 495px;
        margin: auto;
      }
      @media screen and (max-width: 829px){
        padding: 50px 15px 80px;
      }
    }
    .error{
      margin-bottom: 0;
    }
  }

  .error--page-wl--wrap{
    .error--page{
      max-width: 100%;
      padding-top: 80px;
      padding-bottom: 80px;
      background: #fff;
      .error--icons, .error--info{
        margin: auto;
        max-width: 700px;
        @media screen and (max-width: 829px){
          max-width: 340px;
        }
      }
      .error--icons{
        margin-bottom: 30px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    section {
      padding: 0 30px;
    }
  }
  @media screen and (max-width: 829px) {
    .surcharge {
      padding: 0;
    }
    section {
      padding: 0;
    }
    header {
      .header-wrap {
        align-items: center;
        padding: 0 10px;
      }
      .mobile-menu {
        max-height: 15px;
      }
    }
  }
}
