.single-cafe{
  section{
    max-width: 1280px;
  }
}
.single-sex{
  section{
    max-width: 1290px;
  }
}

.cafe-card {
  margin: 40px auto;
  position: relative;
}
.card--background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  max-height: 360px;
  top: 0;
}
.card-prev {
  min-height: 360px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.card-prev--wrap {
  z-index: 1;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 10px;
  .prev--thumb {
    width: 242px;
    height: 157px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    margin-right: 30px;
    img {
      margin: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
}
.prev--information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  .cafe-item--title {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    .cafe-card--statuses{
      display: flex;
      .cafe--status{
        padding: 6px 0;
      }
    }
    .cafe--name {
      line-height: 1;
      color: #fff;
      margin-right: 11px;
      font-family: Muller-Bold, sans-serif;
      font-size: 2.5rem;
    }
    .cafe--ratings {
      display: none;
      .like {
        color: #e5164e;
        margin: 0 5px;
        &:before {
          margin-right: 5px;
          content: url(../img/icons/icon-like.svg);
        }
      }
      .dislike {
        margin: 0 5px;
        color: #11a598;
        &:before {
          margin-right: 5px;
          content: url(../img/icons/icon-dislike.svg);
        }
      }
      .null {
        margin: 0 5px;
        color: #B3BBC5;
        &:before {
          margin-right: 3px;
          content: "\2014";
        }
      }
    }
    .cafe--status {
      display: flex;
      height: 22px;
      margin-right: 10px;
      .status--triangle {
        margin-right: -1px;
      }
      .status {
        border-radius: 0 2px 2px 0;
        display: flex;
        align-items: center;
        .status--icon {
          margin: 0 2px;
          img {
            height: 12px;
            object-fit: cover;
          }
        }
        .status--text {
          color: #fff;
          font-family: Muller-Bold, sans-serif;
          text-transform: uppercase;
          font-style: normal;
          font-size: .85rem;
          padding: 0 12px 0 6px;
          line-height: 1;
        }
      }
    }
    .hide {
      display: none;
    }
  }
  .cafe--description{
    color: #fff;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-bottom: 40px;
  }
  .categories {
    display: inline-flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    overflow: hidden;
    li {
      position: relative;
      margin-right: 6px;
      border-radius: 15px;
      background: transparent;
      border: 1px solid #B5B0AF;
      display: none;
      &:nth-child(1), &:nth-child(2) {
        display: block;
      }
      &:last-child {
        display: block;
      }
      a {
        white-space: nowrap;
        padding: 5px 10px 4px;
        color: #fff;
        display: block;
      }
      &#category--card {
        width: 30px;
        height: 25px;
        cursor: pointer;
        span {
          padding: 5px;
          white-space: nowrap;
          color: #fff;
          display: block;
        }
      }
    }
  }
  .information {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .information--item {
    margin-right: 30px;
  }
  .information--item--title {
    color: #fff;
    margin-bottom: 5px;
    font-size: .85rem;
  }
  .information--item--description {
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-family: Muller-Bold, sans-serif;
    align-items: center;
    i {
      margin-left: 10px;
      font-family: Arial, sans-serif;
      font-size: .85rem;
      white-space: nowrap;
      &.information--item--icon {
        background: #fff;
        font-style: normal;
        font-weight: 900;
        color: #000;
        border-radius: 4px;
        margin-left: 0;
        box-sizing: border-box;
        margin-right: 10px;
        padding: 2px 4px 1px;
        height: 16px;
        display: flex;
        align-items: center;
        img {
          height: 100%;
          margin: 0 auto;
        }
        &.like {
          color: #e5164e;
          padding-top: 3px;
          &:before {
            margin-right: 5px;
            content: url(../img/icons/icon-like.svg);
          }
        }
        &.dislike {
          color: #11a598;
          padding-top: 3px;
          &:before {
            margin-right: 5px;
            content: url(../img/icons/icon-dislike.svg);
          }
        }
      }
    }
    .delivery {
      border: 1px solid #000;
      cursor: pointer;
      background: #fff;
      color: #000;
      font-size: 1rem;
      font-style: normal;
      border-radius: 50%;
      width: 17px;
      height: 16px;
      display: block;
      text-align: center;
      font-weight: 900;
      margin-left: 10px;
      font-family: Arial,sans-serif;
      white-space: nowrap;
    }
  }
}
.card-information {
  border: 1px solid #E9ECF5;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
  .card-information--item {
    width: 350px;
    display: flex;
    align-items: center;
    margin: 0 15px 40px;
    .card-information--item_icon {
      margin-right: 22px;
    }
    .card-information--item_title {
      font-family: Muller-Extra-Bold, sans-serif;
      font-size: 15px;
    }
    .card-information--item_description {
      font-size: 12px;
      font-family: Arial, sans-serif;
      color: #6a737b;
    }
  }
}
.menu-food--wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
  .food-item {
    width: 320px;
    max-width: 290px;
    flex: 1 0 auto;
    box-sizing: border-box;
    margin: 0 10px 30px;
    .food-item--prev{
      border: 1px solid #eee;
      .prev--thumb{
        height: 194px;
        object-fit: cover;
      }
    }
  }
}
.switchers {
  margin-bottom: 80px;
  .switchers--wrap {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 40px;
    li {
      flex: 1;
      list-style: none;
      border: 1px solid #EAEDF6;
      background: #fbfbfd;
      outline: none;
      transition: all .5s;
      a {
        transition: all .5s;
        padding: 18px 0 15px;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #6b7076;
        text-transform: uppercase;
        @media screen and (max-width: 400px){
          font-size: 12px;
        }
        svg {
          margin-right: 7px;
          fill: #6b7076;
        }
      }
      &.ui-state-active {
        background: #ffffff;
        margin-top: -8px;
        border-bottom-color: transparent;
        a {
          padding-top: 26px;
          color: #08a8a0;
          svg {
            fill: #08a8a0;
          }
        }
      }
      &.ui-state-hover {
        a {
          color: #08a8a0;
          svg {
            fill: #08a8a0;
          }
        }
      }
    }
  }
  .tab-content--menu {
    overflow: hidden;
    .title {
      font-family: Muller-Bold, sans-serif;
      margin-top: 20px;
    }

  }
  .tab-content--info {
    .info__text-title {
      font-family: Muller-Bold, sans-serif;
      font-size: 28px;
    }
    .tab-content--info-wrap {
      display: flex;
      flex-wrap: wrap;
      .tab-content--info__text {
        flex: 1 0 auto;
        max-width: 600px;
        color: #6a737b;
        font-size: 1rem;
        line-height: 1.6;
        padding-right: 40px;
        .social--share {
          margin-top: 45px;
          .social--share-title {
            font-family: Muller-Bold, sans-serif;
            font-size: 20px;
            color: #000;
            margin-bottom: 14px;
          }
          .social--share-description {
            span {
              margin-right: 15px;
            }
          }
        }

      }
      .tab-content--info__map {
        flex: 1 0 0;
        .info__map-address {
          display: flex;
          align-items: flex-start;
          margin-bottom: 25px;
          img{
            padding-top: 5px;
          }
          .info__map-address--icon {
            width: 70%;
          }
          .map-address--text {
            display: flex;
            flex-direction: column;
            width: 100%;
            word-wrap: break-word;
            line-height: 1.5;
            span {
              font-family: Muller-Bold, sans-serif;
              margin-top: -3px;
              padding-bottom: 3px;
            }

            a{
              color: #2b2b2b;
            }
          }
        }
        .map {
          margin-top: 15px;
          width: 100%;
          height: 450px;
          border: 1px solid #6A737B;
          box-sizing: border-box;
        }
      }
      @media screen and (max-width: 1100px){
        flex-direction: column;
        .tab-content--info__text{
          max-width: 100%;
          margin-bottom: 40px;
          padding-right: 0;
        }
      }
      @media screen and (max-width: 892px) {
        flex-wrap: wrap;
        .tab-content--info__text {
          width: 100%;
          padding-right: 0;
        }
        .tab-content--info__map {
          margin-top: 25px;
          width: 100%;
          max-height: 100vh;
        }
      }
    }
  }
  .tab-content--feedback {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .feedback--title {
      font-family: Muller-Bold, sans-serif;
      font-size: 28px;
    }
    .feedback--list {
      flex: 2;
      margin-right: 35px;
      .feedback--comment-wrap {
        margin-top: 15px;
      }
      .comment--item {
        padding: 20px 0;
        border-bottom: 1px solid #EAEDF6;
        &:first-child{
          padding-top: 0;
        }
      }
      .comment--head {
        .name {
          font-family: Muller-Medium, sans-serif;
          font-size: 18px;
          margin: 0 10px;
        }
        .date {
          color: #b4bcc5;
          font-size: 12px;
        }
      }
      .comment--text {
        color: #6a737b;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }
    .feedback--new {
      flex: 1;
      .hide-input {
        display: none;
      }
      .status--animation{
        margin-bottom: 20px;
      }
      .choose-status {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 5px;
        #choose_svg {
          .cyrcle {
            fill-opacity: 0;
          }
          .r_anim_1, .r_anim_2, .r_anim_3 {
            fill: #11A598;
          }
          .l_anim_1, .l_anim_2, .l_anim_3 {
            fill: #e5164e;
          }
          .r_anim_1, .l_anim_1 {
            animation: fill 1.9s linear infinite alternate;
          }
          .r_anim_2, .l_anim_2 {
            animation: fill 1.9s linear .3s infinite alternate;
          }
          .r_anim_3, .l_anim_3 {
            animation: fill 1.9s linear .6s infinite alternate;
          }
          @keyframes fill {
            0% {
              fill-opacity: 0;
            }
            100% {
              fill-opacity: 1;
            }
          }
        }
        .choose--label {
          border: 1px solid #EAEDF6;
          font-size: 12px;
          display: flex;
          align-items: center;
          padding: 9px 8px 10px;
          cursor: pointer;
          transition: all .3s;
          svg {
            margin-right: 10px;
          }
          &:hover {
            transition: all .3s;
            &[for='like-radio'] {
              box-shadow: 0 0 6px 0 rgba(229, 22, 78, 0.75);
            }
            &[for='dislike-radio'] {
              box-shadow: 0 0 6px 0 rgba(0, 166, 153, 0.75);
            }
          }
        }
        #like-radio + label {
          color: #e5164e;
          svg {
            fill: #e5164e;
          }
        }
        #dislike-radio + label {
          color: #11A598;
          svg {
            fill: #11A598;
          }
        }
        #like-radio:checked + label {
          transition: all .5s;
          color: #fff;
          background: #e5164e;
          border-color: #e5164e;
          svg {
            fill: #fff;
          }
        }
        #dislike-radio:checked + label {
          transition: all .5s;
          color: #fff;
          background: #11A598;
          border-color: #11A598;
          font-style: normal;
          svg {
            fill: #fff;
          }
        }
      }
      .new-comment--text {
        display: flex;
        flex-direction: column;
        label {
          color: #7a7f85;
          font-size: 12px;
          margin-bottom: 10px;
        }
        textarea {
          max-width: 100%;
          padding: 10px;
          line-height: 1.4;
          resize: none;
          border: 1px solid #EAEDF6;
        }
      }

      .feedback-btn {
        color: #fff;
        background: #11A598;
        border: none;
        margin-top: 25px;
        border-radius: 8px;
        padding: 13px 22px 12px;
        transition: all .5s;
        &:hover{
          transition: all .5s;
          box-shadow: 0 0 10px 0 rgba(0,166,153,.75);
        }
      }
    }
    @media screen and (max-width: 892px){
      flex-wrap: wrap;
      flex-direction: column;
      .feedback--list{
        margin-right: 0;
      }
      .feedback--new{
        width: 100%;
      }
    }
    @media screen and (max-width: 440px) {
      .feedback--new{
        #choose_svg{
          display: none;
        }
      }
    }
    @media screen and (max-width: 380px) {
      .feedback--new .choose-status .choose--label{
        padding: 9px 10px 10px;
      }
    }
  }
}
.logout--user{
  color: #6a737b;
  line-height: 1.4;
  margin: 15px 0 0;
  a{
    color: #11A598;
  }
}
@media screen and (max-width: 1200px) {
  .cafe-card {
    max-width: 760px;
    padding: 0;
  }
  .card-prev {
    padding-top: 25px;
  }
  .card--background {
    max-height: 210px;
  }
  .card-prev--wrap {
    flex-direction: column;
    margin: 15px;
    .prev--thumb {
      margin-bottom: 40px;
    }
    .prev--information {
      .cafe-item--title {
        //flex-direction: column;
        align-items: flex-start;
        .cafe--name {
          color: #000;
          font-size: 2rem;
        }
        .cafe-card--statuses {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .cafe--ratings {
            display: flex;
          }
        }
      }
      .categories {
        margin-top: 22px;
        margin-bottom: 22px;
        flex-wrap: wrap;
        li {
          margin-bottom: 10px;
          a {
            color: #000;
          }
          &#category--card {
            span {
              color: #000;
            }
          }
        }
      }
      .information {
        flex-wrap: wrap;
        .information--item {
          margin-bottom: 22px;
        }
        .information--item--title, .information--item--description {
          color: #000;
        }
        .rating-information--item {
          display: none;
        }
      }
    }
  }
  .card-information {
    padding-top: 20px;
    border: none;
    .card-information--item {
      width: 270px;
      margin: 0 10px 20px;
    }
    @media screen and (max-width: 630px) {
      justify-content: flex-start;
    }
  }
  .switchers {
    max-width: 760px;
    padding: 0;
    .switchers--wrap {
      li {
        a {
          svg {
            display: none;
          }
        }
        &.ui-state-active {
          margin-top: 0;
          a {
            padding-top: 18px;
          }
        }
      }
    }
    .ui-widget-content {
      padding: 0 15px;
    }
    .tab-content--feedback{
      .feedback--new{
        .choose-status{
          justify-content: flex-start;
          #like-radio + label {
            margin-right: 20px;
          }
        }
      }
    }
  }
  .feedback--new{
    min-width: 360px;
    @media screen and (max-width: 829px){
      min-width: 200px;
    }
  }
  .choose-animation{
    display: none;
  }
}
