.banner {
  height: 135px;
  max-width: 1440px;
  margin: 20px auto 0;
  box-sizing: border-box;
  padding: 0 30px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media screen and (max-width: 1024px) {
    padding: 0;
    height: 80px;
  }
}

.catalog, .single-sex {
  margin: 20px auto;
  .title {
    margin-top: 40px;
    &:after {
      content: '';
      display: none;
    }
  }
  .catalog-section {
    margin-top: 1.3rem;
    display: flex;
    flex-direction: row;
  }
  .catalog-content {
    width: calc(100% - 320px);
    box-sizing: border-box;
    @media screen and (min-width: 1200px) {
      margin-top: -20px;
    }
    @media screen and (max-width: 1024px) {
      height: auto;
    }
  }
}

.sidebar {
  width: 320px;
  .mobile--title {
    display: none;
  }
  .sidebar-stick {
    transition: all .4s ease-in-out;
    margin-top: 0;
    @media screen and (min-width: 1200px) {
      margin-bottom: 120px;
    }
    &.is_stuck.sidebar-move {
      margin-top: 50px !important;
    }
  }
  ul {
    padding-left: 0;
    margin-bottom: 50px;
    li {
      list-style: none;
      a {
        font-size: 1rem;
        color: #000;
        line-height: 1.8;
        &.active {
          color: #08a8a0;
          pointer-events: none;
        }
        &:hover {
          color: #08a8a0;
        }
      }
    }
  }
  .sidebar-title {
    margin-bottom: 19px;
    color: #08a8a0;
    font-size: 1.6rem;
    font-family: Muller-Bold, sans-serif;
  }
  .sidebar-information {
    max-width: 230px;
    .sidebar-information--title {
      font-family: Muller-Bold, sans-serif;
      font-size: 1.2rem;
    }
    .sidebar-information--description {
      font-size: .9rem;
      color: #6a737b;
      line-height: 1.4;
      a {
        color: #08a8a0;
        margin-top: -22px;
        display: block;
      }
      p {
        margin-bottom: 25px;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    margin: 0 20px 0;
    .mobile--title {
      display: flex;
      align-items: center;
      color: #b4bcc5;
      font-size: 1.8rem;
      font-family: Muller-Bold, sans-serif;
      cursor: pointer;
      box-sizing: border-box;
      padding: 0;
      margin-bottom: 20px;
      svg {
        margin-top: 5px;
        margin-left: 5px;
        transition: all .5s;
      }
      &.open {
        svg {
          transform: rotate(180deg);
          transition: all .5s;
          margin-top: 0;
        }
      }
    }
    .sidebar-title {
      display: none;
    }
    .sidebar-information {
      display: none;
    }
    ul {
      display: none;
      margin: 0 0 30px;
      li {
        a {
          font-family: Muller-Bold, sans-serif;
          font-size: 1.2rem;
          line-height: 2;
        }
        ul {
          display: block;
        }
      }
    }
  }
  @media screen and (max-width: 859px) {
    margin: 0;
  }
}

.filter-range {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 480px;
  justify-content: space-between;
  .filter-title {
    color: #6a737b;
    font-size: .9rem;
    margin: 0 20px;
  }
  #filter-range-slider {
    width: 50%;
    border: none;
    height: 4px;
    margin: 0 15px;
    background: #dde0e7;
    cursor: pointer;
    .noUi-connect {
      background: #4fe3c3;
      box-shadow: none;
    }
    .noUi-handle {
      cursor: pointer;
      width: 16px;
      height: 16px;
      left: -7px;
      top: -6px;
      background: #4fe3c3;
      box-shadow: none;
      border: none;
      border-radius: 50%;
      &:after {
        display: none;
      }
      &:before {
        width: 10px;
        height: 10px;
        background: #10aca3;
        border-radius: 50%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    text-align: center;
    -moz-appearance: textfield;
    margin: 0;
    font-size: 14px;
    color: #b4bcc5;
    border: 1px solid #eaedf6;
    border-radius: 3px;
    padding: 7px 5px;
    width: 45px;
    outline: none;
  }
}

.loader--list-animation--catalog {
  background: url('./../../static/img/icons/icon-preloader.svg') center top no-repeat;
  background-size: 35px;
}

.loader--list-animation--single {
  background: url(../../static/img/icons/icon-preloader.svg) center 65px no-repeat;
  background-size: 35px;
}

.catalog-wrap {
  margin-top: 30px;
  position: relative;
  margin-bottom: 64px;
  min-height: 70px;
  .categories {
    display: inline-flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    overflow: hidden;
    li {
      position: relative;
      margin-right: 6px;
      border-radius: 15px;
      background: transparent;
      border: 1px solid #B5B0AF;
      display: none;
      &:nth-child(1), &:nth-child(2) {
        display: block;
      }
      &:last-child {
        display: block;
      }
      a {
        white-space: nowrap;
        padding: 5px 10px 4px;
        color: #fff;
        display: block;
      }
      &#category--card {
        width: 30px;
        height: 25px;
        cursor: pointer;
        span {
          padding: 5px;
          white-space: nowrap;
          color: #fff;
          display: block;
        }
      }
    }
  }
  .cafe-item {
    padding: 30px;
    display: flex;
    position: relative;
    justify-content: space-between;
    transition: all .5s;
    .cafe-item--thumb {
      width: 214px;
      position: relative;
      height: 144px;
      border: 1px solid #EBEEF6;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }
    .information--sales {
      font-size: 14px;
      color: #E32252;
      margin-top: 15px;
      line-height: 1.5;
      overflow: hidden;
      width: 100%;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      @media screen and (max-width: 829px) {
        margin-top: 0;
        -webkit-line-clamp: 3;
      }
    }
    .cafe-item--wrap {
      flex: 1;
      display: flex;
      flex-direction: column;
      .cafe-item--title {
        position: relative;
        color: #000;
        display: flex;
        margin-bottom: 11px;
        .cafe--name {
          margin-right: 11px;
          font-family: Muller-Bold, sans-serif;
          font-size: 1.4rem;
        }
        .cafe--status {
          display: flex;
          height: 22px;
          margin-right: 10px;
          .status--triangle {
            margin-right: -1px;
          }
          .status {
            border-radius: 0 2px 2px 0;
            display: flex;
            align-items: center;
            .status--icon {
              margin: 0 2px;
              img {
                height: 12px;
                object-fit: cover;
              }
            }
            .status--text {
              color: #fff;
              font-family: Muller-Bold, sans-serif;
              text-transform: uppercase;
              font-style: normal;
              font-size: .85rem;
              padding: 0 12px 0 6px;
              line-height: 1;
              white-space: nowrap;
            }
          }
        }
        .hide {
          display: none;
        }
        .cafe--ratings {
          position: absolute;
          right: 0;
          display: flex;
          padding-top: 5px;
          .like {
            color: #E5164E;
            margin: 0 5px;
            &:before {
              margin-right: 5px;
              content: url(./../img/icons/icon-like.svg);
            }
          }
          .dislike {
            margin: 0 5px;
            color: #11A598;
            &:before {
              margin-right: 5px;
              content: url(./../img/icons/icon-dislike.svg);
            }
          }
          .null {
            margin: 0 5px;
            color: #B3BBC5;
            &:before {
              margin-right: 3px;
              content: "\2014";
            }
          }
          @media screen and (max-width: 1200px) {
            top: -55px;
            right: 5px;
          }
        }
      }
      .cafe-item--categories {
        display: flex;
        margin-bottom: 9px;
        max-height: 28px;
        max-width: 640px;
        padding-left: 0;
        width: 100%;
        overflow: hidden;
        .categories__item {
          display: inline-table;
          color: #6a737b;
          border: 1px solid #DDE0E7;
          background: #ffffff;
          margin-right: 10px;
          border-radius: 15px;
          padding: 0 12px;
          line-height: 1.4rem;
          z-index: -1;
          display: none;
          white-space: nowrap;
          &:first-child, &:nth-child(2), &:last-child {
            display: block;
          }
        }
      }
      .cafe-item--information {
        display: flex;
        .information--item {
          margin-right: 50px;
          .information__title {
            color: #6a737b;
            margin-bottom: 5px;
            font-size: .85rem;
          }
          .information__description {
            color: #000;
            font-size: 1rem;
            font-family: Muller-Bold, sans-serif;
            i {
              margin-left: 10px;
              font-family: Arial, sans-serif;
              font-size: .85rem;
            }
          }
        }
      }
    }
    &:after {
      content: ' ';
      display: block;
      width: calc(100% - 60px);
      margin: auto;
      height: .5px;
      position: absolute;
      background: #EBEEF6;
      bottom: 0;
      left: 0;
    }
    &:before {
      content: ' ';
      display: block;
      width: calc(100% - 60px);
      margin: auto;
      height: .5px;
      position: absolute;
      background: #EBEEF6;
      top: 0;
      left: 30px;
    }
    &:hover {
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
      transition: all .5s;
      border-radius: 5px;
      &:before, &:after {
        opacity: 0;
        transition: all .5s;
      }
    }
  }
}

.not_found {
  font-family: Muller-Bold, sans-serif;
  font-size: 1.2rem;
  margin: 30px;
  padding-top: 30px;
  border-top: 1px solid #EBEEF6;
}

@media screen and (max-width: 1200px) {
  .catalog, .single-sex {
    max-width: 860px;
    .title {
      display: none;
    }
    .catalog-section {
      flex-direction: column;
      .catalog-content {
        width: 100%;
      }
      .filter {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        #filter-slider {
          margin-bottom: 20px;
          max-width: 100%;
        }
        .filter-range {
          max-width: 100%;
          border-bottom: 1px solid #EBEEF6;
          padding-bottom: 20px;
          .filter-title {
            margin-left: 0;
          }
          #filter-range-slider {
            width: 100%;
          }
        }
      }
      .catalog-wrap {
        margin-top: 20px;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        .cafe-item {
          border: none;
          max-width: 100%;
          box-sizing: border-box;
          flex-direction: column;
          padding: 30px 20px;
          width: 400px;
          &:before, &:after {
            display: none;
          }
          .cafe--status {
            display: none;
          }
          .cafe-item--information {
            flex-direction: row;
            flex-wrap: wrap;
            .information--item {
              margin-bottom: 17px;
            }
          }
          .categories__item {
            margin-right: 4px;
            font-size: 12px;
          }
          .cafe-item--thumb {
            width: 100%;
            padding: 30px 0;
            margin-bottom: 25px;
          }
        }
        .not_found {
          margin: 0 auto 90px;
          padding: 5px;
          border: none;
        }
      }
    }
  }
  @media screen and (max-width: 859px) {
    .catalog {
      .title {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
      }
      .catalog-section {
        .filter {
          padding: 20px 5px;
        }
        .catalog-wrap {
          .cafe-item {
            margin: auto auto 30px;
            padding: 30px 5px;
            width: 100%;
            max-width: 420px;
            .cafe-item--categories {
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }
}