.companies--wrap {
  display: flex;
  margin-top: 20px;
  margin-bottom: 90px;
  flex-direction: row;
  .title {
    margin: 28px 0;
    font-size: 36px;
    font-family: Muller-Bold, sans-serif;
    color: #2b2b2b;
  }
  .companies, .company, .company-history, .personal--company-history {
    flex: 1;
    margin-right: 60px;
    .food-list--all-sum-info {
      margin: 20px 0 0;
      border-bottom: 1px solid #EAEDF6;
      .food-list--all-sum-info--item, .food-list--all-sum-info--check {
        display: flex;
        margin-bottom: 12px;
        justify-content: space-between;
        .name {
          color: #6a737b;
          font-size: 12px;
        }
        .sum {
          color: #000;
        }
      }
      .food-list--all-sum-info--check {
        border-top: 1px dotted #EAEDF6;
        margin-top: 12px;
        padding-top: 12px;
        .name {
          color: #000;
          font-weight: 900;
        }
        .sum {
          font-weight: 900;
          font-size: 16px;
        }
      }
    }
    .my-companies--list {
      margin-bottom: 86px;
    }
    .my-companies--item {
      border-top: 1px solid #EAEDF6;
      padding: 19px 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      .my-companies--item-info {
        flex: 1;
        .my-companies--name {
          font-size: 16px;
          font-family: Muller-Bold, sans-serif;
          color: #000;
          margin-bottom: 8px;
          line-height: 1;
        }
        .my-companies--address {
          font-size: 14px;
          line-height: 1;
          font-family: Arial, sans-serif;
          color: #6a737b;
        }
      }
      .my-companies--btn {
        opacity: 0;
        color: #00a693;
        border: 1px solid #54E2C3;
        border-radius: 25px;
        text-transform: uppercase;
        padding: 8px 20px 9px 20px;
        transition: all .5s;
        background: #fff;
        &:hover {
          transition: all .5s;
          color: #fff;
          background: #00a693;
        }
      }
      &:hover {
        .my-companies--btn {
          opacity: 1;
          transition: all .5s;
        }
      }
    }
    .my-companies--add--company {
      display: flex;
      cursor: pointer;
      padding: 30px 0 30px;
      align-items: center;
      border: 1px solid #EAEDF6;
      border-right: none;
      border-left: none;
      svg {
        fill: #d6dae7;
        transition: all .5s;
        margin-right: 10px;
      }
      span {
        font-family: Muller-Bold, sans-serif;
        font-size: 16px;
        color: #d6dae7;
        transition: all .5s;
      }
      &:hover {
        span {
          color: #2b2b2b;
          transition: all .5s;
        }
        svg {
          transition: all .5s;
          fill: #2b2b2b;
        }
      }
    }
    .my-companies--prev {
      width: 70px;
      height: 70px;
      border: 1px solid #EAEDF6;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin-right: 11px;
      img {
        display: flex;
        object-fit: contain;
        box-sizing: border-box;
        padding: 15px;
        height: 100%;
      }
    }
    .active-companies--list {
      .active-companies--item {
        border: 1px solid #EAEDF6;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 40px;
        .active-companies--date {
          color: #6a737b;
          font-size: 12px;
          margin-bottom: 14px;
        }
        .active-companies--name {
          font-family: Muller-Bold, sans-serif;
          font-size: 22px;
          @media screen and (max-width: 829px) {
            font-size: 18px;
          }
        }
      }
      .info--alert{
        margin-top: 30px;
      }
    }
    .active-companies--switchers, .history-companies--switchers {
      ul {
        list-style: none;
        display: flex;
        padding: 0;
        background: #FBFBFD;
        margin: 20px -20px 10px;
        border-top: 1px solid #EAEDF6;
        border-bottom: 1px solid #EAEDF6;
        position: relative;
        &.nav-tabs {
          margin: 25px 0 30px;
          position: relative;
          li {
            &:first-child {
              width: auto;
              border-right: 1px solid #EAEDF6;
              border-left: 1px solid #EAEDF6;
            }
          }
          @media screen and (max-width: 829px) {
            li {
              &:first-child {
                display: block;
              }
            }
          }
        }
        li {
          list-style: none;
          border: 1px solid #EAEDF6;
          background: #fbfbfd;
          outline: none;
          transition: all .5s;
          z-index: 3;
          margin-bottom: -1px;
          margin-top: -1px;
          a, span {
            transition: all .5s;
            padding: 9px 30px 10px;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            cursor: pointer;
            svg {
              margin-right: 7px;
              fill: #000;
              transition: all .3s;
            }
          }
          &.ui-state-active {
            background: #ffffff;
            margin-top: -8px;
            border-bottom-color: transparent;
            a, span {
              padding-top: 15px;
              color: #6a737b;
              svg {
                fill: #6a737b;
              }
            }
          }
          &.ui-state-hover, &:hover {
            a, span {
              color: #6a737b;
              svg {
                transition: all .3s;
                fill: #6a737b;
              }
            }
          }
          &:first-child {
            width: 20px;
            border-right: none;
            border-left: none;
          }
        }
      }

      //.workers--content {
      //  margin-top: -20px;
      //}
      .workers--item {
        border-bottom: 1px solid #EAEDF6;
        .workers--item-wrap {
          display: flex;
          margin: 0;
          transition: all .5s;
          align-items: center;
          .workers--item-name {
            padding: 21px 0;
            max-width: 645px;
            width: 100%;
            font-weight: 900;
            cursor: pointer;
          }
          .workers--item-more, .workers--item-sum {
            flex: 1;
          }
          .workers--item-more {
            text-align: left;
            min-width: 20px;
            margin-right: 20px;
          }
          .workers--item-sum {
            text-align: right;
            margin-left: 20px;
            min-width: 40px;
          }
          &.open {
            margin-bottom: 18px;
            transition: all .5s;
          }
          .select2-container{
            .select2-selection--single{
              display: flex;
              justify-content: flex-end;
            }
          }
        }
        .food-list--item-info--wrap {
          display: none;
          .food-list--item-info {
            .count {
              min-width: 101px;
            }
            .price {
              margin-right: 20px;
            }
            .sum {
              max-width: 50px;
              min-width: 30px;

            }
          }
        }
        .history--workers--item-status {
          min-width: 80px;
          text-align: center;
          &.inactive {
            color: #00a2ff;
          }
          &.cancelled {
            color: #e5164e;
          }
          &.finished {
            color: #00a699;
          }
        }
      }

      .food-list--item-info {
        color: #000;
        font-size: 14px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 18px;
        .name {
          max-width: 625px;
          width: 100%;
          position: relative;
          white-space: nowrap;
          overflow: hidden;
          &:after {
            content: ' ';
            position: absolute;
            height: 100%;
            right: 0;
            width: 40px;
            background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
          }
        }
        .number, .price, .count {
          color: #6a737b;
          font-size: 12px;
        }
        .price, .count, .sum {
          flex: 1;
          max-width: 100%;
        }
        .price {
          text-align: left;
        }
        .number {
          max-width: 20px;
          width: 100%;
        }
        .count {
          text-align: center;
          max-width: 45px;
        }
        .sum {
          text-align: right;
        }
        .delete {
          margin-left: 20px;
          svg {
            fill: #C8C8C8;
            transition: all .5s;
          }
          &:hover {
            svg {
              transition: all .5s;
              fill: #FF0000;
            }
          }
        }
        @media screen and (max-width: 829px) {
          .name {
            max-width: 225px;
            margin-right: 10px;
          }
        }
      }
      .food-list--item-info--add {
        display: flex;
        align-items: center;
        color: #6a737b;
        cursor: pointer;
        transition: all .5s;
        border-bottom: 1px dotted #C8C8C8;
        padding-bottom: 18px;
        svg {
          margin-right: 10px;
          fill: #6a737b;
          transition: all .5s;
        }
        &:hover {
          transition: all .5s;
          color: #000;
          svg {
            transition: all .5s;
            fill: #000;
          }
        }
      }
      .food-list--item-info--sum {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 18px;
        padding-bottom: 18px;
        .name {
          font-size: 12px;
        }
        .sum {
          font-weight: 900;
        }
      }
      .worker-content--actions {
        margin-bottom: 20px;
        .order--btn {
          max-width: 160px;
          display: inline-block;
          @media screen and (max-width: 340px) {
            max-width: 130px;
          }
        }
        .order--cancel {
          color: #000;
          text-decoration: underline;
          margin-left: 25px;
        }
      }
      .food--content {
        margin-top: 30px;
        .food-list--all-sum-info {
          border-top: 1px dotted #EAEDF6;
          padding-top: 20px;
          .food-list--all-sum-info--check {
            padding-top: 22px;
            margin-bottom: 22px;
          }
        }
      }
      .panel-body {
        .tab-pane {
          display: none;
          &.ui-state-active {
            display: block;
          }
        }
      }
    }
    .company-info {
      .title {
        font-size: 36px;
        color: #2b2b2b;
        @media screen and (max-width: 829px) {
          font-size: 24px;
        }
      }
      .company-info--wrap {
        display: flex;
        margin-bottom: 20px;
        img {
          width: 120px;
          height: 120px;
          padding: 26px;
          object-fit: contain;
          border: 1px solid #EAEDF5;
          box-sizing: border-box;
          margin-right: 20px;
        }
        .company-info--prev {
          .name-mobile {
            display: none;
          }
          @media screen and (max-width: 829px) {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            img {
              width: 60px;
              height: 60px;
              padding: 8px;
            }
            .name-mobile {
              display: block;
              font-size: 22px;
              font-family: Muller-Bold, sans-serif;
              color: #000;
            }
          }
        }
        .company-info--items {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .company-info--items-icon {
            width: 35px;
            justify-content: center;
            margin-left: -5px;
            svg {
              fill: rgb(106, 115, 123);
            }
            @media screen and (max-width: 829px) {
              display: block;
              width: 18px;
              margin-left: 0;
              margin-right: 7px;
              svg {
                width: 18px;
              }
            }
          }
          .name {
            font-size: 22px;
            font-family: Muller-Bold, sans-serif;
            color: #000;
            @media screen and (max-width: 829px) {
              display: none;
            }
          }
          * {
            display: flex;
            align-items: center;
            color: #6a737b;
          }
        }
        @media screen and (max-width: 829px) {
          flex-direction: column;
          .company-info--items {
            > * {
              align-items: flex-start;
              margin-bottom: 12px;
            }
          }
        }
      }
      .company-actions--wrap {
        border-top: 1px solid #EAEDF6;
        border-bottom: 1px solid #EAEDF6;
        padding: 20px 0 20px;
        display: flex;
        align-items: center;
        .company-actions--list {
          display: flex;
          flex-wrap: wrap;
          flex: 1;
          .company-actions--item {
            color: #00a699;
            display: flex;
            align-items: center;
            width: 50%;
            margin-bottom: 15px;
            &.delete--company{
              color: #e5164e;
              .company-action--icon{
                svg{
                  fill: #e5164e;
                }
              }
            }
            .company-action--icon {
              margin-right: 10px;
              width: 20px;
              svg {
                fill: #00a699;
              }
            }
          }
        }
        .open--order {
          display: flex;
          width: 180px;
          background: #11A598;
          height: 26px;
          text-transform: uppercase;
          align-items: center;
          justify-content: center;
          color: #fff;
          border-radius: 7px;
          font-size: 12px;
          line-height: 1;
        }
        @media screen and (max-width: 829px) {
          flex-direction: column;
          align-items: flex-start;
          .company-actions--list {
            flex-direction: column;
            height: auto;
            .company-actions--item {
              width: 100%;
            }
          }
          .open--order {
            width: 100%;
          }
        }
      }
    }
    .company-team--list {
      display: flex;
      flex-direction: column;
      border: 1px solid #EAEDF6;
      border-radius: 5px;
      padding: 10px 20px;
      .company-team--item {
        display: flex;
        height: 32px;
        align-items: center;
        color: #6a737b;
        font-size: 14px;
        justify-content: space-between;
        &:nth-child(2n) {
          background: #f9f9f9;
          margin: 0 -10px;
          padding: 0 10px;
        }
        svg {
          fill: #C8C8C8;
          transition: all .5s;
          cursor: pointer;
        }
        &.t-head {
          font-size: 12px;
        }
        .name {
          max-width: 380px;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          flex: 1;
        }
        .email {
          max-width: 280px;
          width: 100%;
          flex: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin-right: 10px;
        }
        .position {
          flex: 1;
          max-width: 120px;
        }
        .edit--wrap {
          display: flex;
          flex: 1;
          justify-content: space-between;
          max-width: 60px;
          width: 100%;
          .delete, .edit--person {
            svg {
              &:hover {
                transition: all .5s;
                fill: #ff0000;
              }
            }
          }
        }
      }
      @media screen and (max-width: 829px) {
        .t-head {
          display: none;
        }
        .company-team--item {
          height: 50px;
          .email, .position {
            display: none;
          }
          .name {
            max-width: 200px;
          }
        }
      }
    }
    .company-add--worker {
      .company-add--worker-wrap {
        border: 1px solid #EAEDF6;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
      }
      .add--worker-title {
        flex: 1;
      }
      #what_is_it {
        cursor: pointer;
        position: relative;
        i {
          margin-left: 0;
          background: #00a699;
          color: #fff;
          font-style: normal;
          border-radius: 50%;
          padding: 1px 6px 1px 5px;
          text-align: center;
          font-size: 12px;
        }
        span {
          font-size: 11px;
          color: #00a699;
          border-bottom: 1px dotted #00a699;
        }
        .what_is_it--information {
          display: none;
          background: rgba(238, 248, 241, .9);
          cursor: default;
          position: absolute;
          width: 300px;
          padding: 0 15px;
          margin-top: 10px;
          margin-left: 5px;
          border: 1px solid #eef8f1;
          line-height: 1.4;
          box-sizing: border-box;
          right: 0;
        }
      }
      #add--worker {
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px 0 11px;
        height: 42px;
        border: 1px solid #EAEDF6;
        border-radius: 3px;
        margin: 15px 0 15px;
        color: #000;
        appearance: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .add--worker-btn {
        display: flex;
        align-items: center;
        border: none;
        background: transparent;
        color: #00a2ff;
        transition: all .5s;
        font-size: 12px;
        svg {
          fill: #00a2ff;
          margin-right: 7px;
          transition: all .5s;
        }
        i {
          font-style: normal;
          margin: auto;
        }
        &.copy_error {
          transition: all .5s;
          color: #ff5a5f;
          svg {
            transition: all .5s;
            fill: #ff5a5f;
          }
        }
        &.copy_success {
          transition: all .5s;
          color: #00a699;
          svg {
            fill: #00a699;
            transition: all .5s;
          }
        }
      }
      @media screen and (max-width: 829px) {
        .company-add--worker-wrap {
          padding: 10px;
        }
        .add--worker-title {
          order: 1;
          width: 100%;
          line-height: 1.3;
          flex: 1 0 auto;
        }
        #add--worker {
          order: 2;
        }
        .add--worker-btn {
          order: 3;
          flex: 1 0 auto;
        }
        #what_is_it {
          order: 4;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      margin-right: 0;
      .my-companies--item {
        .my-companies--btn {
          opacity: 1;
        }
      }
    }
    @media screen and (max-width: 829px) {
      width: 100%;
      .title {
        font-size: 26px;
      }
      .my-companies--item {
        flex-wrap: wrap;
        &:first-child {
          border-top: none;
        }
        .my-companies--btn {
          width: 100%;
          margin-top: 20px;
          text-align: center;
        }
      }
      .active-companies--list {
        .active-companies--item {
          padding: 20px 9px;
        }
      }
      .active-companies--switchers, .history-companies--switchers {
        ul {
          margin: 20px -10px 30px;
          li {
            flex: 1;
            &:first-child {
              display: none;
            }
          }
        }
        .workers--content {
          .workers--item-more {
            display: none;
          }
          .workers--item {
            .workers--item-name {
              max-width: 100%;
              flex: 5;
            }
          }
          .food-list--item-info--wrap {
            .food-list--item-info {
              .count, .price, .sum {
                min-width: 50px;
              }
              .name {
                max-width: 160px;
              }
              .price {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 400px) {
      .active-companies--switchers, .history-companies--switchers {
        .workers--content, .food--content {
          .food-list--item-info--wrap {
            .food-list--item-info {
              .count, .price, .sum {
                min-width: 33px;
              }
              .price {
                margin-right: 0;
              }
              .delete {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
  .company {
    .active-companies--list, .company-team, .company-add--worker {
      .title {
        font-size: 28px;
        color: #2b2b2b;
        margin: 40px 0 15px;
        @media screen and (max-width: 829px) {
          font-size: 24px;
        }
      }
    }
  }
  .companies--sidebar {
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}

.company-history--wrap {
  .company-history, .personal--company-history {
    .history--information-wrap {
      margin-bottom: 90px;
      border-top: 1px solid #EAEDF6;
      padding-top: 20px;
      @media screen and (max-width: 370px) {
        .h--i-i_prev {
          width: 70px;
        }
        .h--i-i_information {
          .name_date {
            .title {
              font-size: 12px;
              a{
                color: #2b2b2b;
              }
            }
          }
          .status {
            margin: 0 5px 0 -5px;
          }
        }
      }
      @media screen and (max-width: 340px) {
        .h--i-i_prev {
          width: 60px;
        }
      }
    }
    .company-history--information-item {
      padding-bottom: 20px;
      margin-bottom: 20px;
      .h--i-i_information--wrap {
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        .h--i-i_information {
          margin-top: 0;
          align-items: center;
        }
      }
      .checkout-wrap {
        .history-companies--switchers {
          .panel-body {
            .food-list--all-sum-info {
              margin-bottom: 10px;
              border-bottom: 0;
            }
            .food-list--item-info--wrap {
              .food-list--item-info {
                .name {
                  max-width: 100%;
                }
              }
            }
            .food-list--all-sum-info--check, .food-list--all-sum-info--check {
              padding-top: 25px;
              margin-bottom: 0;
            }
            .food--content {
              .food-list--item-info--wrap {
                .food-list--item-info {
                  .name {
                    max-width: 625px;
                    @media screen and (max-width: 829px) {
                      max-width: 225px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .title {
        margin: 0;
      }
    }
    .filters {
      margin-bottom: 35px;
      display: flex;
      .filter-item {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        label {
          font-size: 12px;
          margin-bottom: 8px;
        }
        .select2-selection--single {
          height: 40px;
          display: flex;
          align-items: center;
          border: 1px solid #888;
          .select2-selection__rendered {
            color: #6a737b;
          }
          .select2-selection__arrow {
            height: 36px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .company-history {
      @media screen and (max-width: 829px) {
        .filters {
          margin-bottom: 0;
          flex-direction: column;
          .filter-item {
            margin-bottom: 20px;
            margin-right: 0;
            .select2-container {
              min-width: 100%;
              max-width: 100%;
            }
          }
        }
      }
      .company-history--information-item {
        .h--i-i_information {
          .name_date {
            flex-direction: column;
            align-items: flex-start;
            max-width: 300px;
            .title {
              order: 2;
              margin-top: 0;
            }
            .sub_info {
              order: 1;
              margin-bottom: 4px;
            }
            @media screen and (max-width: 829px) {
              max-width: 140px;
            }
          }
        }
      }
    }
  }
  .personal--company-history {
    .filters {
      position: relative;
      justify-content: space-between;
      .filters-wrap {
        display: flex;
        width: 100%;
      }
      .filter-item {
        .select2-container {
          min-width: 150px;
          max-width: 100%;
        }
      }
      @media screen and (max-width: 829px) {
        .filters-wrap {
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .filter-item {
          min-width: 46%;
          margin-right: 0;
          .select2-container {
            min-width: 100%;
          }
        }
      }
    }
    .print {
      margin: auto 0;
      display: block;
      flex: 1;
      width: 100%;
      height: 0;
      text-align: right;
      max-width: 20px;
      position: initial;
      @media screen and (max-width: 829px) {
        display: none;
      }
    }
    .person-history--information-wrap {
      .person-history--information--item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
      }
      .food-list--all-sum-info {
        border-top: 1px dotted #EAEDF6;
        padding-top: 20px;
        border-bottom: none;
      }
    }
  }
}

.new-company--order {
  .title{
    text-align: center;
    span{
      color: #ff5a5e;
    }
  }
  form {
    max-width: 440px;
    width: 100%;
    margin: 30px auto 50px;
    p {
      display: flex;
      flex-direction: column;
    }
    label{
      margin-bottom: 10px;
      font-size: 12px;
      font-family: Arial, sans-serif;
    }
    .revers{
      flex-direction: row-reverse;
      justify-content: space-between;
      .order--cancel{
        text-align: left;
        padding-left: 0;
      }
      @media screen and (max-width: 829px) {
        .order--cancel{
          text-align: center;
          padding-left: 25px;
        }
      }
    }
  }
  .select2-selection--single {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #EAEDF6;
    .select2-selection__rendered {
      color: #6a737b;
    }
    .select2-selection__arrow {
      height: 36px;
    }
  }
}

.my-company--wrap {
  @media screen and (max-width: 829px) {
    overflow: visible;
    .company {
      .company-add--worker {
        #what_is_it {
          .what_is_it--information {
            width: 270px;
          }
        }
      }
    }
  }
}

.print {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 18px;
  height: 18px;
  svg {
    fill: #c8cbd2;
    transition: all .5s;
  }
  &:hover {
    svg {
      fill: #000;
      transition: all .5s;
    }
  }
}

.go_back {
  color: #00A699;
  font-size: 22px;
  display: flex;
  align-items: center;
  font-family: Muller-Medium, sans-serif;
  margin: 60px 0 25px;
  svg {
    margin-right: 10px;
  }
  @media screen and (max-width: 829px) {
    font-size: 16px;
  }
}

.select2-container {
  .select2-dropdown {
    min-width: 0;
  }
}

.select2-container--status {
  min-width: 101px;
  .select2-dropdown {
    width: auto !important;
    min-width: 0;
    .select2-results {
      .select2-results__options {
        .select2-results__option {
          padding-left: 10px;
          padding-right: 15px;
          &:nth-of-type(1) {
            color: #00a2ff;
          }
          &:nth-of-type(2) {
            color: #e5164e;
          }
          &:nth-of-type(3) {
            color: #00a699;
          }
          &:nth-of-type(4) {
            color: #006edf;
            display: none;
          }
          &.select2-results__option--highlighted[aria-selected] {
            background: transparent;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .select2-selection {
    border: none;
    outline: none;
    .select2-selection__rendered {
      overflow: visible;
      text-overflow: clip;
      &[title='закончил(a)'], &[title='finished'] {
        color: #00a699;
      }
      &[title='открытый'], &[title='open'] {
        color: #00a2ff;
      }
      &[title='отменил(a)'], &[title='cancelled'] {
        color: #e5164e;
      }
      &[title='в процессе'], &[title='in progress'] {
        color: #006edf;
      }
    }
    .select2-selection__arrow {
      b {
        border-color: #C3C7CA transparent transparent;
      }
    }
  }
  &.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          border-color: transparent transparent #C3C7CA;
        }
      }
    }
  }
}

.add-companies--modal {
  .form--item {
    display: flex;
    flex-direction: column;
    margin: 0;
    label {
      margin-bottom: 7px;
      font-size: 12px;
    }
    input[type='text'], input[type='tel'] {
      padding: 12px 15px 10px 11px;
      border: 1px solid #EAEDF6;
      border-radius: 3px;
      color: #000;
      appearance: none;
    }
    input[type='text']::-webkit-input-placeholder {
      text-overflow: ellipsis;
      color: #b4bcc5;
      font-weight: 300;
    }
    input[type='tel']::-webkit-input-placeholder {
      text-overflow: ellipsis;
      color: #b4bcc5;
      font-weight: 300;
    }
    .company_btn {
      background: #11A598;
      border-radius: 10px;
      color: #fff;
      font-size: 16px;
      line-height: 1;
      max-width: 200px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 0 21px;
    }
  }
  @media screen and (max-width: 500px) {
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  @media only screen and (max-height: 660px) and (min-aspect-ratio: 13/9) {
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .title {
        width: 100%;
        font-size: 22px;
      }
      .form--item {
        margin-right: 10px;
        width: 45%;
        &:last-child {
          width: 100%;
        }
        &.logotype--wrap {
          width: 70%;
        }
      }
    }
  }
}

label[for='company_logo'] {
  border: 1px solid #54E2C3;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 8px 20px 7px;
  max-width: 250px;
  margin-bottom: 30px;
  min-height: 20px;
  svg {
    margin-right: 11px;
  }
  i {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #00a693;
    font-style: normal;
    max-width: 190px;
  }
}

input[type='file'] {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -9999999px;
  background: transparent;
  pointer-events: none;
  outline: none;
}

.create--company-page{
  margin-bottom: 80px;
  .title{
    margin: 30px auto;
    @media screen and (max-width: 829px){
      margin: 0 auto 20px;
    }
  }
  @media screen and (max-width: 829px){
    margin-bottom: 30px;
  }
}