.contacts {
  padding-bottom: 20px;
  .title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.contacts--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  .contacts--item {
    display: flex;
    flex-direction: column;
    padding: 33px;
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    flex: 1;
    height: 230px;
    &.main-contacts {
      padding: 50px 33px;
      z-index: 2;
      background: #fff;
      height: 260px;
      .c-title {
        color: #ff5a5e;
        text-align: center;
      }
      .short-phone {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Muller-Bold, sans-serif;
        font-size: 48px;
        color: #2b2b2b;
        object {
          margin-right: 10px;
          width: 45px;
          height: 45px;
        }
        @media screen and (max-width: 829px){
          font-size: 32px;
          object{
            width: 25px;
          }
        }
      }
      .another-phones--wrap {
        width: 100%;
        padding: 10px 30px;
        box-sizing: border-box;
        border: none;
        .title {
          text-align: left;
        }
        .description {
          a {
            font-size: 16px;
            @media screen and (max-width: 829px){
              font-size: 14px;
            }
          }
        }
      }
    }
    .c-title {
      color: #2b2b2b;
      font-family: Muller-Bold, sans-serif;
      font-size: 24px;
      margin-bottom: 30px;
    }
    .c-info {
      color: #6a737b;
      font-size: 14px;
      font-family: Arial, sans-serif;
      margin-bottom: 23px;
      line-height: 1.3;
      display: flex;
      align-items: center;
      span {
        margin-left: 5px;
      }
      b {
        color: #000;
      }
    }
    .read-to-us {
      background: #00a693;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      color: #fff;
      padding: 8px 17px;
      border-radius: 10px;
      width: 130px;
      text-transform: uppercase;
      box-sizing: border-box;
      font-size: 12px;
      text-align: center;
    }
    &:first-child {
      margin-right: -10px;
    }
    &:last-child {
      margin-left: -10px;
      padding-left: 43px;
    }
  }
  @media screen and (max-width: 1250px) {
    .contacts--item {
      padding: 23px;
      &.main-contacts {
        padding: 33px 23px;
        .another-phones--wrap {
          padding: 10px 0;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    width: 100%;
    max-width: 560px;
    margin: auto;
    .contacts--item {
      order: 2;
      width: 100%;
      padding: 30px;
      margin: auto;
      box-sizing: border-box;
      height: auto;
      align-items: center;
      &:first-child {
        margin-right: auto;
      }
      &:last-child {
        margin-left: auto;
        padding-left: 30px;
      }
      .c-title{
        text-align: center;
      }
      .c-info{
        width: 248px;
        justify-content: flex-start;
      }
      .read-to-us{
        margin: auto;
      }
      &.main-contacts {
        height: auto;
        order: 1;
        .another-phones--wrap{
          max-width: 100%;
          width: 300px;
        }
      }
    }
  }
  @media screen and (max-width: 869px){
    .contacts--item{
      padding: 25px 15px;
      &:last-child{
        padding-left: 15px;
      }
      .c-info{
        width: 300px;
        max-width: 100%;
      }
      .c-title{
        font-size: 18px;
      }
      &.main-contacts{
        padding: 20px 15px;
      }
    }
  }
}
.contacts--information{
  margin-bottom: 90px;
  margin-top: 60px;
  .title{
    margin-top: 50px;
    text-align: center;
  }
  @media screen and (max-width: 829px) {
    margin-top: 0;
  }
}