@font-face {
  font-family: Muller-Extra-Bold;
  src: url(./../fonts/muller-extra-bold-webfont.woff) format('woff'),
  url(./../fonts/muller-extra-bold-webfont.woff2) format('woff2'),
  url(./../fonts/muller-extra-bold-webfont.ttf) format('truetype');
}

@font-face {
  font-family: Muller-Bold;
  src: url(./../fonts/muller-bold-webfont.woff) format('woff'),
  url(./../fonts/muller-bold-webfont.woff2) format('woff2'),
  url(./../fonts/muller-bold-webfont.ttf) format('truetype');
}

@font-face {
  font-family: Muller-Medium;
  src: url(./../fonts/muller-medium-webfont.woff) format('woff'),
  url(./../fonts/muller-medium-webfont.woff2) format('woff2'),
  url(./../fonts/muller-medium-webfont.ttf) format('truetype');
}

@font-face {
  font-family: Muller-Light;
  src: url(./../fonts/muller-light-webfont.woff) format('woff'),
  url(./../fonts/muller-light-webfont.woff2) format('woff2'),
  url(./../fonts/muller-light-webfont.ttf) format('truetype')
}
