.cafe-wrap {
  outline: none;
  margin: 0 20px 0 0;
  height: 400px;
  max-width: 260px;
  width: 100%;
  box-sizing: border-box;
  .cafe-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: relative;
    z-index: 1;
    transition: all .5s;
    &:hover{
      .color-cover{
        transition: all .5s;
        opacity: .6;
      }
    }
  }
  .cafe-item--prev {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    z-index: 1;
    background: url("./../img/icons/icon-line.svg") bottom repeat-x;
    .prev--logo {
      margin: 0 auto;
    }
    .prev--name{
      color: #ffffff;
      margin-top: 40px;
      .prev--name_title{
        font-size: 1.5rem;
        font-family: Muller-Extra-Bold, sans-serif;
        letter-spacing: 1.5px;
      }
      .prev--name_description{
        font-weight: 100;
      }
    }
  }
  .color-cover{
    width: 100%;
    height: 100%;
    opacity: .3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all .5s;
  }
  .cafe-item--info {
    color: #ffffff;
    z-index: 1;
    width: 100%;
    height: 125px;
    .cafe-item--info-title{
      margin-top: 15px;
    }
    .cafe-item--info-description{
      margin-top: 5px;
      font-family: Muller-Extra-Bold, sans-serif;
    }
  }
}