.categories {
  .title {
    margin-bottom: 20px;
    i {
      color: #FF5A5F;
      font-style: normal;
    }
  }
  .cat-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .cat-item {
      margin: 0 0 33px;
      display: block;
      width: calc(12% - 10px);
      transition: all .5s;
      padding: 1px;
      @media screen and (max-width: 1200px) {
        width: calc(25% - 10px);
        margin-bottom: 10px;

      }
      @media screen and (max-width: 829px){
        .cat-item--title {
          font-size: .6rem;
        }
      }
      @media screen and (max-width: 420px) {
        width: calc(50% - 10px);
        margin-bottom: 15px;
        .cat-item--title {
          font-size: .9rem;
        }
        .cat-item--count {
          font-size: .7rem;
        }
      }
      .cat-item--prev {
        width: 100%;
        img {
          transition: all .5s;
          filter: brightness(100%);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .cat-item--title {
        text-transform: uppercase;
        text-align: center;
        margin: 10px auto 6px;
        color: #04050A;
        font-family: Muller-Extra-Bold, sans-serif;
      }
      .cat-item--count {
        color: #6A737B;
        text-align: center;
        margin-bottom: 13px;
      }
      &:hover{
        .cat-item--prev{
          //background: rgba(0,0,0,.5);
          img{
            filter: brightness(60%);
            transition: all .5s;

          }
        }
      }
    }
  }
}

.best-food {
  .title {
    color: #50E3C2;
    margin-top: 50px;
  }
  #best-food-slider {
    .card--item{
      margin: 0 10px;
    }
    @media screen and (max-width: 829px){
      .slick-arrow{
        background: transparent;
        &:before{
          content: " ";
          background: none;
        }
        &.slick-next{
          width: calc(100% - 320px);
          height: 100%;
          background: transparent;
          top: 50%;
          bottom: initial;
          margin: auto;
          border-radius: 0;
        }
        &.slick-prev{
          width: calc(100% - 320px);
          height: 100%;
          background: transparent;
          top: 50%;
          bottom: initial;
          margin: auto;
          border-radius: 0;
        }
      }
    }

  }
  @media screen and (max-width: 599px) {
    padding: 0 0;
    .title {
      padding-left: 15px;
      font-size: 1.5rem;
      margin-top: 10px;
    }
  }
}

.best-cafe {
  .title {
    color: #FFCF00;
  }
  #best-cafe-slider {
    @media screen and (max-width: 829px){
      .slick-arrow{
        background: transparent;
        &:before{
          content: " ";
          background: none;
        }
        &.slick-next{
          width: calc(100% - 330px);
          height: 100%;
          background: transparent;
          top: 50%;
          bottom: initial;
          margin: auto;
          border-radius: 0;
        }
        &.slick-prev{
          width: calc(100% - 330px);
          height: 100%;
          background: transparent;
          top: 50%;
          bottom: initial;
          margin: auto;
          border-radius: 0;
        }
      }
    }
  }
  @media screen and (max-width: 829px) {
    padding: 0;
    .title{
      padding-left: 15px;
    }
  }
}