.slider {
  margin-bottom: 70px;
  visibility: hidden;
  max-width: 100%;
  padding: 0;
  .slick-list, .slick-track {
    height: 451px;
  }
  .slick-slide {
    max-width: 80vw;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    @media (min-width: 1580px) {
      max-width: 1380px;
    }
  }
  &.slick-slider {
    margin-bottom: 20px;
  }
  .slick-arrow {
    width: calc((100% - 80vw) / 2);
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    transition: all .5s;
    @media (min-width: 1580px) {
      width: calc((100% - 1380px) / 2);
    }
    &:before {
      content: " ";
      position: absolute;
      width: 31px;
      height: 60px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:hover {
      background: rgba(0, 0, 0, .7);
      transition: all .5s;
    }
    &.slick-prev {
      left: 0;
    }
    &.slick-next {
      right: 0;
    }
  }
  .slick-dots {
    bottom: 0;
    li {
      height: 10px;
      width: 15px;
      button {
        &:before {
          content: " ";
          width: 5px;
          height: 5px;
          background: #eee;
          border-radius: 50%;
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.55);
          opacity: .5;
          transition: all .5s;
          right: 0;
          left: 0;
          margin: auto auto 3px;
        }
      }
    }
    li.slick-active button:before {
      opacity: .9;
      background: #000;
      transition: all .5s;
    }
  }

  @include for-size(extra-desktop-up) {
    .slick-list, .slick-track {
      height: 600px;
    }
  }

  @include for-size(tablet-view) {
    .slick-list, .slick-track {
      height: 290px;
    }
  }

  @include for-size(phone-only) {
    .slick-list, .slick-track {
      height: 220px;
    }
  }
}

#best-food-slider, #best-cafe-slider{
  .slick-arrow {
    z-index: 3;
    font-size: medium;
    width: 40px;
    top: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    &:before {
      content: " ";
      position: absolute;
      width: 10px;
      height: 20px;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
    }
    &.slick-prev {
      left: -20px;
      &:before {
        background: url("./../img/icons/icon-arrow-food-prev.svg") no-repeat;
        background-size: cover;
      }
    }
    &.slick-next {
      right: -20px;
      &:before {
        background: url("./../img/icons/icon-arrow-food-next.svg") no-repeat;
        background-size: cover;
      }
    }
  }
  .slick-dots {
    bottom: -50px;
    li {
      height: 10px;
      width: 15px;
      button {
        &:before {
          content: " ";
          width: 5px;
          height: 5px;
          background: #eee;
          border-radius: 50%;
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.55);
          opacity: .5;
          transition: all .5s;
          right: 0;
          left: 0;
          margin: auto auto 3px;
        }
      }
    }
    li.slick-active button:before {
      opacity: .9;
      background: #000;
      transition: all .5s;
    }
  }
  @media screen and (max-width: 829px) {
    .slick-arrow {
      &.slick-prev {
        left: -5px;
      }
      &.slick-next {
        right: -5px;
      }
    }
  }
}

#best-cafe-slider {
  .slick-arrow {
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.filter{
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 20px 30px 5px;
  z-index: 9;
  transition: top .4s ease-in-out;
  .filter-slider--owl{
    width: 65%;
    @media screen and (max-width: 1200px) {
      width: 100%;
      margin-bottom: 25px;
    }
  }
}

#food--comments-slider{
  float: right;
  max-width: 50%;
  .home--comments-item {
    padding: 20px 0;
    outline: none;
    max-height: 200px;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    max-width: 100%;
    .comments-item--info{
      display: flex;
    }
    .prev--photo{
      border-radius: 50%;
      margin-right: 38px;
      @media screen and (max-width: 1200px){
        max-width: 80px;
      }
    }
    .comments-item--prev {
      height: 80px;
    }
    .info--comment {
      max-width: 400px;
      font-size: 1.2rem;
      line-height: 1.9rem;
      margin-top: 5px;
      margin-bottom: 14px;
      position: relative;
      @media screen and (max-width: 1200px) {
        font-size: 16px;
      }
      .start, .end {
        fill-opacity: .3;
      }
      .start {
        position: absolute;
        top: -15px;
        left: -35px;
      }
      .end {
        margin-bottom: -15px;
      }
    }
    .info--name {
      font-size: 1.2rem;
      color: #000;
      line-height: 1.4rem;
      margin-top: 20px;
    }
    .info--position {
      line-height: 1.4rem;
      color: #6A737B;
      font-size: 14px;
    }
  }
  .slick-next{
    bottom: 0;
    right: 0;
    top: 85%;
    background: linear-gradient( rgba(255,255,255, .0), rgba(255,255,255, .9) 50%, rgba(255,255,255, .97) 80%, rgba(255,255,255, 1) );
    width: 100%;
    height: 120px;
    &:before{
      content: url(../img/icons/icon-arrow-food-down.svg);
      position: absolute;
      bottom: 25px;
    }
    @media screen and (max-width: 890px){
      top: 87%;
    }
  }
  @media screen and (max-width: 829px) {
    clear: both;
    max-width: 100%;
    margin-bottom: 50px;
    .home--comments-item{
      padding-bottom: 0;
      max-height: 100%;
      .comments-item--info{
        flex-direction: column;
        align-items: center;
        text-align: center;
        .prev--photo{
          margin-right: 0;
        }
        .start{
          position: inherit;
        }
      }
    }
    .info--comment-text{
      padding: 0 20px;
    }
  }
}