footer{
  z-index: 2;
  position: relative;
}
.food-footer {
  padding: 0 30px 36px;
  background: #FBF9EE;
  margin-top: -5px;
  position: relative;
  &:before{
    content: ' ';
    display: block;
    position: absolute;
    top:-5px;
    left:0;
    right:0;
    width: 100%;
    height: 5px;
    background: url("./../../static/img/icons/icon-footer-line--top.svg") repeat-x center;
  }
  .food-footer--wrap{
    padding: 45px 30px 0;
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .food-footer--item{
      max-width: 190px;
      text-align: left;
      .food-footer-item--title{
        font-family: Muller-Extra-Bold, sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
      }
      ul{
        list-style: none;
        padding-left: 0;
        li{
          a{
            color: #6F777F;
            font-size: .95rem;
            line-height: 1.8;
            transition: all .5s;
            &:hover{
              transition: all .5s;
              color: #00A699;
            }
          }
        }
      }
    }
  }
  &:after{
    content: ' ';
    display: block;
    position: absolute;
    bottom: -4px;
    left:0;
    right:0;
    width: 100%;
    height: 5px;
    background: url("./../../static/img/icons/icon-footer-line--bottom.svg") repeat-x bottom;
  }
  @media screen and (max-width: 1024px){
    display: none;
  }
}
.footer{
  padding: 0 30px;
  .footer-wrap{
    max-width: 1440px;
    padding: 0 30px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 126px;
    align-items: center;
  }
  .footer-item--store-icons{
    display: flex;
    a{
      display: block;
      margin: 0 10px;

    }
  }
  .footer-item--copyright{
    color: #6A737B;
    font-size: 1.1rem;
    .footer-information{
      max-width: 510px;
      line-height: 1.3;
      margin-top: 8px;
      padding-left: 16px;
      font-size: .9rem;
    }
    a{
      color: #6A737B;
      text-decoration: underline;
    }
  }
  .develop{
    max-width: 220px;
    width: 100%;
    display: flex;
    font-size: 12px;
    color: #6a737b;
    margin: 0 10px;
    span{
      color: #ec2227;
      text-decoration: underline;
    }
    p{
      margin: 0;
      line-height: 1.3;
    }
    svg{
      margin-right: 10px;
      min-width: 28px;
    }
  }
  @media screen and (max-width: 1200px){
    padding: 0;
    .footer-wrap{
      padding: 0;
      height: auto;
      flex-direction: column;
    }
    .footer-item--store-icons{
      order: 1;
      width: 100%;
      background: #fbf9ee;
      display: flex;
      justify-content: center;
      padding: 25px 0 28px;
    }
    .footer-item--copyright{
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 24px;
      line-height: 1.5;
      .footer-information{
        padding: 0 15px;
      }
    }
    .develop{
      order: 3;
      text-align: center;
      margin: 20px auto 10px;
      flex-direction: column;
      align-items: center;
      p{
        padding: 10px 20px;
      }
      svg{
        margin: auto;
      }
    }
    .footer-item--invest-icon{
      order: 4;
      margin-top: 14px;
      margin-bottom: 30px;
    }
  }
}
