.food-main-footer{
  padding: 63px 0 0;
  background: #FBF9EE;
  z-index: 3;
  max-width: 100%;
  position: relative;
  margin-top: 45px;
  &:before{
    content: ' ';
    display: block;
    position: absolute;
    top:-4px;
    left:0;
    right:0;
    width: 100%;
    height: 5px;
    background: url("./../../static/img/icons/icon-footer-line--top.svg") repeat-x center;
  }
  .food-main-footer--wrap{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid #DDE3E6;
    padding: 0 30px 53px;
    box-sizing: border-box;
    .food-main-footer--item{
      width: 310px;
      display: flex;
      margin-bottom: 40px;
      justify-content: space-between;
      .food-main-footer--item-icon{
        width: 70px;
        margin-right: 10px;
      }
      .food-main-footer--item-title, .food-main-footer--item-description{
        width: 100%;
      }
      .food-main-footer--item-title{
        font-family: Muller-Extra-Bold, sans-serif;
        font-size: .9rem;
        line-height: 1.4rem;
        margin-bottom: 9px;
        text-transform: uppercase;
        max-width: 156px;
      }
      .food-main-footer--item-description{
        color: #6A737B;
        font-size: 1rem;
        line-height: 1.4rem;
        max-width: 230px;
      }
    }
    @media screen and (max-width: 1300px){
      max-width: 800px;
    }
    @media screen and (max-width: 690px){
      justify-content: space-around;
    }
  }
}