$font-size: 20px;
$line-height: 1.1;
$lines-to-show: 2;
$font-size--descr: 14px;
$line-height--descr: 1.4;

.menu--filter {
  height: 35px;
  background: #fff;
  z-index: 9;
  transition: top .4s ease-in-out;
  padding: 10px 0 10px;
  #filter-slider {
    width: 100%;
    max-width: 100%;
  }
}

.filter--move{
  top: 105px !important;
  @media screen and (max-width: 1024px){
    top: 62px !important;
  }
}

.filter-slider--owl {
  position: relative;
  &.slider--load{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    height: 33px;
    .filter--item{
      margin-right: 10px;
    }
  }
  .owl-prev, .owl-next {
    width: 33px;
    height: 31px;
    background: #fff !important;
    border: 1px solid #d5d4d5 !important;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: 0;
    position: absolute;
    box-shadow: 0 0 10px 15px #fff;
    transition: all .5s;
    &:hover {
      .nav--arrow {
        fill: rgba(43, 43, 59, 0.8);
        transition: all .5s;
      }
    }
    &.disabled {
      opacity: 0;
    }
    .nav--arrow {
      transition: all .5s;
      width: 16px;
      height: 14px;
      fill: #2b2b3b;
    }
  }
  .owl-prev {
    left: 0;
    box-shadow: -8px 0 10px 15px #fff;
  }
  .owl-next {
    right: 0;
    box-shadow: 8px 0 10px 15px #fff;
  }
  @media screen and (max-width: 480px){
    .owl-prev {
      left: -5px;
    }
    .owl-next {
      right: -5px;
    }
  }
  .filter--item {
    cursor: pointer;
    padding: 8px 15px 7px;
    background: #fbfbfd;
    border-radius: 15px;
    color: #707477;
    border: 1px solid #eaedf6;
    outline: none;
    transition: all .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 290px;
    box-sizing: border-box;
    margin: 1px 0;
    display: block;
    user-select: none;
    &:hover{
      background: rgba(8, 168, 160, 0.2);
      @media screen and (max-width: 1024px){
        background: #fbfbfd;
      }
    }
    &.active--filter{
      background: #08a8a0;
      color: #fff;
      border: 1px solid transparent;
    }
    @media screen and (max-width: 829px){
      max-width: 260px;
    }
    @media screen and (max-width: 380px){
      max-width: 220px;
    }
  }
}

.card--wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 -10px;
}

.card--item, .food-item {
  height: 338px;
  outline: none;
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px 10px 40px;
  &.inactive {
    opacity: .5;
    pointer-events: none;
    .card--item-action .status {
      pointer-events: none;
    }
  }
  .card--item-info {
    transition: top .5s;
    top: 0;
    min-height: 302.19px;
  }
  .card--item--prev, .food-item--prev {
    position: relative;
    display: block;
    img{
      border: 1px solid #eee;
      border-radius: 3px;
      object-fit: contain;
      box-sizing: border-box;
    }
    .prev--logo {
      border: 1px solid #eee;
      border-radius: 3px;
      position: absolute;
      bottom: 4px;
      left: 4px;
      width: 52px;
      height: 52px;
      background: #ffffff;
      margin: auto;
      object-fit: contain;
    }
  }
  .food-item--title {
    display: block;
    display: -webkit-box;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: Muller-Bold, sans-serif;
    color: #000;
    line-height: 1.1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    height: $font-size*$line-height*$lines-to-show;
    width: 100%;
  }
    .card--item--title{
      margin-top: 10px;
      margin-bottom: 2px;
      font-size: 20px;
      font-family: Muller-Bold, sans-serif;
      color: #000;
      line-height: 1.1;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      height: $font-size*$line-height*$lines-to-show;
      width: 100%;
    }
  .card--item--description, .food-item--description{
    display: block;
    display: -webkit-box;
    color: #6a737b;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    height: 37px;
    min-height: 37px;
    cursor: default;
    word-wrap: break-word;
    b {
      color: #ff6166;
    }
    &.pointer--description {
      cursor: pointer;
    }
  }
  .card--item--title{
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    height: 43px;
    min-height: 40px;
    cursor: default;
    word-wrap: break-word;
    b {
      color: #ff6166;
    }
    &.pointer--title {
      cursor: pointer;
    }
  }
  .food-item--description{
    -webkit-line-clamp: 3;
    height: 60px;
  }
  .card--item-action, .receipt--actions {
    width: 100%;
    bottom: 0;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background: #fff;
    .price {
      color: #00A699;
      font-size: 1.3rem;
      i {
        font-style: normal;
      }
      .old--price {
        text-decoration: line-through;
        color: #6a737b;
        font-size: 12px;
        padding-top: 1px;
      }
      .new--price {
        font-weight: 500;
        color: #e32252;
        font-size: 16px;
      }
    }
    .count {
      position: relative;
      display: flex;
      align-items: center;
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type=number] {
        -moz-appearance: textfield;
        width: 30px;
        float: left;
        display: block;
        border: none;
        margin: 0;
        font-size: 1.3rem;
        color: #00A699;
        text-align: center;
        pointer-events: none;
        &:focus {
          outline: none;
        }
      }
    }
    .status {
      border-radius: 20px;
      text-transform: uppercase;
      width: 90px;
      line-height: 1;
      padding: 6px 0 5px 3px;
      margin-right: 40px;
      font-size: .8rem;
      background: #ffffff;
      transition: all .5s;
      pointer-events: auto;
      border: 1px solid #11a598;
      color: #11a598;
      &:hover {
        transition: all .5s;
        color: #ffffff;
        background: #11a598;
      }
    }
  }
  &.show {
    overflow: hidden;
    .card--item-info {
      transition: top .5s;
      top: auto;
      position: absolute;
      bottom: 43px;
      width: 100%;
    }
    .card--item--description {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 243px;
      margin-bottom: 5px;
      -webkit-line-clamp: initial;
    }
    .card--item-action{
      position: absolute;
    }
  }
  &.shows {
    overflow: hidden;
    .card--item-info {
      transition: top .5s;
      top: auto;
      position: absolute;
      bottom: 43px;
      width: 100%;
    }
    .card--item--title {
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 240px;
      margin-bottom: 8px;
      -webkit-line-clamp: initial;
    }
    .card--item-action{
      position: absolute;
    }
  }
  &.close--item {
    margin: 0 10px;
    height: 1px;
  }
}
.card-item-kans{
  margin: 20px 11.3px 40px;
  @media screen and (min-width: 829px){
    margin: 22px 22px 40px;
  }
  @media screen and (max-width: 1457px){
    margin: 22px 11px 40px;
  }
}
