.comments {
  margin-top: 97px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  .comments-info--text {
    max-width: 550px;
  }
  .title {
    color: #FF5A5F;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Muller-Extra-Bold, sans-serif;
    //font-size: 3rem;
  }
  .description {
    color: #6A737B;
    max-width: 500px;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.4rem;
    margin-bottom: 56px;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    .social-title {
      color: #000;
      font-size: 1.5rem;
      margin-right: 21px;
    }
    .social-icons {
      width: 220px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      object{
        width: 51px;
      }
    }
  }
  #food-coments-slider {
    height: 100%;
  }
  .comments-item {
    padding-bottom: 30px;
    outline: none;
    .comments-item--info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 210px;
      .comments-item--prev {
        height: 100%;
        .prev--photo {
          margin-right: 38px;
          border-radius: 50%;
        }
      }
      .info--comment {
        max-width: 400px;
        font-size: 1.2rem;
        line-height: 1.9rem;
        margin-top: 25px;
        margin-bottom: 14px;
        position: relative;
        .start, .end {
          fill-opacity: .3;
        }
        .start {
          position: absolute;
          top: -15px;
          left: -35px;
        }
        .end {
          margin-bottom: -15px;
        }
      }
      .info--name {
        font-size: 1.2rem;
        color: #000;
        line-height: 1.4rem;
      }
      .info--position {
        line-height: 1.4rem;
        color: #6A737B;
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .title {
    font-size: 2rem;
  }
  .comments {
    margin-top: 40px;
    height: auto;
    .comments-info--text {
      max-width: 100%;
      .title {
        text-align: center;
      }
      .description {
        margin-bottom: 20px;
        text-align: center;
        max-width: 100%;
        font-size: 1rem;
      }
    }
    .social {
      order: 4;
      justify-content: space-around;
      .social-title {
        text-align: center;
        margin-right: 0;
        margin-bottom: 21px;
        text-transform: uppercase;
        font-size: 1.2rem;
        width: 100%;
      }
    }
    #food-comments-slider {
      max-width: 100%;
      margin: auto;
      .comments-item {
        padding-bottom: 30px;
        .comments-item--info {
          align-items: center;
          flex-wrap: nowrap;
          .comments-item--prev {
            width: 50px;
            height: auto;
            margin-bottom: 10px;
          }
          .info--comment {
            max-width: 550px;
            order: 2;
            margin-top: 5px;
            text-align: center;
            .start, .end {
              fill-opacity: .2;
              position: initial;
            }
            @media screen and (max-width: 800px) {
              max-width: 370px;
              font-size: 1rem;
              .start, .end {
                width: 15px;
              }
            }
            @media screen and (max-width: 420px) {
              max-width: 300px;
            }
            @media screen and (max-width: 380px) {
              max-width: 260px;
            }
          }
        }
      }

    }
  }
}