.for-companies {
  padding-bottom: 20px;
  .video--wrap{
    max-width: 640px;
    margin: auto;
  }
  .video--container{
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    iframe, object, embed {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
    }
  }
  .title {
    font-family: Muller-Bold, sans-serif;
    font-size: 36px;
    text-align: center;
    margin: 40px auto 28px;
  }
  .description {
    max-width: 624px;
    margin: 0 auto 20px;
    font-family: Muller-Bold, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    b {
      color: #ff5a5f;
    }
  }
  .youtube_codegena {
    margin: auto;
  }
  .companies--steps-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    @media screen and (max-width: 829px){
      flex-direction: column;
    }
  }
  .companies--steps-item {
    background: transparent;
    max-width: 690px;
    width: 50%;
    margin-bottom: -2px;
    box-sizing: border-box;
    position: relative;
    padding: 0 40px 70px;
    &.companies--steps-1 {
      border-left: 2px dashed #B3E4E0;
      border-bottom: 2px dashed #B3E4E0;
      border-radius: 0 0 0 15px;
    }
    &.companies--steps-4{
      border: 2px dashed #B3E4E0;
      border-left: none;
      border-radius: 0 15px 15px 0;
      .step--title{
        margin-top: 55px;
      }
    }
    &.companies--steps-5{
      border: 2px dashed #B3E4E0;
      border-right: none;
      border-radius: 15px 0 0 15px;
      padding-right: 70px;
      .step--title{
        margin-top: 55px;
      }
    }
    &.companies--steps-9{
      border-top: 2px dashed #B3E4E0;
      border-left: 2px dashed #B3E4E0;
      border-radius: 15px 0 0 0;
      .steps-icon{
        top: 75px;
      }
    }
    &.companies--steps-9, &.companies--steps-10{
      max-height: 80px;
      height: 100%;
    }
    &.companies--steps-11{
      padding-right: 60px;
    }
    &.companies--steps-prev{
      margin-top: 50px;
    }
    &.companies--steps-prev--first{
      margin-top: 0;
    }
    .step--title{
      font-family: Muller-Bold, sans-serif;
      font-size: 28px;
      padding-top: 5px;
    }
    @media screen and (max-width: 829px){
      border: none !important;
      padding: 0;
      width: 100%;
      &.companies--steps-prev{
        margin-top: 40px;
        margin-bottom: 90px;
      }
      &.companies--steps-prev--first{
        order: 2;
        margin-top: 40px;
        margin-bottom: 90px;
      }
      &.companies--steps-3{
        order: 4;
      }
      &.companies--steps-4{
        order: 3;
        .step--title{
          margin-top: 0;
        }
      }
      &.companies--steps-5{
        order: 5;
        padding-right: 0;
        .step--title{
          margin-top: 0;
        }
      }
      &.companies--steps-6{
        order: 6;
      }
      &.companies--steps-7{
        order: 9;
      }
      &.companies--steps-8{
        order: 7;
      }
      &.companies--steps-9{
        order: 10;
      }
      &.companies--steps-10{
        display: none;
      }
      &.companies--steps-11{
        order: 11;
        padding-right: 0;
      }
      &.companies--steps-12{
        order: 12;
      }
      .more--question{
        margin-top: 40px;
      }
      .steps-icon{
        position: initial;
        margin-bottom: 15px;
      }
      .step--title{
        margin-top: 0;
        font-size: 20px;
      }
    }
  }
  .step--info{
    border: 1px solid #EAEDF6;
    border-radius: 5px;
    padding: 20px;
    .step--info-alert{
      display: flex;
      align-items: center;
      color: #e5164e;
      margin-bottom: 20px;
      svg{
        min-width: 18px;
        margin-right: 10px;
        fill: #e5164e;
      }

    }
    .step--info-description{
      font-weight: 900;
      line-height: 1.4;
    }
  }
  .more--question{
    margin-top: 70px;
    font-family: Muller-Bold, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    a, b{
      color: #ff5a5f;
      white-space: nowrap;
    }
  }
  .steps-icon{
    font-size: 24px;
    color: #fff;
    background: #11A598;
    font-family: Muller-Bold, sans-serif;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    &.pull-icon-left{
      left: -20px;
    }
    &.pull-icon-right{
      right: -20px;
    }
    &.steps-icon--1{
      top: 0;
    }
  }
  .add--company-step {
    color: #00a693;
    border: 1px solid #54e2c3;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 10px 20px 8px;
    transition: all .5s;
    background: #fff;
    margin-top: 30px;
    display: block;
    max-width: 164px;
    font-size: 12px;
    text-align: center;
    svg{
      margin-right: 11px;
      fill: #00a699;
      transition: all .5s;
    }
    &:hover {
      transition: all .5s;
      color: #fff;
      background: #00a693;
      svg{
        transition: all .5s;
        fill: #fff;
      }
    }
  }
  .cyrilic{
    list-style-type: none;
    padding-left: 0;
    li{
      color: #6a737b;
      font-family: Arial, sans-serif;
      margin-bottom: 20px;
      line-height: 1.4;
      &::before{
        margin-right: 5px;
        width: 1em;
        text-align: right;
        display: inline-block;
      }
      a{
        color: #00a699;
        text-decoration: underline;
      }
    }
    li:nth-child(1)::before { content: 'а)'; }
    li:nth-child(2)::before { content: 'б)'; }
    li:nth-child(3)::before { content: 'в)'; }
    li:nth-child(4)::before { content: 'г)'; }
    li:nth-child(5)::before { content: 'д)'; }
    li:nth-child(6)::before { content: 'е)'; }
  }
}

