header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 12;
  border-bottom: 1px solid #DDE3E6;
  background: #fff;
}

.header {
  width: 100%;
  max-width: 1920px;
  padding: 0 30px;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  z-index: 3;
}
.header-stationery{
  padding: 0 40px;
}

.mobile-menu {
  display: none;
}

.logo {
  width: 142px;
  display: flex;
  height: 45px;
  @media screen and (max-width: 1024px) {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }
  @media screen and (max-width: 425px){
    position: initial;
    width: 120px;
    transition: all .5s;
  }
}
.logo-kans{
  padding-left: 20px;
}

.search {
  flex: 6 0 auto;
  background: #EFEFEF;
  display: flex;
  margin: 10px;
  align-items: center;
  padding: 2px 0 2px 20px;
  position: relative;
  form {
    width: 100%;
    display: flex;
    font-size: 1rem;
    font-weight: 300;
    input {
      font-size: 1rem;
      font-weight: 300;
      width: 100%;
      background: transparent;
      border: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      height: 50px;
      &:focus, &:active, &:hover {
        outline: none;
        overflow: visible;
      }
    }
    select{
      background: transparent;
      border: none;
      min-width: 150px;
    }
    button {
      width: 77px;
      min-width: 50px;
    }
    .select2-container {
      min-width: 150px;
      .select2-selection--single {
        background-color: transparent;
        border: none;
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        border-radius: 0;
        height: 50px;
        &:active, &:focus {
          outline: none;
        }
        .select2-selection__rendered {
          line-height: 50px;
          padding-left: 15px;
          padding-right: 20px;
        }
        .select2-selection__arrow {
          height: 48px;
        }
        .select2-selection__arrow {
          width: 40px;
        }
      }
    }
  }
}

.mobile-search {
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
    .search {
      display: block;
      margin: 10px 0;
      padding: 2px 0 2px 10px;
      form {
        button {
          width: 100px;
        }
      }
    }
  }
  @media screen and (max-width: 380px) {
    .search {
      input {
        font-size: 11px;
      }
    }
  }
}

.select2-dropdown {
  line-height: 2.15;
  z-index: 10;
  min-width: 150px;
  border-color: #efefef;
  .select2-results {
    .select2-results__option--highlighted[aria-selected] {
      background-color: #00a693;
    }
    .select2-results__option {
      padding-left: 15px;
    }
  }
}

.phones {
  display: flex;
  align-items: center;
  .phone-wrap {
    display: flex;
    align-items: center;
    color: #6A737B;
    font-weight: 100;
    justify-content: flex-start;
    margin-left: 20px;
    .phone-wrap--title {
      width: 80px;
      font-family: Muller-Light, sans-serif;
    }
    .short-phone {
      font-family: Muller-Medium, sans-serif;
      font-size: 26px;
      text-decoration: none;
      font-weight: 500;
      display: flex;
      color: #6A737B;
      align-items: center;
      line-height: 1;
      svg {
        margin-right: 3px;
        width: 25px;
      }
    }
    @media screen and (max-width: 1320px) {
      margin-left: 10px;
      .phone-wrap--title {
        width: 70px;
        font-size: 12px;
      }
      .short-phone {
        font-size: 20px;
        svg {
          width: 18px;
        }
      }
    }
  }
  .info-wrap {
    margin-left: 16px;
    font-size: .9rem;
    font-weight: 100;
    line-height: 1.3;
    min-width: 210px;
    position: relative;
    .work-time {
      color: #000000;
    }
    .phone-links {
      color: #00a693;
      cursor: pointer;
      display: inline-flex;
      font-family: Muller-Light, sans-serif;
      font-size: 12px;
      &#another-phones--btn {
        padding-right: 10px;
      }
    }
    .another-phones, .recall {
      position: absolute;
      margin-top: 5px;
      display: none;
    }
  }
}

.language {
  color: #00a693;
  font-family: Muller-Light, sans-serif;
  font-size: 12px;
  margin: auto 5px auto 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  object{
    width: 16px;
    height: 16px;
  }
  span {
    margin-left: 5px;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.login {
  display: flex;
  align-items: center;
  position: relative;
  .menu-link {
    padding: 7px 11px 7px 10px;
    .profile--icon {
      margin-bottom: -2px;
      min-width: 16px;
      width: 18px;
      height: 18px;
      @media screen and (max-width: 1024px){
        height: 22px;
        width: 22px;
      }
    }
    i {
      font-style: normal;
    }
  }
  .basket {
    background: #00a693;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto 6px;
    color: #fff;
    padding: 5px 20px;
    border-radius: 15px;
    span {
      white-space: nowrap;
      font-family: Muller-Bold, sans-serif;
      font-size: 15px;
      margin-left: 6px;
    }
    svg {
      fill: #fff;
    }
    span {
      display: inline;
      &.count {
        display: none;
      }
    }
    @media screen and (max-width: 1024px) {
      background: transparent;
      padding-right: 0;
      padding-left: 0;
      svg {
        fill: #00a693;
        width: 22px;
        height: 22px;
      }
      span {
        display: none;
        &.count {
          display: inline;
          color: #00a693;
        }
      }
    }
  }
  &.user-login {
    .menu-link {
      position: relative;
      background: #fff;
      z-index: 12;
      border: 1px solid transparent;
      border-bottom: none;
      min-width: 30px;
      .profile--icon{
        width: 18px;
        height: 18px;
        @media screen and (max-width: 1024px){
          height: 22px;
          width: 22px;
        }
      }
      .profile--arrow {
        position: absolute;
        bottom: 6px;
        right: 6px;
      }
      i {
        display: none;
      }
      &.open {
        border: 1px solid #DDE0E7;
        border-bottom: none;
        border-radius: 3px 3px 0 0;
        .profile--arrow {
          transform: rotate(180deg);
        }
      }
    }
  }
  .menu-profile--list {
    display: none;
    border: 1px solid #DDE0E7;
    padding: 18px 20px 0;
    position: absolute;
    top: 32px;
    right: 0;
    background: #fff;
    min-width: 193px;
    z-index: 11;
    a {
      color: #000;
      display: block;
      margin-bottom: 14px;
      transition: all .3s;
      &.exit {
        padding-top: 12px;
        border-top: 1px solid #EAEDF6;
        padding-bottom: 12px;
        margin-bottom: 0;
      }
      &:hover {
        color: #04050a;
        transition: all .3s;
      }
    }
    .language{
      display: none;
      margin: auto auto 10px;
      justify-content: flex-start;
      color: #00a693;
      font-size: 14px;
      @media screen and (max-width: 1024px){
        display: flex;
      }
    }
    .switch {
      display: block;
      padding-bottom: 14px;
      border-bottom: 1px solid #EAEDF6;
      position: relative;
      width: 100%;
      cursor: pointer;
      transition: all .3s;
      &:hover {
        color: #04050a;
        transition: all .3s;
      }
      input {
        display: none;
      }
      input:checked + .switch--slider {
        background-color: #00a693;
      }
      input:checked + .switch--slider:before {
        transform: translateX(8px);
      }
      .switch--slider {
        height: 14px;
        width: 24px;
        position: absolute;
        cursor: pointer;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 34px;
        &:before {
          position: absolute;
          content: " ";
          height: 8px;
          width: 8px;
          left: 4px;
          bottom: 3px;
          background-color: white;
          transition: .4s;
          border-radius: 50%;
        }
      }
    }
    .short-phone{
      display: flex;
      align-items: center;
      color: #6A737B;
      margin-bottom: 10px;
      svg{
        margin-right: 3px;
        width: 25px;
      }
      @media screen and (min-width: 1025px){
        display: none;
      }
    }
    .working-time{
      display: none;
      @media screen and (max-width: 1024px){
        display: block;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
    }
    .phone-wrap--title{
      font-family: Muller-Light, sans-serif;
      width: 80px;
    }
    img{
      margin-right: 6px;
    }
    .phone-wrap--number{
      font-family: Muller-Bold, sans-serif;
      color: #2b2b3b;
      font-size: 22px;
    }
    .profile--name{
      border-bottom: 1px solid #e4e4e4;
      padding-bottom: 14px;
      margin-bottom: 14px;
      line-height: 1.5;
      span{
        color: #00a693;
      }
      @media screen and (max-width: 1024px){
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.another-phones--wrap, .recall-wrap {
  background: #fff;
  border: 1px solid #DDE0E7;
  padding: 20px;
  width: 256px;
  height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  .another-phones--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    i {
      display: block;
      width: 18px;
      height: 18px;
      margin-right: 20px;
    }
    .another-phones--item-wrap {
      display: flex;
      flex-direction: column;
      .title {
        font-size: 12px;
        font-family: Arial, sans-serif;
        color: #b4bcc5;
        margin: 0;
        line-height: 1.8;
      }
      .description {
        a {
          color: #000;
          font-size: 14px;
          font-family: Muller-Bold, sans-serif;
        }
      }
    }
  }
}

.recall-wrap {
  height: 100%;
  box-sizing: border-box;
  .recall-form {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100%;
    input {
      box-sizing: border-box;
      width: 100%;
      font-size: 14px;
      font-family: Arial, sans-serif;
      padding: 10px 0 8px 8px;
      margin-bottom: 20px;
      border: 1px solid #DCE0E7;
      border-radius: 3px;
      outline: rgba(0, 0, 0, .6);
      &[type='submit'] {
        color: #fff;
        background: #11A598;
        border: none;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    .order--actions{
      .order--btn{
        margin-top: 0;
        text-transform: uppercase;
        max-width: 100%;
        padding: 0;
        display: block;
        height: 32px;
        border-radius: 5px;
        font-family: Muller-light, sans-serif;
      }
    }
    .recall-save{
      margin-bottom: 0;
    }
  }
}

.mobile--recall{
  margin-bottom: 14px;
  cursor: pointer;
  @media screen and (min-width: 1024px){
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .info-wrap {
    display: none;
  }
}

@include for-size(all-device-one-line) {
  .header {
    padding: 0 15px;
  }
}

@include for-size(tablet-view) {
  .search, .phones, .search--header {
    display: none;
  }
  .menu-link {
    min-width: 30px;
    //margin-left: 10px;
  }
  .btn i {
    display: none;
  }
  .btn img {
    width: 23px;
    height: 23px;
  }
  .login {
    .menu-profile--list {
      top: 38px;
    }
  }
}
