.history--wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 97px;
  @media screen and (max-width: 1200px) {
    justify-content: center;
    margin-top: 30px;
    .history--information {
      .title {
        margin-bottom: 30px;
      }
    }
    .history--sidebar {
      display: none;
    }
  }
  @media screen and (max-width: 829px) {
    flex-direction: column;
    .profile--information {
      .profile--form {
        margin-bottom: 30px;
        .personal--order--wrap {
          padding: 0;
          .order--btn.payments--btn {
            max-width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
    .profile--sidebar {
      margin-top: 15px;
      .title {
        margin: 0 auto 12px;
      }
      .all--companies {
        margin-bottom: 90px;
        a {
          margin-bottom: 0;
        }
      }
    }
  }
  .print--section{
    position: relative;
    .print{
      right: 0;
      top: -18px;
    }
  }
}


.history--information, .company-history {
  margin-right: 60px;
  width: 100%;
  flex: 2;
  margin-bottom: 75px;
  @media screen and (max-width: 1200px) {
    margin-right: 0;
  }
  .title {
    margin-top: 0;
    font-family: Muller-Bold, sans-serif;
    font-size: 36px;
    color: #2b2b2b;
    margin-bottom: 28px;
    @media screen and (max-width: 829px) {
      font-size: 24px;
    }
  }
  .history--information-item, .company-history--information-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EEF1F8;
    .h--i-i_prev {
      width: 100px;
      height: 65px;
      display: flex;
      object-fit: contain;
      border: 1px solid #eaedf6;
      margin-right: 10px;
    }
    .h--i-i_open--info-wrap {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    .h--i-i_information {
      flex: 1;
      transition: all .5s;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      cursor: pointer;
      margin-top: 0;
      .name_date {
        display: flex;
        max-width: 100%;
        width: 460px;
        justify-content: flex-start;
        align-items: center;
        .sub_info{
          max-width: 120px;
          text-align: right;
        }
      }
      .title {
        font-family: Muller-Bold, sans-serif;
        font-size: 14px;
        margin-bottom: 0;
        max-width: 380px;
        width: 100%;
        a {
          color: #2b2b2b;
        }
      }
      .sub_info {
        color: #b4bcc5;
        font-size: 11px;
      }
      .status {
        font-size: 12px;
        &.cancelled {
          color: #e5164e;
        }
        &.draft{
          color: #006edf;
        }
        &.new{
          color: #00a2ff;
        }
        &.approved{
          color: #00a699;
        }
        &.accepted{
          color: #00c2df;
        }
        &.rejected{
          color: #FFA500;
        }
        &.delivered{
          color: #2b2b2b;
        }
        &.fraud{
          color: #9016e5;
        }
        &.courier{
          color: #FFCC00;
        }
      }
      .arrow {
        svg {
          transform: rotate(180deg);
          transition: all .5s;
        }
      }

    }
    .wrap__for_slider {
      width: 100%;
      margin-top: -36px;
      margin-left: 112px;
      display: block;
      transition: all .5s;
      @media screen and (max-width: 829px) {
        margin-left: 0;
        margin-top: 20px;
        .h--i-i_open--info-wrap {
          flex-direction: column;
          .h--i-i_open--info--item {
            margin-bottom: 20px;
          }
        }
      }
      .h--i-i_open--info--item {
        &.address {
          width: 100%;
          max-width: 380px;
        }
        .title {
          font-size: 11px;
          color: #b4bcc5;
          font-family: Arial, sans-serif;
          margin-bottom: 6px;
        }
        .description {
          font-size: 12px;
          color: #6A737B;
        }
      }
    }
    .checkout-wrap {
      width: 100%;
      display: none;
    }
    &.hide--information {
      .h--i-i_information {
        margin-top: 25px;
        .arrow {
          svg {
            transition: all .5s;
            transform: rotate(0);
          }
        }
      }
      .wrap__for_slider {
        transition: all .5s;
        display: none;
      }
    }
    @media screen and (max-width: 829px) {
      .h--i-i_information {
        align-items: center;
        .price {
          display: none;
        }
        .name_date {
          flex-direction: column;
          align-items: flex-start;
          width: auto;
          .title {
            width: auto;
            order: 2;
            margin-top: 7px;
          }
          .sub_info {
            order: 1;
          }
        }
      }
      &.hide--information {
        .h--i-i_information {
          margin-top: 0;
          .price {
            display: none;
          }
        }
        .wrap__for_slider {
          height: 0;
          margin-top: 0;
        }
      }
    }
  }
  .checkout-check--list-wrap {
    width: 100%;
    margin-top: 23px;
    margin-bottom: 23px;
    padding-top: 23px;
    border-top: 1px dotted #C8C8C8;
    border-bottom: 1px dotted #000;
  }
  .checkout-check--list-item {
    color: #000;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 18px;
    .checkout-check--list-item--info {
      display: flex;
      align-items: flex-end;
      flex: 1;
      min-width: 105px;
    }
    .receipt{
      color: #ff6166;
      font-size: 12px;
      width: 70px;
      text-align: right;
      @media screen and (max-width: 410px){
        display: none;
      }
    }
    .name {
      max-width: 625px;
      width: 100%;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      &:after {
        content: ' ';
        position: absolute;
        height: 100%;
        right: 0;
        width: 40px;
        background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
    .number, .price, .count {
      color: #6a737b;
      font-size: 12px;
    }
    .price, .count, .sum {
      flex: 1;
      max-width: 100%;
    }
    .price {
      text-align: left;
    }
    .number {
      max-width: 20px;
      width: 100%;
    }
    .count {
      text-align: center;
      max-width: 45px;
    }
    .sum {
      text-align: right;
    }
    @media screen and (max-width: 829px) {
      .name {
        //max-width: 225px;
        margin-right: 10px;
      }
    }
  }
  .sum-item, .checkout-check--all-sum-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }
    .sum-item--title {
      font-size: 12px;
      color: #6a737b;
    }
  }
  .checkout-check--sum-information {
    margin-bottom: 26px;
    padding-bottom: 16px;
    border-bottom: 1px dotted #000;
  }
  .checkout-check--all-sum-information {
    .sum-item--tittle {
      font-weight: 900;
    }
    .sum-item--count {
      font-size: 16px;
      font-weight: 900;
    }
  }
  .again--btn {
    border: 1px solid #00a693;
    border-radius: 30px;
    color: #00a693;
    padding: 9px 20px 8px;
    text-transform: uppercase;
    margin-top: 34px;
    transition: all .5s;
    display: block;
    max-width: 162px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    &:hover {
      background: #00a693;
      color: #fff;
      transition: all .5s;
    }
  }
}

.history--sidebar {
  flex: 1;
  max-width: 360px;
  margin-bottom: 75px;
  .order--sidebar-info {
    margin-top: 0;
  }
  .order--sidebar-information, .order--sidebar-info {
    .title {
      font-size: 16px;
      font-family: Muller-Bold, sans-serif;
      color: #2b2b2b;
      margin-top: 40px;
    }
    .description {
      color: #6a737b;
      font-size: 12px;
      line-height: 1.4;
      a {
        color: #00a693;
      }
    }
  }
  .order--sidebar-info {
    .title {
      margin-top: 0;
    }
  }
}