.mobile-search{
  .search{
    margin: 0 auto 20px;
  }
}

.home--cat {
  display: flex;
  a{
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .6));
    &:hover {
      .prev {
        filter: brightness(60%);
        transition: all .5s;
      }
    }
  }
  .home--cat-item {
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .5s;
    &.food {
      flex: 2;
      @media screen and (max-width: 1170px){
        flex: 1;
      }
    }
    &.pharmacy, &.adult{
      flex: 1;
      margin: 0 20px;
    }

    &.wrap--item {
      flex: 1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      a {
        position: relative;
        display: flex;
        height: 225px;
        width: 100%;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
      }
      .products {
        margin-bottom: 10px;
      }
      .adult {
        margin-top: 10px;
      }
    }
    &.pharmacy, &.adult, &.wrap--item{
      max-width: 330px;
    }
    .prev {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -2;
      transition: all .5s;
      filter: brightness(90%);
    }
    .home--cat-prev {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      color: #fff;
      font-family: Muller-Light, sans-serif;
      font-size: 26px;
      height: 124px;
    }
    .home--cat-prev-kans{
      @media screen and (max-width: 890px) {
        font-size: 22px;
      }
      @media screen and (max-width: 830px) {
        font-size: 26px;
      }
    }
  }
  @media screen and (max-width: 829px) {
    flex-direction: column;
    .home--cat-item{
      margin: 0 auto 20px;
      height: 200px;
      width: 100%;
      &.pharmacy, &.adult{
        max-width: 100%;
        margin: 0 auto 20px;
      }
      &.wrap--item{
        max-width: 100%;
        height: auto;
        a{
          height: 200px;
          width: 100%;
        }
      }
    }
  }
  &.index--sex-cat{
    .home--cat-item{
      &.pharmacy {
        margin: auto;
      }
      &.wrap--item{
        margin: 0 20px;
        .home--cat-prev{
          height: auto;
        }
      }
    }
    @media screen and (max-width: 829px) {
      .home--cat-item{
        &.wrap--item{
          max-width: 100%;
          margin: 0 auto 20px;
        }
        &.pharmacy{
          max-width: 100%;
        }
      }
    }
  }
}

.home--reg {
  max-width: 100%;
  background: #ED2F81 url("./../../static/img/home--bg.svg") repeat;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  .info{
    font-family: Muller-Bold, sans-serif;
    color: #fff;
    font-size: 21px;
    max-width: 260px;
    text-align: right;
  }
  .reg--btn{
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    background: transparent;
    text-align: center;
    max-width: 260px;
    width: 100%;
    padding: 18px 0;
    transition: all .5s;
    &:hover{
      background: rgba( 0,0,0,.2);
      transition: all .5s;
    }
  }
  .reg--border{
    background: rgba(255,255,255, .2);
    width: 1px;
    height: 70px;
    margin: 0 30px;
  }
  @media screen and (max-width: 829px){
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px;
    background-size: 15%;
    .info{
      text-align: center;
    }
    .reg--border {
      height: 1px;
      width: 70px;
      margin: 20px;
    }
  }
}

.home--hiw {
  .title {
    margin-bottom: 33px;
    margin-top: 92px;
    font-size: 35px;
    color: #50e3c2;
    font-family: Muller-Bold, sans-serif;
  }
  .hiw--wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 890px){
      max-width: 600px;
      justify-content: space-around;
      flex-direction: row;
      margin: auto;
      .hiw--arrow{
        display: none;
      }
    }
  }
  .hiw--item {
    display: flex;
    align-items: center;
    margin-bottom: 65px;
    @media screen and (max-width: 1260px) {
      margin-bottom: 50px;
    }
    p {
      text-transform: uppercase;
      font-family: Muller-Bold, sans-serif;
      font-size: 13px;
      width: 170px;
      line-height: 1.4;
      @media screen and (max-width: 1100px){
        width: 160px;
      }
    }
    .hiw--prev {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
    }
    &.down {
      position: relative;
      &:after {
        position: absolute;
        content: " ";
        background: url(../../static/img/icons/icon-arrow_downe.svg) no-repeat bottom;
        background-size: cover;
        width: 7px;
        height: 32px;
        bottom: -60px;
        margin: auto;
        left: 45px;
        @media screen and (max-width: 1260px) {
          bottom: -50px;
        }
        @media screen and (max-width: 1100px){
          display: none;
        }
      }
    }
  }
  .hiw--arrow {
    width: 120px;
    height: 8px;
    margin: 0 10px 65px;
    @media screen and (max-width: 1260px) {
      width: 100px;
      margin-bottom: 50px;
    }
    @media screen and (max-width: 1170px){
      width: 50px;
    }
    &.right {
      background: url("../img/icons/icon-arrow_right.svg") no-repeat right;
      background-size: cover;
    }
    &.left {
      background: url("../img/icons/icon-arrow_left.svg") no-repeat left;
      background-size: cover;
    }
  }
  .mirror{
    transform: scaleX(-1);
    filter: FlipH;
  }
  @media screen and (max-width: 1100px){
    .hiw--wrap{
      max-width: 420px;
      margin: auto;
    }
    .title{
      text-align: center;
    }
    .hiw--arrow{
      display: none;
    }
    .hiw--item{
      flex-direction: column;
      text-align: center;
      order: 1;
      max-width: 170px;
      margin-bottom: 30px;
      p{
        font-size: 12px;
        padding: 0 5px;
        height: 65px;
      }
      .hiw--prev{
        margin-right: 0;
        img{
          height: 100%;
        }
      }
      &.order--one{
        order: 3;
      }
      &.order--two{
        order: 2;
      }
    }
    .mirror{
      transform: initial;
      filter: initial;
    }
  }
  @media screen and (max-width: 829px){
    .title{
      font-size: 21px;
      margin-top: 40px;
    }
  }
  @media screen and (max-width: 390px){
    .hiw--item, & .hiw--item.down{
      max-width: 100%;
      text-align: left;
      position: relative;
      flex-direction: row;
      margin-bottom: 50px;
      .hiw--prev{
        margin-right: 10px;
        width: 80px;
      }
      p{
        height: auto;
      }
      &:after {
        position: absolute;
        content: " ";
        background: url(../../static/img/icons/icon-arrow_downe.svg) no-repeat bottom;
        background-size: cover;
        width: 7px;
        height: 20px;
        right: 0;
        left: 0;
        margin: auto;
        bottom: -35px;
        display: block;
      }
      &.order--one{
        margin-bottom: 40px;
        &:after{
          display: none;
        }
      }
    }
  }
}

.home--app{
  max-width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .4)), url("../../static/img/backgrount-app.jpg") no-repeat center;
  background-size: cover;
  .home--app-contain{
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .app--wrap{
      flex: 1;
      max-width: 564px;
      color: #fff;
      .title{
        color: #fff;
        margin: 0 0 25px;
        line-height: 1.3;
      }
      .description{
        line-height: 1.2;
        font-size: 15px;
        margin-bottom: 50px;
      }
      .app--actions{
        display: flex;
        justify-content: space-between;
        .app--btn, .google--btn{
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #fff;
          color: #fff;
          font-size: 16px;
          font-weight: 700;
          border-radius: 5px;
          background: transparent;
          text-align: center;
          max-width: 260px;
          width: 100%;
          padding: 13px;
          box-sizing: border-box;
          transition: all .5s;
          img{
            margin-right: 12px;
          }
          &:hover{
            background: rgba( 0,0,0,.2);
            transition: all .5s;
          }
        }
        .app--btn{
          padding-top: 14px;
          img{
            margin-top: -5px;
          }
        }
      }
    }
    .app--phone{
      flex: 1;
      text-align: right;
      margin: 35px 35px 0;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    @media screen and (max-width: 1200px){
      .app--wrap{
        margin: auto;
        .title{
          font-size: 28px;
        }
        .app--actions{
          .app--btn, .google--btn{
            font-size: 14px;
          }
        }
        @media screen and (max-width: 890px){
          padding: 30px 0;
        }
      }
      .app--phone{
        max-width: 230px;
        margin-right: 0;
        @media screen and (max-width: 890px){
          display: none;
        }
      }
    }
    @media screen and (max-width: 829px){
      .app--wrap{
        .title{
          font-size: 21px;
          margin-top: 10px;
        }
        .app--actions{
          flex-direction: column;
          align-items: center;
          .google--btn, .app--btn{
            max-width: 100%;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.comments{
  display: block;
  margin-bottom: 90px;
  .social{
    float: left;
    max-width: 45%;
  }
  .home--comments-info--text{
    float: left;
    max-width: 45%;
  }
  .clear{
    clear: both;
  }
  @media screen and (max-width: 1200px){
    .title{
      font-size: 28px;
    }
  }
  @media screen and (max-width: 829px){
    .title{
      font-size: 21px;
      margin-top: 40px;
    }
    .social{
      clear: both;
      max-width: 100%;
    }
    .home--comments-info--text{
      max-width: 100%;
      text-align: center;
    }
    .description{
      margin-bottom: 20px;
    }
  }
}
