.login-reg--page{
  margin: 30px auto 80px;
  .login--wrap, .registration--wrap{
    box-shadow: none;
  }
  .title{
    text-align: center;
  }
  .fb--wrap{
    border-bottom: 1px solid #d3d3d3;
  }
  .fb-login--error{
    margin-bottom: 30px;
  }
  .login-reg--page{
    color: #11A598;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    display: block;
    margin-top: 20px;
  }
  .or{
    margin: -25px auto auto;
    display: block;
    text-align: center;
    font-size: 16px;
    background: #fff;
    width: 30px;
    padding: 0 15px;
  }
  @media screen and (max-width: 829px){
    .login--wrap, .registration--wrap{
      padding-top: 0;
    }
  }
}