.popular--meds {
  .title {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #000000;
    font-family: Muller-Bold, sans-serif;
  }
}

.med--cat {
  flex-wrap: wrap;
  .home--cat-item--wrap {
    flex: 1;
    max-width: 325px;
    &:first-child {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      flex: 2;
      .home--cat-item {
        &:first-child {
          max-width: 100%;
          width: 100%;
          min-width: 100%;
        }
        &:nth-child(2) {
          margin-right: 20px;
          @media screen and (max-width: 829px) {
            margin-right: auto;
          }
        }
      }
      @media screen and (max-width: 829px) {
        flex-direction: column;
      }
    }
    &:nth-child(2) {
      margin: 0 20px;
      @media screen and (max-width: 829px) {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
      }
    }

    @media screen and (max-width: 1200px) {
      max-width: 100%;
    }
    @media screen and (max-width: 829px) {
    }
  }
  .home--cat-item {
    height: 270px;
    flex: 1 0 auto;
    text-align: center;
    margin-bottom: 20px;
    .home--cat-prev {
      height: 165px;
      line-height: 1.5;
    }
    .item-kans{
      height: 180px;
    }
  }
}
.med--cat {
  flex-wrap: wrap;
  .home--cat-item--wrap {
    flex: 1;
    max-width: 325px;
    &:first-child {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      flex: 2;
      .home--cat-item {
        &:first-child {
          max-width: 100%;
          width: 100%;
          min-width: 100%;
        }
        &:nth-child(2) {
          margin-right: 20px;
          @media screen and (max-width: 829px) {
            margin-right: auto;
          }
        }
      }
      @media screen and (max-width: 829px) {
        flex-direction: column;
      }
    }
    &:nth-child(2) {
      margin: 0 20px;
      @media screen and (max-width: 829px) {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
      }
    }
    @media screen and (max-width: 1200px) {
      max-width: 100%;
    }
    @media screen and (max-width: 1029px) {
      display: flex;
    }
  }
  .home--cat-item {
    height: 270px;
    flex: 1 0 auto;
    text-align: center;
    margin-bottom: 20px;
    .home--cat-prev {
      height: 165px;
      line-height: 1.5;
    }
  }
}

.kans--cat {
  flex-wrap: wrap;
  @media screen and(max-width: 1029px) {
    max-width: 600px;
    flex-direction: column;
  }
  @media screen and(max-width: 829px) {
    max-width: 420px;
    flex-direction: column;
  }

  .home--cat-item--wrap {
    @media screen and(max-width: 1029px) {
      .home-right{
        margin-right: 10px
      }
      .home-left{
        margin-left: 10px
      }
    }
    @media screen and(max-width: 829px) {
      .home-right{
        margin-right: 0px
      }
      .home-left{
        margin-left: 0px
      }
    }
    flex: 1;
    max-width: 325px;
    .home--cat-item{
      @media screen and(max-width: 1029px) {
        width: 260px
      }
      @media screen and(max-width: 829px) {
        width: 100%;
      }
    }
    &:first-child {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
      flex: 2;
      .home--cat-item {
        &:first-child {
          max-width: 100%;
          width: 100%;
          min-width: 100%;
        }
        &:nth-child(2) {
          margin-right: 20px;
          @media screen and (max-width: 829px) {
            margin-right: auto;
          }
        }
      }
      @media screen and (max-width: 829px) {
        flex-direction: column;
      }
    }
    &:nth-child(2) {
      margin: 0 20px;
      @media screen and(max-width: 1029px) {
        margin: 0;
      }
      @media screen and (max-width: 829px) {
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
      }
    }
    @media screen and (max-width: 1200px) {
      max-width: 100%;
    }
    @media screen and (max-width: 1029px) {
      display: flex;
    }
    @media screen and (max-width: 829px) {
      display: unset;
    }
  }
  .home--cat-item {
    height: 270px;
    flex: 1 0 auto;
    text-align: center;
    margin-bottom: 20px;
    .home--cat-prev {
      height: 165px;
      line-height: 1.5;
    }
    .item-kans{
      height: 180px;
    }
  }
  .home-cans{
    margin-right: 10px;
  }
}

.another--pharmacy {
  max-width: 100%;
  background: #f1ffde url("./../../static/img/meds_pattern.svg") repeat;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  .another--pharmacy-wrap {
    font-size: 22px;
    font-family: Muller-Bold, sans-serif;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
    a, span {
      margin-right: 10px;
      line-height: 1.4;
    }
    .lekar {
      color: #0eb71a;
    }
    .neman {
      color: #ed0000;
    }
    .pharm {
      color: #0000ad;
    }
  }
}

.meds-card {
  .prev--thumb {
    img {
      width: auto;
      height: auto;
      object-fit: initial;
    }
  }
}

.order--page {
  .title {
    margin: 60px auto 30px;
    text-align: center;
    font-family: Muller-Bold, sans-serif;
  }
  .courier--info {
    margin-bottom: 30px;
    color: #6a737b;
    line-height: 1.5;
  }
  .courier-form--wrap {
    margin-bottom: 20px;
  }
  .error-message {
    max-width: 585px;
    margin: auto;
    width: 100%;
  }
  .payment--form {
    flex-direction: column;
  }
  .payment--order-wrap {
    .order--line-title {
      label[for=payment--kbk-phone] {
        margin-bottom: 7px;
        font-size: 12px;
        max-width: 100%;
      }
    }
    @media screen and (max-width: 829px) {
      padding: 0;
    }
  }
}

.order--list {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
  .order--list-item, .order--list-not--work {
    display: flex;
    margin: 0 10px 20px;
    user-select: none;
    input[type="radio"] {
      display: none;
    }
    label {
      transition: all .5s;
      outline: none;
      text-transform: uppercase;
      color: #000;
      font-size: 14px;
      text-align: center;
      font-family: Muller-Bold, sans-serif;
      opacity: .4;
      display: flex;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      i {
        width: 180px;
        height: 117px;
        border: #EAEDF6 solid 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 11px;
        box-sizing: border-box;
        padding: 20px;
        @media screen and (max-width: 380px) {
          width: 120px;
          height: 95px;
          img {
            width: 70%;
          }
        }
      }
      &:hover {
        opacity: .6;
      }
    }
    input[type="radio"]:checked + label {
      cursor: default;
      opacity: 1;
      i {
        border-color: #17A39D;
      }
    }
    .info--title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 829px) {
        font-size: 12px;
      }
    }
  }
  .order--list-courier {
    width: 385px;
    max-width: 100%;
    .what_is_it {
      pointer-events: none;
      margin-left: 5px;
      .icon-what {
        cursor: help;
        display: inline-block;
        width: 15px;
        height: 15px;
      }
      .content-what {
        display: none;
        position: absolute;
        max-width: 245px;
        width: 100%;
        top: 25px;
        margin: auto;
        right: 0;
        left: 0;
        z-index: 1;
        background: #fff;
        opacity: 1;
        text-align: left;
        font-weight: 500;
        text-transform: none;
        line-height: 1.5;
        padding: 18px 20px 14px;
        font-family: Arial, sans-serif;
        border: 1px solid #6a737b;
        b {
          font-size: 14px;
          line-height: 1;
        }
        ul {
          padding-left: 14px;
          font-family: Arial, sans-serif;
          li {
            color: #6a737b;
            font-weight: 300;
            line-height: 1.2;
            font-size: 14px;
            margin-bottom: 4px;
          }
        }
      }
      @media screen and (max-width: 829px) {
        .icon-what {
          padding: 2px 1px 1px;
          width: 14px;
          margin-left: 2px;
        }
      }
    }
    label {
      width: 100%;
      i {
        width: 100%;
        background: url("./../../static/img/icons/icon-courier--bg.svg") no-repeat left top;
        justify-content: space-around;
        img {
          width: auto;
          @media screen and (max-width: 370px) {
            width: 25%;
          }
        }
        .courier--info-wrap {
          display: flex;
          flex-direction: column;
          text-align: left;
          text-transform: none;
          font-style: normal;
          max-width: 187px;
          .courier--title {
            text-transform: uppercase;
            color: #e5164e;
            margin-bottom: 10px;
            font-family: Muller-Bold, sans-serif;
            font-size: 18px;
          }
          .courier--description {
            color: #2b2b2b;
            font-size: 12px;
            font-family: Arial, sans-serif;
            font-weight: 500;
          }
          @media screen and (max-width: 420px) {
            .courier--title {
              font-size: 14px;
            }
          }
        }
      }
    }
    input[type="radio"]:checked + label {
      cursor: default;
      opacity: 1;
      i {
        border-color: #17A39D;
      }
      .what_is_it {
        pointer-events: auto;
      }
    }
  }
  @media screen and (max-width: 1075px) {
    max-width: 786px;
    margin: auto;
    .order--list-item, .order--list-not--work {
      order: 3;
      box-sizing: border-box;
      &:first-child {
        order: 1;
      }
    }
    .order--list-courier {
      order: 2;
    }

  }
  @media screen and (max-width: 829px) {
    justify-content: space-between;
    max-width: 420px;
    margin: auto;
    .order--list-item, .order--list-not--work {
      width: 47%;
      margin: 0 0 20px;
      label {
        width: 100%;
        i {
          width: 100%;
        }
      }
    }
    .order--list-courier {
      max-width: 100%;
      width: 100%;
      order: 3;
    }
  }
}

.check-list {
  max-width: 585px;
  width: 100%;
  margin: auto;
  border: 1px solid #888;
  padding: 5px 20px 15px;
  border-radius: 3px;
  box-sizing: border-box;
  @media screen and (max-width: 829px) {
    padding: 5px 10px 15px;
  }
}

.check-list--title {
  display: flex;
  font-size: 12px;
  color: #000;
  font-weight: 900;
  justify-content: space-between;
  padding: 15px 0;
  .check-list-title--name {
    flex: 2;
  }
  .check-list--title-count {
    flex: 1;
    padding-left: 35px;
  }
}

.check-list--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dotted #EAEDF6;
  border-bottom: 1px dotted #EAEDF6;
  box-sizing: border-box;
  input[type="text"] {
    width: 100%;
    padding: 10px;
    overflow: hidden;
    border: none;
    background: transparent;
    outline: none;
    font-family: Arial, sans-serif;
    color: #6a737b;
    box-sizing: border-box;
  }
  ::-webkit-input-placeholder {
    color: #b4bcc5;
  }
  :-ms-input-placeholder {
    color: #b4bcc5;
  }
  .check-list--item-name {
    flex: 3;
    max-width: 360px;
  }
  .check-list--item-count {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    input[type="text"] {
      border-left: 1px dotted #EAEDF6;
      border-right: 1px dotted #EAEDF6;
    }
    @media screen and (max-width: 829px) {

    }
  }
  .check-list--item-cross {
    cursor: pointer;
    flex: 1;
    visibility: hidden;
    max-width: 40px;
    text-align: center;
    @media screen and (max-width: 829px) {
      visibility: visible;
    }
    svg {
      transition: all .5s;
      fill: #d9dadc;
      &:hover {
        transition: all .5s;
        fill: #e5164e;
      }
    }
  }
  &:hover {
    .check-list--item-cross {
      visibility: visible;
      transition: all .5s;
    }
  }
}

.check-list--item-actions {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  .add-check--item {
    color: #00a699;
    border: none;
    background: transparent;
    text-align: left;
  }
  .remove-check--items {
    color: #d9dadc;
    background: transparent;
    transition: all .5s;
    border: none;
    text-align: right;
    svg {
      transition: all .5s;
      fill: #d9dadc;
    }
    &:hover {
      color: #e5164e;
      transition: all .5s;
      svg {
        transition: all .5s;
        fill: #e5164e;
      }
    }
  }
  @media screen and (max-width: 370px) {
    flex-direction: column;
    .remove-check--items {
      text-align: left;
      margin-top: 12px;
    }
  }
}

.check--form {
  max-width: 585px;
  box-sizing: border-box;
  margin: 40px auto;
  .personal--order--wrap {
    .order--form-item {
      max-width: 100%;
      .order--checkbox {
        margin: 10px 0 0;
        label {
          margin-left: 0;
        }
        p {
          margin: 0;
        }
      }
    }
    @media screen and (max-width: 829px) {
      padding: 0;
    }
  }
  .payments--method-label {
    margin-bottom: 20px;
  }
}

#datepicker--confirmation {
  text-align: left;
  padding-left: 40px;
  margin-right: 15px;
  max-width: 140px;
}

.payments-tab--wrap {
  padding: 20px 0;
  border: none;
  .title {
    text-align: left;
    margin: 0 0 15px;
  }
  .payments--order-form_item {
    input {
      max-width: 100%;
    }
  }
}

.check--info--wrap {
  border: 1px solid #EAEDF6;
  padding: 20px;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  .info--description {
    font-weight: 900;
    margin-bottom: 10px;
  }
  .info--text {
    color: #6a737b;
    margin-bottom: 10px;
    b {
      color: #000;
    }
  }
  a {
    display: flex;
    align-self: center;
    i {
      margin-left: 5px;
      font-style: normal;
      color: #009d9c;
      text-decoration: underline;
    }
  }
}

.receipt-page {
  text-align: center;
  .title {
    margin-top: 30px;
  }
  img {
    margin: 40px auto 90px;
  }
}

.search--header {
  &.med-search {
    max-width: 870px;
    flex: 6 0 auto;
    height: 50px;
    margin: 10px;
    form {
      margin-top: 0;
      margin-bottom: 0;
      input[type=search] {
        padding: 17px 12px 17px 42px;
        background: #efefef url(../../static/img/icons/icon-search.svg) no-repeat 12px;
        border: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .search_results {
      max-width: 100%;
      @media screen and (max-width: 1660px) {
        .results-item {
          .property {
            display: none;
          }
          @media screen and (max-width: 1480px) {
            flex-wrap: wrap;
            .receipt {
              text-align: left;
              order: 3;
              width: 100%;
              flex: initial;
              margin-top: 5px;
            }
          }
          @media screen and (max-width: 1400px) {
            .prev--name-wrap {
              width: 70%;
            }
            .price--count-wrap {
              .price {
                order: 2;
              }
            }
            .bay_it {
              order: 3;
            }
            .receipt {
              width: 100px;
            }
          }
        }
      }
      @media screen and (max-width: 1270px) {
        align-items: flex-start;
        .results-item {
          .prev {
            display: none;
          }
          .receipt {
            margin-top: 0;
          }
          .bay_it {
            margin-top: 5px;
          }
          .name {
            margin-left: 0;
            white-space: nowrap;
            text-overflow: ellipsis;

          }
          .count {
            flex: initial;
            margin: 0 10px 0 0;
          }
        }
      }
      @media screen and (max-width: 1200px) {
        .results-item {
          .prev {
            display: block;
          }
        }
      }
    }
  }
}

.mobile-meds--search {
  display: none;
  padding: 0 10px;
  @media screen and (max-width: 1024px) {
    display: block;
    max-width: 100%;
    overflow: visible;
    .search--header--mobile {
      margin-bottom: 0;
      .search_results, input[type=search] {
        max-width: 100%;
      }
      .search_results {
        @media screen and (max-width: 415px) {
          padding: 10px;
        }
      }
    }
  }
}
