.menu-link {
  color: #04050A;
  font-family: Muller-Light, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 100;
  text-decoration: none;
}
.menu-stationery{
  padding: 0 30px;
  @media screen and (max-width: 1200px) {
    padding: 0;
  }
}
.menu {
  z-index: -1;
  background: rgb(255, 255, 255);
  top: 62px;
  right: 0;
  left: 0;
  position: fixed;
  width: 100%;
  transition: top .4s ease-in-out;
  border-bottom: 1px solid #dde3e6;
  .nav {
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 46px;
    list-style: none;
    padding: 0 30px;
    box-sizing: border-box;
    li {
      flex: 1 0 auto;
      height: 46px;
      border-right: 1px solid #dde3e6;
      position: relative;
      &:first-child {
        border-left: 1px solid #dde3e6;
      }
      &.hover {
        > a{
          transition: all .3s;
          color: #dde0e7;
            > svg {
              opacity: .2;
              transition: all .3s;
            }
        }
      }
      a {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: all .3s;
        background: #fff;
        svg {
          margin-right: 5px;
          margin-top: -5px;
          width: 20px;
          height: 20px;
          transition: all .5s;
          opacity: .99;
        }

        &.active {
          pointer-events: none;
          color: #dde0e7;
          svg {
            opacity: .2;
          }
        }
      }
      ul{
        list-style: none;
        background: #fff;
        padding: 0 10px;
        border: 1px solid #dde3e6;
        border-top: none;
        width: 100%;
        box-sizing: border-box;
        position: absolute;
        left: -9999px;
        display: none;
        li {
          background: #fff;
          border: none;
          flex: initial;
          border-bottom: 1px solid #dde3e6;
          a {
            padding: 15px 0;
            height: auto;
          }
          &:first-child {
            border-left: none;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
    .menu--mobile-arrow{
      width: auto;
      height: auto;
      margin-left: 6px;
      margin-top: -3px;
      transition: all .2s;
      transform: rotate(180deg);
    }
    & > li.hover {
      border-bottom: none !important;
      .parent{
        color: #dde0e7;
      }
      > ul {
        left: 0;
        display: block;
      }
      .menu--mobile-arrow{
        transform: rotate(0deg);
        fill-opacity: .2;
      }
    }
  }
  @media screen and (max-width: 1024px){
    height: 0;
    .nav{
      padding: 0;
      display: none;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      height: 277px;
      max-height: 555px;
      &.overflow--menu{
        height: calc(100vh - 125px);
        border-bottom: 1px solid #dde3e6;
      }
      li{
        width: 100%;
        &:last-child{
          border-bottom: 1px solid #dde3e6;
        }
        ul{
          border-bottom: none;
          li{
            border-bottom: none;
          }
        }
        a{
          svg{
            margin-left: -20px;
          }
        }
      }
      @media screen and (max-width: 1024px){

      }
      &.mobile--menu-nav{

      }
    }
  }
}

.overflow {
  overflow: hidden;
  main{
    opacity: .4;
    a{
      pointer-events: none;
    }
  }
}

.nav-up{
  top: 15px;
  @media screen and (max-width: 1024px){
    top: 62px;
  }
}
