@mixin for-size($range) {
  $phone-landscape: 550px;
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-product-view: 1024px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-lower-medium: 1280px;
  $desktop-upper-boundary: 1800px;
  $extra-upper-boundary: 1920px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if $range == phone-only-landscape {
    @media (orientation: landscape) and (min-width: #{$phone-landscape}) and (max-width: #{$tablet-portrait-upper-boundary}) {
      @content;
    }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tablet-landscape-down {
    @media (max-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == tablet-view {
    @media (max-width: $tablet-product-view) {
      @content;
    }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == all-device-one-line {
    @media (max-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == desctop-medium {
    @media (max-width: $desktop-lower-medium) {
      @content;
    }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  } @else if $range == extra-desktop-up {
    @media only screen and (min-width: $extra-upper-boundary + 1) {
      @content;
    }
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
