.new-company-order {

  .new-company-order--item {
    border-bottom: 1px solid #EAEDF6;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:last-child {
      padding-bottom: 10px;
      border-bottom: none;
    }
    .new-company--prev {
      border: 1px solid #eaedf6;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin-right: 11px;
      img {
        display: flex;
        object-fit: contain;
        box-sizing: border-box;
      }
    }
    .description {
      font-size: 12px;
      color: #6a737b;
    }
    .new-company--wrap {
      display: flex;
      border-bottom: 1px dotted #EAEDF6;
      padding-bottom: 10px;
      .new-company--prev {
        width: 35px;
        height: 35px;
        img {
          padding: 3px;
        }
      }
      .new-company--info {
        display: flex;
        flex-direction: column;
        .title {
          font-size: 16px;
          line-height: 1;
          margin: 0 0 7px;
        }
      }
    }
    .new-company--cafe {
      margin-top: 10px;
      display: flex;
      align-items: center;
      .new-company--prev {
        width: 100px;
        height: 65px;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      .title {
        margin: 0 0 10px 0;
        font-size: 20px;
      }
    }
    .order--actions {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .order--cancel {
        padding-left: 0;
        margin-left: 0;
        width: auto;
        @media screen and (max-width: 829px){
          margin: auto;
          padding-left: 25px;
        }
      }
      .order--access{
        padding: 8px 15px 8px;
        line-height: 1;
        @media screen and (max-width: 829px){
          margin: 10px auto 20px;
        }
      }
    }
  }
  @media screen and (max-width: 829px) {
    &.modal{
      .title {
        font-size: 18px;
      }
    }
    .new-company-order--item {
      .new-company--cafe, .new-company--cafe-wrap {
        .title {
          font-size: 14px;
        }
      }
      .new-company--wrap {
        .new-company--prev {
          min-width: 35px;
          min-height: 35px;
          img {
            padding: 5px;
          }
        }
      }
      .new-company--cafe {
        .new-company--prev {
          min-width: 100px;
        }
      }
      .new-company--actions {
        flex-direction: column;
        .cancelled {
          order: 2;
        }
        .accept {
          margin-bottom: 15px;
          order: 1;
          max-width: 286px;
          justify-content: space-around;
          text-align: center;
          padding: 0 82px;
        }
      }
    }
  }
}

.login--sign-modal {
  form {
    border-bottom: 1px solid #EAEDF6;
    padding-bottom: 30px;
  }
  .login-tabs {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    li {
      margin-right: 30px;
      a {
        font-family: Muller-Bold, sans-serif;
        font-size: 24px;
        color: #2b2b2b;
        transition: all .5s;
        outline: none;
        @media screen and (max-width: 829px) {
          font-size: 20px;
        }
        @media screen and (max-width: 370px) {
          font-size: 16px;
        }
      }
      &.ui-tabs-active {
        a {
          color: #00a699;
        }
      }
    }
  }
  #sign-password {
    margin-bottom: 15px;
  }
}

.fb--wrap {
  margin: 30px auto 15px;
  .check--info--wrap {
    .info--alert {
      margin-bottom: 0;
    }
  }
}

.fb-login {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  color: #3b5998;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  svg {
    margin-right: 7px;
  }
}

.modal, .login--wrap, .registration--wrap, .create--company {
  position: relative;
  background: #FFF;
  width: auto;
  margin: 20px auto;
  max-width: 495px;
  padding: 30px 30px 20px;
  box-shadow: 0 0 15px 0 rgba(111, 111, 111, 0.15);
  .title {
    font-size: 28px;
    margin: 0 0 26px 0;
    font-family: Muller-Bold, sans-serif;
    @media screen and (max-width: 829px) {
      font-size: 24px;
    }
  }
  .form--item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    label {
      color: #000000;
      font-size: 12px;
      margin-bottom: 7px;
    }
    input[type='email'], input[type='password'], input[type='text'], input[type='tel'] {
      padding: 12px 15px 10px 11px;
      border: 1px solid #888;
      border-radius: 3px;
      color: #000;
      font-size: 14px;
      appearance: none;
      @media screen and (max-width: 829px) {
        font-size: 12px;
      }
    }
    #sign-password {
      margin-bottom: 20px;
    }
  }
}
.login--wrap, .registration--wrap, .create--company {
  box-shadow: none;
  padding: 30px 0 0;
  margin-bottom: 0;
  button[type='submit'] {
    width: 100%;
    padding: 13px 0 12px;
    line-height: 1;
    color: #fff;
    background: #11A599;
    font-weight: 500;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
}
.password-recovery{
  padding: 0 15px;
  margin: 50px auto 90px;
}

.create--company {
  margin: 30px 0 90px;
  .form--item {
    &.logotype--wrap {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 1200px) {
    margin: 30px auto 90px;
    .form--item {
      .company_btn {
        max-width: 100%;
      }
    }
  }
  @media only screen and (max-height: 660px) and (min-aspect-ratio: 13/9) {
    &.add-companies--modal {
      form {
        display: block;
        .form--item {
          margin-right: 0;
          width: 100%;
        }
      }
    }
  }
}

.error{
  margin-bottom: 90px;
  .title{
    text-align: center;
  }
  .error--info{
    color: #e5164e;
    font-family: Muller-Bold, sans-serif;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    justify-content: center;
    img{
      margin-right: 10px;
    }
  }
}

.mfp-fade {
  &.mfp-bg {
    background: rgba(255, 255, 255, .8);
    opacity: 0;
    transition: all 0.15s ease-out;
    &.mfp-ready {
      opacity: 0.8;
    }
    &.mfp-removing {
      opacity: 0;
    }
  }
  &.mfp-wrap {
    .mfp-content {
      opacity: 0;
      transition: all 0.15s ease-out;
    }
    &.mfp-ready {
      .mfp-content {
        opacity: 1;
      }
    }
    &.mfp-removing {
      .mfp-content {
        opacity: 0;
      }
    }
  }
}

.receipt--modal {
  text-align: center;
  .title {
    color: #2b2b2b;
    margin-bottom: 18px;
  }
  .description {
    font-size: 14px;
    color: #6a737b;
    max-width: 400px;
    font-weight: 100;
    margin: 0 auto 20px;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    a {
      color: #00a699;
    }
    button {
      color: #00a699;
      text-decoration: underline;
      background: transparent;
      border: none;
    }
  }
  .food-item {
    max-width: 320px;
    margin: auto;
    text-align: left;
    margin-bottom: 40px;
  }
  .receipt--actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cancelled {
      text-decoration: underline;
      color: #000;
    }
    .done {
      background: #00a699;
      color: #fff;
      font-size: 12px;
      text-align: center;
      width: 100%;
      padding: 7px 0 6px;
      border-radius: 5px;
      text-transform: uppercase;
      max-width: 172px;
    }
  }
}

.select2-container {
  z-index: 9999;
}

.edit-person--modal {
  .select2-selection--single {
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #EAEDF6;
    .select2-selection__rendered {
      color: #6a737b;
    }
    .select2-selection__arrow {
      height: 36px;
    }
  }
  .description {
    font-size: 14px;
    color: #6a737b;
    font-weight: 100;
    margin: 0 auto 15px;
    padding-bottom: 15px;
    font-family: Arial, sans-serif;
    line-height: 1.4;
  }
  .form--item {
    input[type='text'] {
      //margin-bottom: 20px;
    }
  }
}

#age--check{
  transition: all .5s;
  .title{
    padding: 0 20px;
    text-align: center;
    font-size: 26px;
  }
  .description{
    font-size: 16px;
    color: #6a737b;
    font-weight: 100;
    margin: 0 auto 15px;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    text-align: center;
    padding: 0 9%;
  }
  form{
    border: none;
    padding-bottom: 10px;
  }
  .order--actions{
    justify-content: space-between;
    .order--btn{
      padding: 8px 25px;
      font-weight: 300;
      cursor: pointer;
      &.order--cancel{
        text-align: left;
        padding: 0;
        width: auto;
      }
    }
    .order--to-main-page{
      text-align: center;
      color: #000;
      text-decoration: underline;
      font-weight: 300;
      display: block;
      margin: auto;
    }
  }
  @media screen and (max-width: 829px){
    .title{
      font-size: 22px;
      padding: 0;
    }
    .order--actions{
      .order--btn{
        width: auto;
      }
    }
  }
  @media screen and (max-width: 480px){
    .order--actions{
      flex-direction: column-reverse;
      .order--btn{
        &.order--cancel, &.order--access{
          width: 100%;
          text-align: center;
          padding: 8px 25px;
        }
      }
    }
  }
}