.order--wrap, .checkout--wrap {
  display: flex;
  margin-top: 60px;
  margin-bottom: 90px;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    .order--sidebar {
      max-width: 100%;
      justify-content: space-between;
      display: flex;
      @media screen and (max-width: 829px) {
        flex-direction: column;
      }
    }
  }
  @media screen and (max-width: 829px) {
    margin-top: 20px;
  }
  .order--sidebar {
    margin-top: 49px;
  }
}

.confirmation--wrap {
  margin-top: 60px;
  .title {
    color: #2b2b2b;
    margin-top: 0;
    font-family: Muller-Bold, sans-serif;
  }
  @media screen and (max-width: 829px) {
    padding: 0;
    margin-top: 30px;
    .title {
      padding: 0 15px;
      margin-top: 20px;
    }
  }
}

.order--check {
  flex: 2;
  max-width: 100%;
  margin-right: 60px;
  margin-bottom: 69px;
  @media screen and (max-width: 1200px) {
    margin-right: 0;
  }
  @media screen and (max-width: 829px){
    margin-bottom: 30px;
  }
  .title {
    color: #2b2b2b;
    margin-top: 0;
    font-family: Muller-Bold, sans-serif;
    &.check--title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      span{
        margin-top: 10px;
      }
      a {
        font-size: 12px;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
        color: #00a693;
        border: 1px solid #00a693;
        border-radius: 15px;
        padding: 9px 20px 6px;
        transition: all .5s;
        margin-top: 10px;
        &:hover {
          background: #00A699;
          color: #fff;
          transition: all .5s;
        }
      }
    }
  }
  .check-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .check--item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #EAEDF6;
      padding: 20px 0;
      .check--item-prev {
        width: 140px;
        height: 90px;
        object-fit: contain;
        margin-right: 15px;
      }
      .name {
        min-width: 240px;
        width: 100%;
        display: flex;
        align-self: flex-start;
        .title {
          font-size: 16px;
          margin-bottom: 10px;
          line-height: 1.2;
          font-family: Muller-Bold, sans-serif;
          overflow: hidden;
          display: block;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          word-wrap: break-word;
        }
        .description {
          color: #6a737b;
          font-size: 12px;
          line-height: 1.4;
          display: block;
          display: -webkit-box;
          font-weight: 300;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          cursor: default;
          word-wrap: break-word;
        }
      }
      .price {
        color: #00a693;
      }
      .price, .count, .sum, .cross {
        max-width: 120px;
        width: 100%;
        display: flex;
        justify-content: center;
        &.cross {
          justify-content: flex-end;
          max-width: 16px;
        }
        &.count input[type="number"] {
          border: 1px solid #EAEDF6;
          margin: 0 15px;
          border-radius: 3px;
          padding: 5px;
        }
      }
      .price, .count, .sum{
        min-width: 90px;
      }
      .count-sum--wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 220px;
        width: 100%;
      }
      .count {
        position: relative;
        display: flex;
        align-items: center;
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          -moz-appearance: textfield;
          width: 30px;
          float: left;
          display: block;
          border: none;
          margin: 0;
          font-size: 1.3rem;
          color: #00A699;
          text-align: center;
          pointer-events: none;
          &:focus {
            outline: none;
          }
        }
        .count-button {
          cursor: pointer;
          user-select: none;
          opacity: .5;
          transition: all .5s;
          &.count-up {
            padding: 5px 0;
          }
          &.count-down {
            padding: 10px 0;
          }
          &:hover {
            transition: all .5s;
            opacity: 1;
          }
        }
      }
      .cross {
        cursor: pointer;
        svg {
          transition: all .5s;
          fill: #d9dadc;
          &:hover {
            transition: all .5s;
            fill: #e5164e;
          }
        }
      }
      @media screen and (max-width: 829px) {
        flex-wrap: wrap;
        position: relative;
        .check--item-prev {
          width: 140px;
          margin-right: 0;
          order: 1;
        }
        .count-sum--wrap {
          order: 2;
          flex: 1;
          max-width: 100%;
          flex-direction: column-reverse;
          .count {
            margin-top: 20px;
          }
        }
        .name {
          order: 3;
          margin-top: 15px;
        }
        .cross {
          position: absolute;
          top: 20px;
          right: 20px;
        }
        .price {
          display: none;
        }
      }
      &.check--header {
        @media screen and (max-width: 829px) {
          display: none;
        }
        .name {
          color: #b4bcc5;
          margin-left: 155px;
        }
        .price, .count, .sum {
          color: #b4bcc5;
          min-width: 90px;
        }
        .cross{
          display: none;
        }
      }
    }
  }
}

.sum-information {
  margin-top: 20px;
  //max-width: 180px;
  .sum-item {
    color: #000;
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    .sum-item--wrap{
      max-width: 310px;
      width: 100%;
      justify-content: space-between;
      display: flex;
      align-items: center;
      color: #6a737b;
      font-size: 12px;
      .sum-item--title-info{
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      @media screen and (max-width: 829px){
        max-width: 50%;
        @media screen and (max-width: 400px){
          max-width: 100%;
        }
      }
    }
    .sum-item--title {
      color: #6a737b;
      width: 130px;
      font-size: 12px;
    }
    .sum-item--count {
      color: #000;
      font-size: 14px;
    }
    &.all-sum {
      border-top: 1px solid #EAEDF6;
      padding-top: 14px;
      .sum-item--title, .sum-item--count {
        font-weight: 900;
        color: #000;
        font-size: 14px;
        &.sum-item--count {
          font-size: 16px;
        }
      }
    }
  }
  @media screen and (max-width: 829px) {
    max-width: 100%;
  }
}

.order--btn {
  &.payments--btn {
    max-width: 180px;
    box-sizing: border-box;
  }
  &.loader {
    color: transparent !important;
    background: url("./../../static/img/icons/icon-preloader.svg") no-repeat center !important;
    background-size: contain !important;
    height: 35px;
    max-width: 35px;
    pointer-events: none;
    padding-left: 180px;
  }
}

.order--actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .order--btn {
    margin-top: 20px;
    text-align: center;
    width: 180px;
    padding: 13px 25px 12px;
    border-radius: 10px;
    max-width: 100%;
  }
  .order--access{
    color: #fff;
    background: #00a699;
  }
  .order--cancel{
    color: #000;
    text-decoration: underline;
  }
  @media screen and (max-width: 829px){
    .order--access, .order--cancel{
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.order--sidebar {
  flex: 1 0 auto;
  max-width: 360px;
  position: relative;
  .age-attention {
    position: absolute;
    top: -49px;
    height: 30px;
    border: 1px solid transparent;
    .age-attention--wrap {
      display: flex;
      cursor: pointer;
      align-items: center;
      color: #6a737b;
      font-size: 11px;
      background: #FFFFFF;
      &:hover {
        color: #e5164e;
        svg {
          fill: #e5164e;
        }
      }
    }
    .age-attention--content {
      color: #6a737b;
      font-size: 11px;
      display: block;
      visibility: hidden;
    }
    svg {
      fill: #6a737b;
      margin-right: 10px;
    }

    &.show {
      border: 1px solid #eef1f8;
      margin: -20px;
      padding: 20px;
      height: auto;
      background: #FFFFFF;
      .age-attention--content {
        visibility: visible;
      }
    }
  }
  .history {
    @media screen and (max-width: 1200px) {
      margin-right: 15px;
      @media screen and (max-width: 829px) {
        margin-right: 0;
      }
    }
    .title {
      font-size: 18px;
      font-family: Muller-Bold, sans-serif;
      margin-top: 0;
    }
    .history--all-link {
      margin-top: 20px;
      display: block;
      color: #00A699;
    }
    .history--item {
      display: flex;
      margin-bottom: 10px;
      img {
        width: 100px;
        height: 65px;
        display: flex;
        object-fit: contain;
        border: 1px solid #EAEDF6;
        box-sizing: border-box;
        padding: 10px;
      }
      .history--info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .history--info-name {
          display: flex;
          margin-left: 10px;
          flex-direction: column;
          .date {
            color: #b4bcc5;
            font-size: 11px;
          }
          .title {
            color: #000;
            font-size: 14px;
            font-family: Muller-Bold, sans-serif;
            margin-top: 10px;
          }
        }
        .cost {
          align-self: center;
          color: #6a737b;
        }
      }
    }
  }
  .order--sidebar-info {
    padding: 20px 20px 0;
    border: 1px solid #EAEDF6;
    border-radius: 3px;
    margin-top: 28px;
    @media screen and (max-width: 1200px) {
      margin-top: 0;
      margin-left: 15px;
      @media screen and (max-width: 829px) {
        display: none;
      }
    }
    .title {
      margin-top: 0;
      font-size: 18px;
      font-family: Muller-Bold, sans-serif;
    }
    .sidebar-info--wrap {
      .sidebar-info--item {
        display: flex;
        color: #6a737b;
        margin-bottom: 21px;
        font-size: 12px;
        line-height: 1.4;
        img {
          margin-right: 17px;
        }
      }
    }
  }
  @media screen and (max-width: 829px) {
    max-width: 100%;
    margin-top: 40px;
  }
}

.payment--form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 69px;
  .personal--order--wrap {
    flex: 1;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
  }
  label {
    margin-bottom: 7px;
    font-size: 12px;
    color: #000;
    display: block;
    &.default--label{
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  .order--form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 415px;
    margin-bottom: 30px;
    &.order--line-title {
      flex-direction: row;
      max-width: 100%;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      label {
        max-width: 170px;
        width: 100%;
        font-size: 14px;
        margin-bottom: 0;
        margin-right: 30px;
      }
      label[for='food_order_additional_info'] {
        align-self: flex-start;
      }
      .order--checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 100%;
        width: 100%;
        .form--item {
          display: flex;
          white-space: nowrap;
        }
        label {
          color: #6a737b;
          font-size: 14px;
          white-space: nowrap;
        }
        #order--no_call {
          width: 16px;
        }
        #what_is_it {
          cursor: pointer;
          position: relative;
          i {
            margin-left: 0;
            background: #00a699;
            color: #fff;
            font-style: normal;
            border-radius: 50%;
            padding: 1px 6px 1px 5px;
            text-align: center;
            font-size: 12px;
          }
          span {
            font-size: 11px;
            color: #00a699;
            border-bottom: 1px dotted #00a699;
          }
          .what_is_it--information {
            display: none;
            background: rgba(238, 248, 241, .9);
            cursor: default;
            position: absolute;
            width: 300px;
            padding: 0 15px;
            margin-top: 10px;
            margin-left: 5px;
            border: 1px solid #eef8f1;
            line-height: 1.4;
            box-sizing: border-box;
            @media screen and (max-width: 829px) {
              left: 0;
              right: 0;
              margin: auto;
              top: 25px;
              width: 100%;
            }
          }
          @media screen and (max-width: 829px){
            position: initial;
          }
        }
        @media screen and (max-width: 829px){
          position: relative;
        }
      }
      input, textarea, .input--wrap{
        max-width: 415px;
        width: 100%;
      }
    }
    input, textarea {
      border: 1px solid #888;
      box-sizing: border-box;
    }
    textarea {
      max-width: 100%;
      padding: 11px 15px;
      line-height: 1.4;
    }
    input[type='text'], input[type='tel'] {
      padding: 15px 0 13px 11px;
      font-size: 14px;
      border: 1px solid #888;
      border-radius: 5px;
      //margin-left: 5px;
    }
    .order--checkbox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 12px;
      margin-left: 200px;
      label {
        //margin: auto 5px;
        color: #6a737b;
        font-size: 14px;
      }
      #what_is_it {
        cursor: pointer;
        position: relative;
        i {
          margin-left: 20px;
          background: #00a699;
          color: #fff;
          font-style: normal;
          border-radius: 50%;
          padding: 1px 6px 1px 5px;
          text-align: center;
          font-size: 12px;
        }
        span {
          font-size: 11px;
          color: #00a699;
          border-bottom: 1px dotted #00a699;
        }
        .what_is_it--information {
          display: none;
          background: rgba(238, 248, 241, .9);
          cursor: default;
          position: absolute;
          width: 300px;
          padding: 0 15px;
          margin-top: 10px;
          margin-left: 5px;
          border: 1px solid #eef8f1;
          line-height: 1.4;
          box-sizing: border-box;
          @media screen and (max-width: 829px) {
            left: -130px;
          }
        }
      }
    }
    &.order--radio {
      margin-bottom: 7px;
      input[type='radio'] {
        display: none;
      }
      input[type='radio']:checked {
        + label {
          &:after {
            content: ' ';
            display: inline-block;
            width: 8px;
            height: 8px;
            background: #00A699;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 5px;
          }
        }
      }
      label {
        display: flex;
        cursor: pointer;
        position: relative;
        color: #6a737b;
        font-size: 14px;
        align-items: center;
        margin-bottom: 16px;
        &:before {
          content: ' ';
          width: 16px;
          height: 16px;
          display: inline-block;
          border: 1px solid #888;
          border-radius: 50%;
          margin-right: 7px;
        }
      }
    }
    &.order-datetime {
      margin-top: -10px;
      flex-direction: row;
      position: relative;
      input {
        text-align: right;
        &#datepicker--confirmation {
          margin-right: 10px;
          padding-right: 11px;
          max-width: 180px;
          background: url("./../../static/img/icons/icon-date.svg") no-repeat 8px;
          background-size: 15px;
        }
        &#timepicker {
          max-width: 83px;
          padding-right: 11px;
          background: url("./../../static/img/icons/icon-time.svg") no-repeat 8px;
          background-size: 15px;
        }
      }
    }
  }
  .order--sidebar-info {
    @media screen and (max-width: 1200px) {
      margin-top: 28px;
      margin-left: 0;
    }
    @media screen and (max-width: 892px) {
      display: none;
    }
  }
  @media screen and (max-width: 1200px) {
    margin-right: 0;
    .order--form-item.order--line-title {
      max-width: 415px;
      label {
        margin-bottom: 9px;
        max-width: 100%;
      }
      .order--checkbox {
        margin-left: 0;
        label {
          margin-bottom: 0;
        }
      }
    }
    .order--sidebar{
      max-width: 330px;
    }
  }
  @media screen and (max-width: 829px) {
    .personal--order--wrap {
      padding: 0 15px;
    }
    .order--sidebar {
      padding: 0 15px;
      order: 1;
    }
  }
}

.payment--order-wrap {
  .switchers {
    max-width: 790px;
    .order--line-title {
      label[for='payments--change'], label[for='payment--kbk-phone'] {
        max-width: 150px;
        @media screen and (max-width: 1200px) {
          max-width: 100%;
        }
      }
    }
    .payment--kbk-phone-wrap{
      position: relative;
      margin-left: 40px;
      flex-wrap: wrap;
      &:before{
        content: '+996';
        position: absolute;
        top: 16px;
        left: -40px;
        margin: auto;
        font-weight: 900;
        font-size: 14px;
      }
      input[type="text"]{
        width: 100%;
      }
    }
    &#payments-tabs {
      @media screen and (max-width: 1200px) {
        .ui-widget-content {
          padding: 0;
        }
      }
    }
    .payments-tabs--wrap {
      margin-bottom: 0;
      display: flex;
      li {
        text-transform: none;
        color: #000;
        display: flex;
        align-items: center;
        padding: 15px;
        justify-content: center;
        img {
          margin-right: 10px;
          width: 19px;
          height: 19px;
        }
        &:hover {
          color: #6a737b;
        }
        &.resp-tab-active {
          background: #ffffff;
          margin-top: -8px;
          border-bottom-color: transparent;
          color: #6A737B;
        }
      }
    }
    h2.resp-accordion, .resp-tab-content {
      display: none;
    }
    .resp-tab-content {
      padding-bottom: 30px;
      &.payments-tab--kbk{
        .input--wrap{
          display: flex;
          align-items: center;
          strong{
            margin-right: 5px;
          }
          input{
            padding-left: 5px;
          }
        }
      }
      .order--btn{
        width: 280px;
        box-sizing: border-box;
      }
    }
    .resp-tab-content-active {
      display: block;
    }
    .resp-tab-item {
      cursor: pointer;
    }
    @media screen and (max-width: 829px) {
      .resp-content-active,
      .resp-accordion-active {
        display: block;
      }
      .resp-tab-content {
        padding: 0 0 30px;
      }
      .payments-tabs--wrap {
        &.resp-tabs-list {
          display: none;
        }
      }
      h2.resp-accordion {
        font-weight: 500;
        cursor: pointer;
        text-transform: none;
        color: #000;
        display: flex;
        align-items: center;
        padding: 19px;
        font-size: 12px;
        border: none;
        border-bottom: 1px solid #EAEDF6;
        background: #FBFBFD;
        margin: 0 -20px;
        img {
          margin-right: 10px;
          width: 19px;
          height: 19px;
        }
      }
      h2.resp-tab-active {
        background: #FFFFFF;
        border-bottom: none;
      }
      .resp-tab-content-active {
        border-bottom: 1px solid #EAEDF6;
        .sum-item {
          max-width: 100%;
        }
      }
      .payments-tab--wrap {
        margin-top: 10px;
        padding: 0;
      }
      .order--btn.payments--btn {
        max-width: 100%;
      }
    }
  }
}

.payment--order-wrap {
  width: 100%;
  margin-bottom: 60px;
  .payments--method-label {
    @media screen and (max-width: 829px) {
      padding: 0;
      font-size: 14px;
      font-family: Arial, sans-serif;
    }
  }
  @media screen and (max-width: 829px) {
    padding: 0 15px;
  }
}

.payments-tab--wrap {
  border: 1px solid #eef1f8;
  border-top: none;
  padding: 20px;
  .title {
    font-size: 16px;
    font-family: Muller-Bold, sans-serif;
    span {
      font-size: 14px;
      font-family: Arial, sans-serif;
    }
  }
  .payments--order-form_item {
    max-width: 100%;
    input {
      max-width: 415px;
    }
  }
  .payment--information {
    max-width: 430px;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 14px;
    color: #6a737b;
  }
  .payment--delivery {
    font-weight: 900;
    color: #6a737b;
    width: 100%;
  }
  .sum-information {
    max-width: 100%;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid #eef1f8;
  }
  .sum-item {
    max-width: 280px;
  }
  @media screen and (max-width: 829px) {
    border: none;
  }
}

.payments-tab--paymentcard {
  .payment--information {
    max-width: 100%;
    margin-top: 0;
    a {
      color: #00a693;
      text-decoration: underline;
      line-height: 1.5;
    }
  }
}

.checkout--wrap {
  flex-wrap: wrap;
  align-items: flex-start;
  .order--check{
    margin-bottom: 0;
  }
  .checkout--information {
    .title {
      line-height: 1;
      color: #00a699;
      margin-bottom: 10px;
    }
    .description {
      font-size: 14px;
      font-weight: 900;
      color: #6a737b;
    }
  }
  .checkout--dotted-border {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #000;
  }
  .checkout-check {
    margin-top: 0;
    border: 1px solid #eef8f1;
    border-bottom: none;
    max-width: 465px;
    padding: 20px;
    background: url('../../static/img/icons/icon-checkout-line--bottom.svg') repeat-x 0 100%;
    .checkout-check--wrap {
      display: flex;
      img {
        width: 100px;
        height: 65px;
        display: flex;
        object-fit: contain;
        border: 1px solid #EAEDF6;
        padding: 10px;
        box-sizing: border-box;
      }
      .checkout-check--info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .checkout-check--info-name {
          display: flex;
          margin-left: 10px;
          flex-direction: column;
          .date {
            color: #b4bcc5;
            font-size: 11px;
          }
          .title {
            color: #000;
            font-size: 14px;
            font-family: Muller-Bold, sans-serif;
            margin-top: 10px;
          }
        }
        .checkout-check--links {
          align-self: center;
          width: 60px;
          margin-left: 10px;
          justify-content: space-between;
          display: flex;
          .print--checkout, .download--checkout {
            margin-left: 10px;
            path {
              transition: all .5s;
            }
            &:hover {
              path {
                transition: all .5s;
                fill: #00A699;
              }
            }
          }
        }
      }
    }
    .checkout-check--list-item {
      color: #000;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 18px;
      * {
        max-width: 59px;
        width: 100%;
      }
      .number, .price {
        color: #6a737b;
        font-size: 12px;
      }
      .price, .count {
        text-align: right;
      }
      .receipt{
        color: #ff6166;
        font-size: 12px;
        max-width: 70px;
        text-align: right;
        @media screen and (max-width: 410px){
          display: none;
        }
      }
      .number {
        max-width: 20px;
      }
      .count {
        max-width: 45px;
      }
      .name {
        max-width: 230px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        &:after {
          content: ' ';
          position: absolute;
          height: 100%;
          right: 0;
          width: 40px;
          background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        }
      }
      .sum {
        text-align: right;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .sum-item, .checkout-check--all-sum-information {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      .sum-item--title {
        font-size: 12px;
        color: #6a737b;
      }
    }
    .checkout-check--all-sum-information {
      .sum-item--tittle {
        font-weight: 900;
      }
      .sum-item--count {
        font-size: 16px;
        font-weight: 900;
      }
    }
    @media screen and (max-width: 829px) {
      padding: 20px 10px;
      margin: 0;
      box-sizing: border-box;
      max-width: 100%;
      width: 100%;
      .checkout-check--wrap {
        flex-direction: column;
        .checkout-check--info {
          margin-top: 10px;
          .checkout-check--info-name{
            margin-left: 0;
          }
          .checkout-check--links {
            .print, .download {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .checkout--information--items {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .checkout--name {
    color: #b4bcc5;
    font-size: 12px;
  }
  .checkout--description {
    font-size: 14px;
  }
  .order--btn {
    display: block;
    max-width: 180px;
    margin-top: 60px;
    @media screen and (max-width: 829px) {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 1200px) {
    flex-direction: row;
    .checkout--information {
      margin-right: 40px;
    }
    .checkout-check {
      display: block;
      max-width: 375px;
    }
  }
  @media screen and (max-width: 829px) {
    flex-direction: column;
    .checkout--information {
      margin-right: 0;
    }
    .checkout-check {
      display: flex;
    }
  }
}

.peak-hour {
  margin: 20px 0 29px;
  background-color: #fff4f7;
  color: #6a737b;
  font-family: Muller-Bold, sans-serif;
  font-size: 16px;
  padding: 21px;
  @media screen and (max-width: 829px) {
    margin: 20px -20px 29px;
  }
}
