.checkout-shop{
  .title{
    font-size: 36px;
    font-family: Muller-Bold, sans-serif;
    color: #00a699;
    text-align: center;
    margin: 40px auto 15px;
  }
  .description{
    color: #6a737b;
    font-weight: 900;
    text-align: center;
  }
  .hot-rush{
    max-width: 760px;
    margin: 20px auto 0;
    background: #FFF4F7;
    color: #6a737b;
    font-weight: 900;
    padding: 20px;
    line-height: 1.4;
    box-sizing: border-box;
  }
  .checkout-shop--wrap{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 60px;
    .checkout-shop--item{
      &.shop{
        width: 280px;
        margin-bottom: -10px;
      }
    }
    .checkout-shop--arrow{
      margin: 0 40px;
    }
  }
  .go--home{
    background: #11A598;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 900;
    display: block;
    margin: 65px auto;
    padding: 12px 0;
    max-width: 240px;
    width: 100%;
  }
  @media screen and (max-width: 829px){
    .title{
      font-size: 24px;
      text-align: left;
    }
    .description{
      text-align: left;
    }
    .hot-rush{
      margin: 20px -20px 0;
    }
    .checkout-shop--wrap{
      flex-direction: column;
      align-items: center;
      .checkout-shop--arrow{
        transform: rotate(90deg);
        margin: 20px auto;
      }
    }
  }
}