.reg--complete {
  margin-top: 40px;
  margin-bottom: 60px;
  .title {
    text-align: center;
  }
  .description {
    font-size: 14px;
    color: #6a737b;
    text-align: center;
    max-width: 570px;
    margin: 40px auto 60px;
    a {
      font-weight: 900;
      color: #2b2b3b;
    }
  }
  .order--access {
    margin: auto;
  }
}

.public--oferta {
  .title {
    margin-top: 40px;
  }
  .sub--title {
    font-family: Muller-Bold, sans-serif;
    font-size: 28px;
    color: #000;
  }
  p {
    font-family: Arial, sans-serif;
    color: #6a737b;
    font-size: 14px;
    line-height: 1.3;
  }
  .requisites {
    margin-top: 80px;
    max-width: 470px;
    margin-bottom: 80px;
    p {
      font-family: Muller-Bold, sans-serif;
      font-size: 20px;
      color: #000;
      a {
        color: #ff5a5f;
      }
    }
  }
  @media screen and (max-width: 829px) {
    .sub--title {
      font-size: 20px;
    }
    .requisites {
      p {
        font-size: 16px;
        font-family: Muller-Medium, sans-serif;
      }
    }
  }
}

.feedback {
  .title {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.bonus {
  .sidebar {
    margin-top: 52px;
  }
  .catalog-wrap{
    margin-top: 20px;
  }
}