.profile--wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 70px;
  @media screen and (max-width: 829px) {
    flex-direction: column;
    margin-top: 40px;
    .profile--information {
      margin-right: 0;
      .profile--form {
        margin-bottom: 30px;
        .personal--order--wrap {
          padding: 0;
          .order--btn.payments--btn {
            max-width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
    .profile--sidebar {
      margin-top: 15px;
      .title {
        margin: 0 auto 12px;
      }
      .all--companies {
        margin-bottom: 90px;
        a {
          margin: 10px 0;
        }
      }
    }
  }
}

.profile--information {
  max-width: 600px;
  margin-right: 20px;
  width: 100%;
  .title {
    font-family: Muller-Bold, sans-serif;
    font-size: 36px;
    color: #2b2b2b;
    margin-top: 0;
    margin-bottom: 32px;
  }
  .profile--form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 69px;
    .personal--order--wrap {
      width: 100%;
      box-sizing: border-box;
    }
    label {
      margin-bottom: 7px;
      font-size: 12px;
      color: #000;
      display: block;
    }
    .order--form-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 415px;
      margin-bottom: 30px;
      &.order--line-title {
        flex-direction: row;
        max-width: 100%;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        label {
          max-width: 170px;
          width: 100%;
          font-size: 14px;
          margin-right: 5px;
          align-self: center;
          margin-bottom: 0;
        }
        input, textarea {
          max-width: 415px;
          width: 100%;
        }
      }
      input, textarea {
        border: 1px solid #dde3e6;
        box-sizing: border-box;
        border-radius: 5px;
      }
      label[for="food_order_additional_info"] {
        align-self: flex-start;
      }
      textarea {
        max-width: 100%;
        padding: 11px 15px;
        line-height: 1.4;
      }
      input[type='text'], input[type='password'] {
        padding: 15px 0 13px 11px;
        font-size: 14px;
      }
      .order--checkbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 290px;
        margin-bottom: 0;
        .form--item {
          display: flex;
          width: 100%;
          margin-bottom: 10px;
        }
        label {
          color: #6a737b;
          font-size: 14px;
          max-width: 160px;
        }
        #order--no_call {
          width: 16px;
        }
        #what_is_it {
          cursor: pointer;
          position: relative;
          width: 190px;
          margin-bottom: 10px;
          i {
            margin-left: 0;
            background: #00a699;
            color: #fff;
            font-style: normal;
            border-radius: 50%;
            padding: 1px 6px 1px 5px;
            text-align: center;
            font-size: 12px;
          }
          span {
            font-size: 11px;
            color: #00a699;
            border-bottom: 1px dotted #00a699;
          }
          .what_is_it--information {
            display: none;
            background: rgba(238, 248, 241, .9);
            cursor: default;
            position: absolute;
            width: 300px;
            padding: 0 15px;
            margin-top: 10px;
            margin-left: 5px;
            border: 1px solid #eef8f1;
            line-height: 1.4;
            box-sizing: border-box;
            @media screen and (max-width: 829px) {
              left: initial;
              right: 0;
            }
          }
        }
        @media screen and (max-width: 400px) {
        }
      }
      &.order--radio {
        margin-bottom: 7px;
        input[type='radio'] {
          display: none;
        }
        input[type='radio']:checked {
          + label {
            &:after {
              content: ' ';
              display: inline-block;
              width: 8px;
              height: 8px;
              background: #00A699;
              border-radius: 50%;
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              left: 5px;
            }
          }
        }
        label {
          display: flex;
          cursor: pointer;
          position: relative;
          color: #6a737b;
          font-size: 14px;
          align-items: center;
          margin-bottom: 16px;
          &:before {
            content: ' ';
            width: 16px;
            height: 16px;
            display: inline-block;
            border: 1px solid #EEF1F8;
            border-radius: 50%;
            margin-right: 7px;
          }
        }
      }
      &.order-datetime {
        margin-top: -10px;
        flex-direction: row;
        position: relative;
        input {
          text-align: right;
          &#datepicker {
            margin-right: 10px;
            padding-right: 11px;
            max-width: 135px;
          }
          &#timepicker {
            max-width: 75px;
            padding-right: 11px;
          }
        }
        &:before {
          position: absolute;
          top: 0;
          margin: auto;
          height: 14px;
          bottom: 0;
          left: 11px;
          content: url(./../../static/img/icons/icon-date.svg);
        }
      }

    }
    .order--sidebar-info {
      @media screen and (max-width: 1200px) {
        margin-top: 28px;
        margin-left: 0;
      }
      @media screen and (max-width: 892px) {
        display: none;
      }
    }
    @media screen and (max-width: 1200px) {
      margin-right: 0;
      .order--form-item.order--line-title {
        max-width: 415px;
        label {
          margin-bottom: 9px;
          max-width: 100%;
        }
        .order--checkbox {
          label {
            margin-bottom: 0;
          }
        }
      }
    }
    @media screen and (max-width: 829px) {
      .personal--order--wrap {
        padding: 0 15px;
      }
      .order--sidebar {
        padding: 0 15px;
        order: 1;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    max-width: 460px;
  }
}

.profile--sidebar {
  flex: 1;
  max-width: 500px;
  .title {
    font-size: 18px;
    font-family: Muller-Bold, sans-serif;
    color: #2b2b2b;
    margin: 16px 0 8px;
  }
  .description {
    color: #6a737b;
    line-height: 1.5;
  }
  .all--companies {
    margin-top: 36px;
    a {
      color: #00a699;
      margin: 10px 0;
    }
    img {
      margin-right: 6px;
    }
    .add--company {
      border: 1px solid #00a699;
      border-radius: 20px;
      text-transform: uppercase;
      color: #00a699;
      font-size: 12px;
      padding: 7px 20px 6px;
      margin-left: 41px;
      transition: all .5s;
      &:hover {
        background: #00a699;
        color: #FFFFFF;
        transition: all .5s;
      }
    }
  }
  @media screen and (max-width: 1090px) {
    .all--companies {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 15px;
      a {
        //margin-top: 15px;
        margin-right: 15px;
      }
      .add--company {
        margin-left: 0;
        @media screen and (max-width: 404px){
          margin-top: 15px;
        }
      }
    }
  }
}
