.questions{
  margin-top: 50px;
  margin-bottom: 90px;
  .title{
    margin-bottom: 30px;
    margin-top: 0;
  }
}
.questions--item{
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-bottom: 1px solid #00a693;
  .q-title{
    font-family: Muller-Bold, sans-serif;
    font-size: 28px;
    margin-bottom: 16px;
    color: #2b2b2b;
  }
  .q-info{
    color: #2b2b3b;
    line-height: 1.7;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  @media screen and (max-width: 829px){
    .q-title{
      font-size: 18px;
    }
  }
}
