.search--results{
  .title{
    margin: 40px 0 20px;
  }
  .description{
    font-size: 20px;
    font-family: Muller-Bold, sans-serif;
    margin: 30px auto;
    a{
      color: #02a595;
    }
  }
  @media screen and (max-width: 829px){
    .title{
      font-size: 24px;
    }
    .description{
      font-size: 16px;
    }
  }
  .best-cafe{
    margin-bottom: 90px;
  }
}