.sex-card--tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .sidebar {
    width: 250px;
    flex: 1;
  }
  .content-wrap {
    max-width: 910px;
    box-sizing: border-box;
    flex: 4;
    .title {
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 1200px){
        display: none;
      }
      span {
        margin: 20px 10px 20px 0;
      }
    }
    .filter {
      width: 300px;
      max-width: 100%;
      padding: 0;
      .filter-title {
        margin-left: 0;
      }
    }
    .card--item--prev {
      img{
        object-fit: contain;
      }
    }
  }
}

.single-sex {
  .sidebar {
    margin-top: 10px;
    width: 260px;
    flex: 1;
    .sidebar-categories {
      max-width: 260px;
      li {
        a {
          font-weight: 900;
          font-family: Arial, sans-serif;
          font-size: 14px;
          transition: all .5s;
          line-height: 1.8;
          display: block;
          &:first-letter{
            text-transform: uppercase;
          }
          &:hover {
            color: #08a8a0;
            transition: all .5s;
          }
        }
        ul {
          margin-bottom: 0;
          li {
            margin-left: 10px;
            a {
              color: #3f4143;
              font-weight: 100;
              &.active {
                color: #08a8a0;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 1200px) {
      margin-left: 0;
      width: auto;
    }
  }
  .sex-card--tab {
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      .content-wrap {
        width: 100%;
        .food-item {
          max-width: 100%;
          @media screen and (max-width: 690px) {
            max-width: 290px;
          }
          @media screen and (max-width: 490px) {
            max-width: 100%;
          }
        }
      }
    }
  }
  .switchers--wrap {
    @media screen and (max-width: 1200px) {
      padding: 0 15px;
      @media screen and (max-width: 690px) {
        padding: 0;
      }
    }
  }
  .tabulation {
    margin: 20px auto 40px;
  }
  @media screen and (max-width: 1200px) {
    margin-top: 0;
    .sex-card {
      margin-top: 0;
    }
    .tab-content--info-wrap {
      flex-direction: column;
    }
  }
  .switchers {
    margin-bottom: 0;
    .tab-content--info, .tab-content--feedback {
      margin-bottom: 60px;
    }
  }
}
