.surcharge {
  .title {
    color: #2b2b2b;
    text-align: center;
    margin-top: 40px;
  }
}
.surcharge--delivery {
  .title {
    color: #ff5a5e;
    margin-bottom: 35px;
    font-size: 28px;
    text-align: center;
  }
}
.surcharge--payments, .surcharge--list {
  .title {
    color: #2b2b2b;
    margin-bottom: 35px;
    font-size: 28px;
    text-align: center;
  }
}
.delivery--wrap, .payments--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  flex-wrap: wrap;
  .delivery--item, .payments--item {
    max-width: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .delivery--icon {
      margin-bottom: 25px;
    }
    .delivery--title, .payments--title {
      color: #2b2b2b;
      font-size: 14px;
      font-family: Muller-Bold, sans-serif;
      text-align: center;
    }
    @media screen and (max-width: 1200px) {
      max-width: 250px;
      margin-bottom: 40px;
      @media screen and (max-width: 829px) {
        max-width: 150px;
        height: 140px;
        .delivery--icon {
          height: 42px;
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    max-width: 560px;
    margin: auto;
    @media screen and (max-width: 829px) {
      justify-content: space-around;
    }
  }
}
.payments--wrap {
  margin-top: 25px;
  .payments--item {
    flex-direction: row;
    max-width: 240px;
    .payments--title {
      text-align: left;
      line-height: 1.3;
    }
    .payments--icon {
      margin-right: 25px;
    }
    @media screen and (max-width: 829px) {
      justify-content: space-around;
      max-width: 150px;
      align-items: center;
      flex-direction: column;
      .payments--icon {
        margin-bottom: 0;
        margin-right: 0;
        height: 42px;
      }
      .payments--title {
        text-align: center;
      }
    }
  }
}
.surcharge--wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 60px;
  .surcharge--item {
    width: 100%;
    max-width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: 2px solid #EAEDF6;
    transition: all .5s;
    &:hover {
      background: #EAEDF6;
      transition: all .5s;
    }
  }
  .surcharge--item-title {
    color: #6a737b;
    font-size: 14px;
  }
  .surcharge--item-price {
    color: #6a737b;
    font-size: 14px;
    font-weight: bold;
  }
  @media screen and (max-width: 1200px) {
    justify-content: space-around;
    .surcharge--item {
      min-width: 290px;
      margin: 0 10px;
      @media screen and (max-width: 829px) {
        max-width: 100%;
      }
    }
  }
}
.surcharge--background {
  img {
    @media screen and (max-width: 829px) {
      object-fit: cover;
      height: 250px;
    }
  }
}
.surcharge--info {
  margin-bottom: 80px;
  .surcharge--info-title {
    color: #2b2b2b;
    margin-top: 15px;
    margin-bottom: 22px;
    font-size: 28px;
    text-align: center;
    font-family: Muller-Bold, sans-serif;
  }
  .surcharge--info-description {
    p {
      color: #2b2b3b;
      margin: 0 0 25px;
      font-family: Arial, sans-serif;
      line-height: 1.7;
    }
  }
}