@media screen and (max-width: 678px) {
  .tabulation {
    .tab-counts {
      justify-content: space-between;
      a {
        margin: auto;
      }
    }
  }
}

.order--list {
  .order--list-item, .order--list-not--work {
    &-price, &-price--en {
      position: relative;
      &:before {
        content: "Прайс";
        position: absolute;
        top: 5px;
        left: 5px;
        background: #1BA496;
        color: #fff;
        text-transform: uppercase;
        padding: 3px 5px;
        font-family: Muller-Bold, sans-serif;
        letter-spacing: 1.5px;
      }
      &--en {
        &:before {
          content: "Price";
        }
      }
    }
  }
}

.surcharge--shop--wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 60px;
  .surcharge--shop--item {
    width: 100%;
    max-width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
    flex-direction: column;
  }
  .surcharge--shop--item-icon img {
    width: 50px;
    height: 50px;
  }
  .surcharge--shop--item-icon img,
  .surcharge--shop--item-icon span {
    vertical-align: middle;
    padding: 6px;
  }
  .surcharge--shop--item-icon span:nth-child(2) {
    color: #6a737b;
    font-weight: bold;
    font-size: 26px;
  }
  .surcharge--shop--item-icon span:nth-child(3) {
    color: #2b2b3b;
    font-weight: bold;
    font-size: 32px;
  }
  .surcharge--shop--item-description {
    color: #2b2b3b;
    font-size: 14px;
    text-align: center;
  }
  @media screen and (max-width: 1200px) {
    justify-content: space-around;
    .surcharge--shop--item {
      min-width: 290px;
      margin: 0 10px;
      @media screen and (max-width: 829px) {
        max-width: 100%;
      }
    }
  }
}